Repository foundryvtt/pf2e, pull requests merged in 2022-06, with the labels that each got.

#2341 Use `extractNotes` instead of `duplicate` when retrieving roll notes
  src/module/actor/character/index.ts
  src/module/actor/creature/index.ts
  src/module/actor/npc/index.ts
  src/module/item/runes.ts
  src/module/notes.ts
  src/module/rules/rule-element/roll-note.ts
  src/module/rules/util.ts
  src/module/system/damage/weapon.ts
Labels: mr::bugfix

#2343 Require weapon with reload 0 for double-shot/triple-shot
  packs/data/feat-effects.db/stance-multishot-stance.json
  packs/data/feats.db/double-shot.json
  packs/data/feats.db/triple-shot.json
Labels: mr::data update

#2348 Remove no-longer-relevant build scripts/configs
  .tool-versions
  updatebuildno.js
Labels: mr::housekeeping

#2347 Remove more uses of `duplicate`
  src/module/item/base.ts
  src/module/item/consumable/spell-consumables.ts
Labels: mr::housekeeping

#2346 Make fallback FlatModifier slug use item slug instead of label
  src/module/rules/rule-element/flat-modifier.ts
Labels: mr::enhancement

#2356 Correct Ghost Charge rule element
  packs/data/equipment.db/ghost-charge-greater.json
  packs/data/equipment.db/ghost-charge-lesser.json
  packs/data/equipment.db/ghost-charge-major.json
  packs/data/equipment.db/ghost-charge-moderate.json
Labels: mr::data update

#2342 Have animal instinct strikes require rage effect
  packs/data/classfeatures.db/ape-animal-instinct.json
  packs/data/classfeatures.db/bear-animal-instinct.json
  packs/data/classfeatures.db/bull-animal-instinct.json
  packs/data/classfeatures.db/cat-animal-instinct.json
  packs/data/classfeatures.db/deer-animal-instinct.json
  packs/data/classfeatures.db/frog-animal-instinct.json
  packs/data/classfeatures.db/shark-animal-instinct.json
  packs/data/classfeatures.db/snake-animal-instinct.json
  packs/data/classfeatures.db/wolf-animal-instinct.json
Labels: mr::data update

#2357 Clean up spell methods, move template preview code to spell class
  src/module/canvas/ghost-measured-template.ts
  src/module/chat-message/listeners/cards.ts
  src/module/item/base.ts
  src/module/item/spell/data/types.ts
  src/module/item/spell/index.ts
  src/module/item/spell/types.ts
  src/module/item/spell/values.ts
  src/scripts/ui/inline-roll-links.ts
Labels: mr::refactor

#2363 Expose longform actor skill names in actor.skills
  src/module/actor/character/index.ts
  src/module/actor/character/types.ts
  src/module/actor/creature/data.ts
  src/module/actor/creature/index.ts
  src/module/actor/familiar/index.ts
  src/module/actor/npc/index.ts
  src/module/actor/npc/skills-editor.ts
  static/templates/actors/familiar-sheet.html
Labels: mr::refactor

#2362 Add Adjust Modifier REs to Mighty Bulwark
  packs/data/feats.db/mighty-bulwark.json
  packs/scripts/run-migration.ts
  src/module/actor/character/index.ts
  src/module/actor/modifiers.ts
  src/module/migration/migrations/754-mighty-bulwark-adjust-modifiers.ts
  src/module/migration/migrations/index.ts
  src/module/migration/runner/base.ts
  src/module/system/statistic/index.ts
Labels: mr::data migration, mr::enhancement

#398 Add repair action macro
  packs/data/action-macros.db/repair-crafting.json
  src/module/actor/sheet/base.ts
  src/module/chat-message/listeners/cards.ts
  src/module/item/physical/index.ts
  src/module/system/action-macros/crafting/repair.ts
  src/module/system/action-macros/index.ts
  src/scripts/register-templates.ts
  src/scripts/set-game-pf2e.ts
  src/styles/system/actions/_index.scss
  src/styles/system/actions/repair.scss
  static/icons/actions/repair/unknown-item.webp
  static/lang/en.json
  static/templates/actors/partials/item-line.html
  static/templates/system/actions/repair/chat-button-partial.html
  static/templates/system/actions/repair/item-heading-partial.html
  static/templates/system/actions/repair/repair-result-partial.html
  static/templates/system/actions/repair/roll-damage-chat-message.html
  static/templates/system/actions/repair/select-item-dialog.html
Labels: mr::new feature

#2360 Add missing ghost ability fade
  packs/data/bestiary-family-ability-glossary.db/ghost-fade.json
Labels: mr::data entry

#2370 Fix regression with lore skills on NPC sheets
  src/module/actor/character/index.ts
  src/module/actor/creature/index.ts
  src/module/actor/npc/sheet.ts
  static/templates/actors/npc/forms/npc-skills-editor.html
Labels: mr::bugfix

#2366 Add Mindmurk Oil from PFS 1-23
  packs/data/equipment.db/mindmurk-oil.json
Labels: mr::data entry

#2394 Clear a few dozen anys in type definitions
  .betterer.results
  src/module/migration/migrations/616-migrate-feat-prerequisites.ts
  types/foundry/client/application/form-application/base.d.ts
  types/foundry/client/application/hud/container.d.ts
  types/foundry/client/application/sidebar/sidebar-tab/sidebar-directory/roll-table-directory.d.ts
  types/foundry/client/collections/world-collection/journal.d.ts
  types/foundry/client/core/audio.d.ts
  types/foundry/client/core/settings.d.ts
  types/foundry/client/core/socket.d.ts
  types/foundry/client/core/video.d.ts
  types/foundry/client/pixi/mouse-interaction-manager.d.ts
  types/foundry/client/ui/context.d.ts
  types/foundry/common/types.d.ts
Labels: mr::housekeeping

#2382 Generate NPC attacks for alternative usages of weapons
  src/module/actor/npc/index.ts
  src/module/actor/npc/sheet.ts
  src/module/item/weapon/index.ts
  src/module/item/weapon/values.ts
Labels: mr::enhancement

#2396 Fix Rest updates saving prepared PC data
  src/module/actor/character/data/types.ts
  src/module/actor/spellcasting.ts
  src/scripts/macros/rest-for-the-night.ts
Labels: mr::bugfix

#2399 Make some small corrections to Roll and PoolTerm type definitions
  types/foundry/client/roll-term/base.d.ts
  types/foundry/client/roll-term/dice-term/base.d.ts
  types/foundry/client/roll-term/dice-term/coin.d.ts
  types/foundry/client/roll-term/dice-term/die.d.ts
  types/foundry/client/roll-term/dice-term/fate-die.d.ts
  types/foundry/client/roll-term/index.d.ts
  types/foundry/client/roll-term/math-term.d.ts
  types/foundry/client/roll-term/numeric-term.d.ts
  types/foundry/client/roll-term/operator-term.d.ts
  types/foundry/client/roll-term/parenthetical-term.d.ts
  types/foundry/client/roll-term/pool-term.d.ts
  types/foundry/client/roll-term/string-term.d.ts
  types/foundry/client/roll.d.ts
  types/foundry/index.d.ts
Labels: mr::types update

#2397 Ensure max infused reagents is recalculated every data preparation cycle
  src/module/actor/character/index.ts
  src/module/migration/migrations/756-rm-stored-resource-maxes.ts
  src/module/migration/migrations/index.ts
  src/module/migration/runner/base.ts
Labels: mr::bugfix

#2393 Add support for damage dice downgrades
  src/module/rules/rule-element/damage-dice.ts
  src/module/system/damage/damage.ts
  src/module/system/damage/weapon.ts
  src/util/misc.ts
  tests/module/system/category.test.ts
  tests/module/utils.test.ts
Labels: mr::enhancement

#2408 Move PC-only method to @actor/character, set method return types
  src/module/actor/base.ts
  src/module/actor/character/index.ts
  src/module/actor/character/sheet.ts
  src/module/actor/creature/index.ts
  src/module/actor/npc/index.ts
  src/module/item/spell/data/index.ts
Labels: mr::housekeeping

#2359 Automate hobgoblin feats
  packs/data/actions.db/resist-elf-magic.json
  packs/data/feats.db/agonizing-rebuke.json
  packs/data/feats.db/cantorian-reinforcement.json
  packs/data/feats.db/hobgoblin-lore.json
  packs/data/feats.db/stone-face.json
  packs/data/feats.db/vigorous-health.json
  packs/data/feats.db/war-conditioning.json
  packs/data/heritages.db/steelskin-hobgoblin.json
  static/lang/re-en.json
Labels: mr::data update

#2413 Fix spelling of Metronomic Hammer and Gravelands Herbalist
  packs/data/equipment.db/metronomic-hammer.json
  packs/data/feats.db/gravelands-herbalist.json
Labels: mr::data update

#2414 Add labels to statistics and derive check labels via parent labels
  src/module/actor/character/index.ts
  src/module/actor/creature/index.ts
  src/module/actor/familiar/index.ts
  src/module/actor/hazard/index.ts
  src/module/actor/npc/index.ts
  src/module/item/spellcasting-entry/trick.ts
  src/module/system/action-macros/basic/sense-motive.ts
  src/module/system/statistic/data.ts
  src/module/system/statistic/index.ts
  src/module/system/text-editor.ts
  src/scripts/ui/inline-roll-links.ts
  static/lang/en.json
  static/templates/actors/spellcasting-dialog.html
Labels: mr::refactor

#2387 Update source and add knockdown for elderly giant tarantula in PFS 1-19
  packs/data/pfs-season-1-bestiary.db/elderly-giant-tarantula.json
Labels: mr::data update

#2371 Add Black Cat Curse effect and tweak a few EC NPCs
  packs/data/bestiary-effects.db/effect-black-cat-curse.json
  packs/data/extinction-curse-bestiary.db/bugul-noz.json
  packs/data/extinction-curse-bestiary.db/mistress-dusklight.json
  packs/data/extinction-curse-bestiary.db/skarja.json
Labels: adventure path, mr::data update

#2415 Always migrate familiars last
  src/module/migration/runner/index.ts
Labels: mr::bugfix

#2418 Add Peachwood Talisman
  packs/data/equipment.db/peachwood-talisman.json
Labels: mr::data entry, core rulebooks

#2419 Make actor.skills short form versions into getters
  src/module/actor/character/index.ts
  src/module/actor/creature/index.ts
  src/module/actor/data/values.ts
  static/templates/actors/character/tabs/proficiencies.html
Labels: mr::refactor

#2416 Purge "nethysUrl" field in packs
  packs/data/pfs-season-1-bestiary.db/jury-rigged-annihilator.json
  packs/data/pfs-season-1-bestiary.db/malfunctioning-annihilator.json
  packs/data/pfs-season-1-bestiary.db/spitting-acid-bushes-5-6.json
  packs/data/pfs-season-1-bestiary.db/spitting-acid-bushes-7-8.json
  packs/data/pfs-season-1-bestiary.db/steaming-fields-5-6.json
  packs/data/pfs-season-1-bestiary.db/steaming-fields-7-8.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/cave-in.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/falling-stalactites.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/hall-of-fiery-doom.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/methane-flue.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/oil-explosion.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/punishing-altar.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/rockfall-ceiling.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/shattering-rune.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/soul-draining-cage.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/spectral-archers.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/tar-pit.json
  packs/data/strength-of-thousands-bestiary.db/venom-pool.json
Labels: mr::data update, mr::housekeeping

#2417 Purge derived data from `Bloody Vortex`
  packs/data/one-shot-bestiary.db/giant-pirate-skeleton.json
  packs/data/pfs-season-2-bestiary.db/bloody-vortex-3-4.json
  packs/data/pfs-season-2-bestiary.db/bloody-vortex-5-6.json
  packs/data/pfs-season-2-bestiary.db/demonplague-zombie.json
  packs/data/pfs-season-2-bestiary.db/mercenary-trapper-3-4.json
Labels: mr::data entry, pathfinder society

#2424 Make ItemPF2e.calculateMap a separate helper function
  src/module/actor/character/index.ts
  src/module/actor/helpers.ts
  src/module/actor/npc/index.ts
  src/module/item/base.ts
  src/module/system/statistic/index.ts
Labels: mr::refactor

#2423 Refresh Kellsti (Paizo pregen)
  packs/data/paizo-pregens.db/kellsti.json
Labels: mr::data update

#2432 Add/upgrade some weapon icons
  packs/data/equipment.db/fighting-stick.json
  packs/data/equipment.db/final-rest.json
  static/icons/equipment/weapons/fighting-stick.webp
  static/icons/equipment/weapons/rungu.webp
  static/icons/equipment/weapons/scourge.webp
  static/icons/equipment/weapons/sling.webp
  static/icons/equipment/weapons/specific-magic-weapons/final-rest.webp
  static/icons/equipment/weapons/war-razor.webp
Labels: mr::data update

#2433 Fix definition of CONFIG.Dice.termTypes
  types/foundry/client/config.d.ts
Labels: mr::types update

#2420 Remove errant "Attack of Opportunity (Fighter)" feat
  packs/data/actions.db/step.json
  packs/data/classes.db/fighter.json
  packs/data/feats.db/attack-of-opportunity-fighter.json
  packs/data/feats.db/combat-reflexes.json
  packs/data/feats.db/disruptive-stance.json
  packs/data/feats.db/impassable-wall-stance.json
  packs/data/feats.db/mobile-shot-stance.json
  packs/data/feats.db/opportunist.json
  packs/data/iconics.db/valeros-level-1.json
  packs/data/iconics.db/valeros-level-3.json
  packs/data/iconics.db/valeros-level-5.json
  packs/data/paizo-pregens.db/jadren-tagar.json
  packs/data/paizo-pregens.db/kalaggi-nakutu.json
  packs/data/paizo-pregens.db/kangir.json
  packs/data/paizo-pregens.db/simeek.json
  packs/data/paizo-pregens.db/valeros-beginner-box.json
Labels: mr::data update

#2431 Update brimstone rat and bugbear marauder
  packs/data/troubles-in-otari-bestiary.db/brimstone-rat.json
  packs/data/troubles-in-otari-bestiary.db/bugbear-marauder.json
Labels: mr::data update

#2428 Touch up browser styling with TAH (and its tagify dependency) disabled
  src/styles/packs/_tab.scss
  src/styles/packs/_tagify.scss
Labels: mr::bugfix

#2427 Include 3rd alternative usage in WeaponPF2e#getAltUsages when applicable
  src/module/item/weapon/index.ts
Labels: mr::bugfix

#2434 Prevent buttons from retaining focus when clicked
  src/scripts/hooks/load.ts
Labels: mr::bugfix

#2439 Set deletion keys at top level of actor source in migration
  packs/scripts/run-migration.ts
  src/module/migration/migrations/756-rm-stored-resource-maxes.ts
Labels: mr::bugfix

#2440 Migrate away inadvertently stored PC attributes data
  src/module/migration/migrations/758-prune-pc-attributes.ts
  src/module/migration/migrations/index.ts
  src/module/migration/runner/base.ts
  static/template.json
Labels: mr::data migration

#2435 Update omblin-leadbuster.json
  packs/data/troubles-in-otari-bestiary.db/omblin-leadbuster.json
Labels: mr::data update

#2457 Update OpenGameLicense.md
  static/licenses/OpenGameLicense.md
Labels: mr::housekeeping

#2351 Add NPCs and Hazards from PFS 2-22
  packs/data/pfs-season-2-bestiary.db/collapsing-ramp-7-8.json
  packs/data/pfs-season-2-bestiary.db/collapsing-ramp-9-10.json
  packs/data/pfs-season-2-bestiary.db/cyclops-bodak.json
  packs/data/pfs-season-2-bestiary.db/disciple-of-urxehl-7-8.json
  packs/data/pfs-season-2-bestiary.db/disciple-of-urxehl-9-10.json
  packs/data/pfs-season-2-bestiary.db/drandle-dreng-7-8.json
  packs/data/pfs-season-2-bestiary.db/drandle-dreng-9-10.json
  packs/data/pfs-season-2-bestiary.db/drandlesticks-7-8.json
  packs/data/pfs-season-2-bestiary.db/drandlesticks-9-10.json
  packs/data/pfs-season-2-bestiary.db/urxehls-firestorm-7-8.json
  packs/data/pfs-season-2-bestiary.db/urxehls-firestorm-9-10.json
Labels: mr::data entry, mr::data update, source::pathfinder society

#2461 Update URLs in system pointing to gitlab
  src/scripts/hooks/render-settings.ts
  static/lang/en.json
Labels: mr::housekeeping

#2460 Prevent spell data from being wiped on item permission updates
  src/module/item/spell/index.ts
Labels: mr::bugfix

#2462 Use traitSlugToObject when processing weapon trait view data for strikes
  src/module/system/rolls.ts
Labels: mr::bugfix

#2463 Add icon for Bubbling Scale
  packs/data/equipment.db/bubbling-scale.json
  static/icons/equipment/consumables/other-consumables/bubbling-scale.webp
Labels: mr::data update

#2436 Audit Ralldar (Age of Ashes)
  packs/data/age-of-ashes-bestiary.db/ralldar.json
  packs/data/bestiary-family-ability-glossary.db/greater-barghest-mutation-poison-fangs.json
Labels: source::adventure path, mr::data update

#2467 Set expert deity's weapon proficiency in correct warpriest doctrine
  packs/data/classfeatures.db/fourth-doctrine-warpriest.json
  packs/data/classfeatures.db/third-doctrine-warpriest.json
Labels: mr::data update

#2465 Preserve search text when resetting filters in compendium browser
  src/module/apps/compendium-browser/tabs/base.ts
Labels: mr::enhancement

#2469 Adds grantItem for reactions for champion subtypes
  packs/data/classfeatures.db/antipaladin.json
  packs/data/classfeatures.db/desecrator.json
  packs/data/classfeatures.db/liberator.json
  packs/data/classfeatures.db/paladin.json
  packs/data/classfeatures.db/redeemer.json
  packs/data/classfeatures.db/tyrant.json
Labels: mr::enhancement, source::core rulebooks

#2483 Inspect weapon traits array for damage-affecting traits
  src/module/system/damage/weapon.ts
Labels: mr::bugfix

#2488 Ensure sufficient item roll options are present in NPC attacks
  src/module/actor/npc/index.ts
  src/module/item/melee/index.ts
  src/module/item/physical/index.ts
  src/module/item/weapon/index.ts
  src/module/system/damage/weapon.ts
Labels: mr::bugfix

#2476 Handle null price values for Coins
  src/module/item/physical/helpers.ts
  src/module/migration/migrations/746-standardize-pricing.ts
Labels: mr::bugfix

#2490 Validate actor size in pack builder, soften handling in ActorSizePF2e
  packs/data/pfs-season-2-bestiary.db/yeth-warbeast.json
  packs/scripts/packman/compendium-pack.ts
  src/module/actor/data/size.ts
Labels: mr::enhancement

#2491 Show strike description in new hazard sheet
  static/templates/actors/hazard/sheet-new.html
Labels: mr::bugfix

#2497 When owned container is deleted, update contents' containerId references
  src/module/item/base.ts
  src/module/item/container/index.ts
  src/module/item/physical/index.ts
Labels: mr::bugfix

#2487 Fix HP details field of Ice Mephit and Yamaraj
  packs/data/pathfinder-bestiary-2.db/ice-mephit.json
  packs/data/pathfinder-bestiary-2.db/yamaraj.json
Labels: mr::data update

#2502 Remove automatic triggering of github CD script
  .github/workflows/cd.yml
Labels: mr::housekeeping

#2505 Make corrections to Elephant Form effect, link from spell description
  packs/data/spell-effects.db/spell-effect-dinosaur-form-deinonychus.json
  packs/data/spell-effects.db/spell-effect-dinosaur-form-triceratops.json
  packs/data/spell-effects.db/spell-effect-elephant-form.json
  packs/data/spells.db/elephant-form.json
  src/module/rules/rule-element/battle-form/rule-element.ts
  static/icons/spells/elephant-form.webp
  static/icons/unarmed-attacks/trunk.webp
  static/icons/unarmed-attacks/tusk.webp
  static/lang/re-en.json
Labels: mr::data update

#2455 Automate human feats
  packs/data/feat-effects.db/effect-saoc-astrology.json
  packs/data/feats.db/devils-advocate.json
  packs/data/feats.db/heir-of-the-saoc.json
  packs/data/feats.db/irriseni-ice-witch.json
  packs/data/feats.db/keep-up-appearances.json
  packs/data/feats.db/life-giving-magic.json
  packs/data/feats.db/sense-allies.json
  packs/data/feats.db/shadow-pact.json
  packs/data/feats.db/shory-aerialist.json
  packs/data/feats.db/stubborn-persistence.json
  packs/data/feats.db/viking-shieldbearer.json
  packs/data/feats.db/wavetouched-paragon.json
  packs/data/feats.db/witch-warden.json
  static/lang/re-en.json
Labels: mr::data update

#2510 Organize inventory bulk closer to ActorInventory
  src/module/actor/character/sheet.ts
  src/module/actor/inventory/bulk.ts
  src/module/actor/inventory/index.ts
  src/module/actor/sheet/base.ts
  src/module/actor/sheet/data-types.ts
  src/module/item/container/index.ts
  src/module/item/physical/bulk.ts
  src/module/item/physical/encumbrance.ts
  static/templates/actors/character/tabs/inventory.html
  tests/module/item/encumbrance.test.ts
Labels: mr::refactor

#2511 Restore legacy support for RE predication checking "attack" trait
  src/module/actor/creature/index.ts
Labels: mr::bugfix

#2531 Move PC skill preparation to its own method
  src/module/actor/character/data/types.ts
  src/module/actor/character/index.ts
Labels: mr::refactor

#2535 Use long forms when making skill checks from creature sheets
  src/module/actor/creature/sheet.ts
  src/module/actor/familiar/sheet.ts
  src/module/actor/npc/sheet.ts
Labels: mr::bugfix

#2519 Move fake MigrationBase methods to interface as optional methods
  src/module/migration/base.ts
  src/module/migration/runner/base.ts
  src/module/rules/rule-element/grant-item/base.ts
Labels: mr::refactor

#2517 Skip running pre-create callbacks on reevaluated item grants
  src/module/rules/rule-element/data.ts
  src/module/rules/rule-element/grant-item/base.ts
Labels: mr::bugfix

#2533 Cover two gaps in modifier adjustments getting applied
  src/module/actor/base.ts
  src/module/actor/creature/index.ts
Labels: mr::bugfix

#2516 Fix players not being able to see save DCs from their own spells
  src/module/chat-message/index.ts
  src/module/system/text-editor.ts
  src/scripts/ui/user-visibility.ts
Labels: mr::bugfix

#2486 Add complex hazards from Book of the Dead
  packs/data/book-of-the-dead-bestiary.db/entombed-spirit.json
  packs/data/book-of-the-dead-bestiary.db/ghost-stampede.json
  packs/data/book-of-the-dead-bestiary.db/grasping-dead.json
  packs/data/book-of-the-dead-bestiary.db/sadistic-conductor.json
  packs/data/book-of-the-dead-bestiary.db/siphoning-spirit.json
  packs/data/book-of-the-dead-bestiary.db/spirit-cyclone.json
Labels: mr::data entry, source::core rulebooks

#2538 Include modifier adjustments and roll substitutions in action macros
  src/module/system/action-macros/helpers.ts
Labels: mr::bugfix

#2540 Fix description and rune on Victory Plate (Greater)
  packs/data/equipment.db/victory-plate-greater.json
Labels: mr::data update

#2459 Updates to NPCs for FoP
  packs/data/fall-of-plaguestone.db/alchemical-drudge.json
  packs/data/fall-of-plaguestone.db/bee-swarm.json
  packs/data/fall-of-plaguestone.db/fiery-leopard.json
  packs/data/fall-of-plaguestone.db/icy-rat.json
  packs/data/fall-of-plaguestone.db/mangy-wolf.json
  packs/data/fall-of-plaguestone.db/mutant-wolf.json
Labels: mr::data update, source::adventures

#2541 Include sluggified name in spellcasting roll options for homebrew REs
  src/module/item/spellcasting-entry/index.ts
Labels: mr::enhancement

#2458 Audit of Orc NPCs from FoP
  packs/data/fall-of-plaguestone.db/graytusk.json
  packs/data/fall-of-plaguestone.db/lord-nar.json
  packs/data/fall-of-plaguestone.db/orc-alchemist.json
  packs/data/fall-of-plaguestone.db/the-sculptor.json
Labels: mr::data update, source::adventures

#2464 Update NPCs for Fall of Plaguestone
  packs/data/bestiary-effects.db/effect-alchemical-crossbow.json
  packs/data/equipment.db/energy-mutagen-greater.json
  packs/data/equipment.db/energy-mutagen-lesser.json
  packs/data/equipment.db/energy-mutagen-major.json
  packs/data/equipment.db/energy-mutagen-moderate.json
  packs/data/fall-of-plaguestone.db/the-amalgam.json
  packs/data/fall-of-plaguestone.db/the-behemoth.json
  packs/data/fall-of-plaguestone.db/vilree.json
Labels: mr::data update, source::adventures

#2353 update PFS 2-12 NPCs and add missing hazard
  packs/data/pathfinder-bestiary-2.db/giant-ant.json
  packs/data/pfs-season-2-bestiary.db/artennod-raike-3-4.json
  packs/data/pfs-season-2-bestiary.db/artennod-raike-5-6.json
  packs/data/pfs-season-2-bestiary.db/aspis-guard.json
  packs/data/pfs-season-2-bestiary.db/aspis-veteran-guard.json
  packs/data/pfs-season-2-bestiary.db/debilitated-bulette.json
  packs/data/pfs-season-2-bestiary.db/electric-lock-rune.json
  packs/data/pfs-season-2-bestiary.db/giant-worker-ant.json
  packs/data/pfs-season-2-bestiary.db/greeleep-3-4.json
  packs/data/pfs-season-2-bestiary.db/greeleep-5-6.json
  packs/data/pfs-season-2-bestiary.db/master-sergeant-morgroar-3-4.json
  packs/data/pfs-season-2-bestiary.db/master-sergeant-morgroar-5-6.json
Labels: mr::data entry, mr::data update, source::pathfinder society

#2557 Move RE pre-create and pre-delete params to namespace
  src/module/rules/rule-element/base.ts
  src/module/rules/rule-element/choice-set/rule-element.ts
  src/module/rules/rule-element/data.ts
  src/module/rules/rule-element/grant-item/base.ts
  src/module/rules/rule-element/index.ts
Labels: mr::refactor

#2558 Automatically add "battle-form" predicate to other REs on same item
  packs/data/spell-effects.db/spell-effect-plant-form-flytrap.json
  src/module/rules/rule-element/battle-form/rule-element.ts
Labels: mr::enhancement

#2561 Separate NPC system data and source
  src/module/actor/character/data/types.ts
  src/module/actor/creature/data.ts
  src/module/actor/creature/index.ts
  src/module/actor/familiar/data.ts
  src/module/actor/npc/data.ts
  src/module/actor/npc/index.ts
  src/module/actor/npc/types.ts
  src/module/migration/migrations/683-flavortext-to-public-notes.ts
  src/module/migration/migrations/712-actor-shield-structure.ts
Labels: mr::types update

#2564 Remove suggestion limit from PickAThingPrompt
  src/module/apps/pick-a-thing-prompt.ts
Labels: mr::enhancement

#2562 Tighten type of SKILL_EXPANDED
  src/module/actor/data/values.ts
  src/module/actor/npc/index.ts
  src/module/actor/npc/skills-editor.ts
  src/module/system/action-macros/helpers.ts
  src/module/system/text-editor.ts
  src/scripts/ui/inline-roll-links.ts
Labels: mr::refactor

#2559 Remove "battle-form" from predicates on items containing BattleForm REs
  packs/data/feat-effects.db/effect-rampaging-form-frozen-winds-kitsune.json
  packs/data/feat-effects.db/effect-rampaging-form.json
  packs/data/spell-effects.db/spell-effect-aberrant-form-chuul.json
  packs/data/spell-effects.db/spell-effect-aberrant-form-gogiteth.json
  packs/data/spell-effects.db/spell-effect-aberrant-form-gug.json
  packs/data/spell-effects.db/spell-effect-aerial-form-bat.json
  packs/data/spell-effects.db/spell-effect-aerial-form-bird.json
  packs/data/spell-effects.db/spell-effect-aerial-form-pterosaur.json
  packs/data/spell-effects.db/spell-effect-aerial-form-wasp.json
  packs/data/spell-effects.db/spell-effect-angel-form-balisse.json
  packs/data/spell-effects.db/spell-effect-angel-form-choral.json
  packs/data/spell-effects.db/spell-effect-angel-form-monadic-deva.json
  packs/data/spell-effects.db/spell-effect-angel-form-movanic-deva.json
  packs/data/spell-effects.db/spell-effect-animal-form-snake.json
  packs/data/spell-effects.db/spell-effect-cosmic-form-moon.json
  packs/data/spell-effects.db/spell-effect-cosmic-form-sun.json
  packs/data/spell-effects.db/spell-effect-daemon-form-ceustodaemon.json
  packs/data/spell-effects.db/spell-effect-daemon-form-leukodaemon.json
  packs/data/spell-effects.db/spell-effect-daemon-form-meladaemon.json
  packs/data/spell-effects.db/spell-effect-daemon-form-piscodaemon.json
  packs/data/spell-effects.db/spell-effect-demon-form-hezrou.json
  packs/data/spell-effects.db/spell-effect-demon-form-nabasu.json
  packs/data/spell-effects.db/spell-effect-demon-form-vrock.json
  packs/data/spell-effects.db/spell-effect-devil-form-barbazu.json
  packs/data/spell-effects.db/spell-effect-devil-form-erinys.json
  packs/data/spell-effects.db/spell-effect-devil-form-osyluth.json
  packs/data/spell-effects.db/spell-effect-devil-form-sarglagon.json
  packs/data/spell-effects.db/spell-effect-dinosaur-form-deinonychus.json
  packs/data/spell-effects.db/spell-effect-dinosaur-form-triceratops.json
  packs/data/spell-effects.db/spell-effect-dragon-form-black.json
  packs/data/spell-effects.db/spell-effect-dragon-form-blue.json
  packs/data/spell-effects.db/spell-effect-dragon-form-brass.json
  packs/data/spell-effects.db/spell-effect-dragon-form-bronze.json
  packs/data/spell-effects.db/spell-effect-dragon-form-copper.json
  packs/data/spell-effects.db/spell-effect-dragon-form-gold.json
  packs/data/spell-effects.db/spell-effect-dragon-form-green.json
  packs/data/spell-effects.db/spell-effect-dragon-form-red.json
  packs/data/spell-effects.db/spell-effect-dragon-form-silver.json
  packs/data/spell-effects.db/spell-effect-dragon-form-white.json
  packs/data/spell-effects.db/spell-effect-elemental-form-fire.json
  packs/data/spell-effects.db/spell-effect-elemental-form-water.json
  packs/data/spell-effects.db/spell-effect-elephant-form.json
  packs/data/spell-effects.db/spell-effect-fey-form-elananx.json
  packs/data/spell-effects.db/spell-effect-fey-form-unicorn.json
  packs/data/spell-effects.db/spell-effect-insect-form-centipede.json
  packs/data/spell-effects.db/spell-effect-insect-form-scorpion.json
  packs/data/spell-effects.db/spell-effect-insect-form-spider.json
  packs/data/spell-effects.db/spell-effect-monstrosity-form-phoenix.json
  packs/data/spell-effects.db/spell-effect-monstrosity-form-purple-worm.json
  packs/data/spell-effects.db/spell-effect-ooze-form-black-pudding.json
  packs/data/spell-effects.db/spell-effect-ooze-form-gelatinous-cube.json
  packs/data/spell-effects.db/spell-effect-ooze-form-gray-ooze.json
  packs/data/spell-effects.db/spell-effect-ooze-form-ochre-jelly.json
Labels: mr::data update

#2569 Fix typo in Scrying
  packs/data/spells.db/scrying.json
Labels: mr::data update

#2567 Update Holy and Unholy Water Items to be Weapons
  packs/data/equipment.db/holy-water.json
  packs/data/equipment.db/unholy-water.json
Labels: mr::data update

#2566 Add manipulate trait when striking with alchemical bombs
  src/module/actor/character/index.ts
  src/module/actor/creature/index.ts
Labels: mr::bugfix

#2568 Work around damage roll code failing to correctly add kh modifier
  src/module/system/damage/roll-dialog.ts
Labels: mr::bugfix

#2572 Warn about mode before priority for AELike
  src/module/rules/rule-element/ae-like.ts
Labels: mr::bugfix

#2573 Fix permissions on a trio of action macros
  packs/data/action-macros.db/encouraging-words.json
  packs/data/action-macros.db/steel-your-resolve.json
  packs/data/action-macros.db/whirling-throw-athletics.json
Labels: mr::data update

#2577 Prevent prone and flat footed condition leaks on repeat unconciousness
  src/module/system/conditions/manager.ts
Labels: mr::bugfix

#2580 Refine behavior of token-stack cycling
  src/module/canvas/layer/token.ts
Labels: mr::bugfix

#2581 Split text in NPC speed field to the detail field
  packs/data/age-of-ashes-bestiary.db/soulbound-ruin.json
  packs/data/book-of-the-dead-bestiary.db/geist.json
  packs/data/book-of-the-dead-bestiary.db/grappling-spirit.json
  packs/data/book-of-the-dead-bestiary.db/obrousian.json
  packs/data/book-of-the-dead-bestiary.db/sykever.json
  packs/data/monsters-of-myth-bestiary.db/somnalu-oculus.json
  packs/data/monsters-of-myth-bestiary.db/spectral-devil.json
  packs/data/npc-gallery.db/rain-scribe.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/graylok-artillerists.json
  packs/data/strength-of-thousands-bestiary.db/apocalypse-ant-swarm.json
  packs/data/strength-of-thousands-bestiary.db/taapundo.json
Labels: mr::data update

#2584 Localize fortune/misfortune traits when added via check dialog
  src/module/system/rolls.ts
Labels: mr::bugfix

#2586 Dynamically prevent invalid items from being dragged onto actors
  src/module/actor/base.ts
  src/module/actor/character/index.ts
  src/module/actor/creature/index.ts
  src/module/actor/hazard/index.ts
  src/module/actor/loot/index.ts
  src/module/actor/npc/index.ts
  src/module/actor/sheet/base.ts
Labels: mr::bugfix, mr::enhancement

#2585 Show ChoiceSet homebrew drop in select menu
  src/module/apps/pick-a-thing-prompt.ts
  src/module/rules/rule-element/choice-set/prompt.ts
Labels: mr::enhancement, ui/ux

#2590 Include strike-damage as a roll-option domain
  src/module/actor/creature/index.ts
Labels: mr::enhancement

#2589 Automate Grasping Reach
  packs/data/feats.db/grasping-reach.json
Labels: mr::data update

#2575 Automate Mark for Death Action
  packs/data/actions.db/mark-for-death.json
  static/lang/re-en.json
Labels: mr::data update

#2473 Add ability score builder UI
  src/module/actor/base.ts
  src/module/actor/character/data/types.ts
  src/module/actor/character/index.ts
  src/module/actor/character/sheet.ts
  src/module/actor/creature/sheet.ts
  src/module/actor/sheet/popups/ability-builder.ts
  src/module/item/ancestry/data.ts
  src/module/item/ancestry/index.ts
  src/module/item/background/data.ts
  src/module/item/background/index.ts
  src/module/item/class/data.ts
  src/module/item/class/index.ts
  src/scripts/handlebars.ts
  src/scripts/register-templates.ts
  src/styles/actor/_index.scss
  src/styles/actor/character/_ability-builder.scss
  src/styles/actor/character/_character.scss
  static/lang/en.json
  static/template.json
  static/templates/actors/ability-builder.html
  static/templates/actors/character/partials/abilities.html
  static/templates/actors/character/tabs/general.html
Labels: mr::new feature

#2593 Make familiar sheet inherit from creature sheet
  src/module/actor/creature/sheet.ts
  src/module/actor/familiar/index.ts
  src/module/actor/familiar/sheet.ts
  src/module/actor/familiar/types.ts
  src/module/actor/sheet/item-summary-renderer.ts
  src/styles/actor/familiar/_index.scss
  static/templates/actors/familiar-sheet.html
Labels: mr::refactor

#2587 Retrieve context clone when assessing actor in action-macro rolls
  src/module/system/action-macros/helpers.ts
Labels: mr::bugfix

#2597 Make polish pass on ability builder UI
  src/module/item/class/index.ts
  src/styles/_fonts.scss
  src/styles/actor/character/_ability-builder.scss
  src/styles/actor/character/_character.scss
  static/lang/en.json
  static/templates/actors/ability-builder.html
Labels: ui/ux

#2601 Add levels to descriptions of barbarian instincts like champions
  packs/data/classfeatures.db/animal-instinct.json
  packs/data/classfeatures.db/ape-animal-instinct.json
  packs/data/classfeatures.db/bear-animal-instinct.json
  packs/data/classfeatures.db/black-dragon-instinct.json
  packs/data/classfeatures.db/blue-dragon-instinct.json
  packs/data/classfeatures.db/brass-dragon-instinct.json
  packs/data/classfeatures.db/bronze-dragon-instinct.json
  packs/data/classfeatures.db/bull-animal-instinct.json
  packs/data/classfeatures.db/cat-animal-instinct.json
  packs/data/classfeatures.db/copper-dragon-instinct.json
  packs/data/classfeatures.db/deer-animal-instinct.json
  packs/data/classfeatures.db/dragon-instinct.json
  packs/data/classfeatures.db/frog-animal-instinct.json
  packs/data/classfeatures.db/fury-instinct.json
  packs/data/classfeatures.db/giant-instinct.json
  packs/data/classfeatures.db/gold-dragon-instinct.json
  packs/data/classfeatures.db/green-dragon-instinct.json
  packs/data/classfeatures.db/red-dragon-instinct.json
  packs/data/classfeatures.db/shark-animal-instinct.json
  packs/data/classfeatures.db/silver-dragon-instinct.json
  packs/data/classfeatures.db/snake-animal-instinct.json
  packs/data/classfeatures.db/spirit-instinct.json
  packs/data/classfeatures.db/superstition-instinct.json
  packs/data/classfeatures.db/white-dragon-instinct.json
  packs/data/classfeatures.db/wolf-animal-instinct.json
Labels: mr::data update

#2603 Add remotely finished data entry for June
  packs/data/equipment.db/blast-lance-greater.json
  packs/data/equipment.db/blast-lance.json
  packs/data/equipment.db/blast-suit.json
  packs/data/equipment.db/corpse-compass.json
  packs/data/equipment.db/corpsecaller-round.json
  packs/data/equipment.db/effervescent-decoction.json
  packs/data/equipment.db/erraticannon.json
  packs/data/equipment.db/hex-blaster.json
  packs/data/equipment.db/lawbringers-lasso.json
  packs/data/equipment.db/mana-rattler-liniment.json
  packs/data/equipment.db/mutagenic-renovator.json
  packs/data/equipment.db/redeemers-pistol.json
  packs/data/equipment.db/reducer-round.json
  packs/data/equipment.db/skull-bomb.json
  packs/data/outlaws-of-alkenstar-bestiary.db/alethsia.json
  packs/data/outlaws-of-alkenstar-bestiary.db/anjelique-loveless.json
  packs/data/outlaws-of-alkenstar-bestiary.db/atticus.json
  packs/data/outlaws-of-alkenstar-bestiary.db/broken-centurion.json
  packs/data/outlaws-of-alkenstar-bestiary.db/captured-dezullon.json
  packs/data/outlaws-of-alkenstar-bestiary.db/chemical-zombie.json
  packs/data/outlaws-of-alkenstar-bestiary.db/clockwork-buccaneer.json
  packs/data/outlaws-of-alkenstar-bestiary.db/clockwork-puppeteer.json
  packs/data/outlaws-of-alkenstar-bestiary.db/clockwork-shambler-horde.json
  packs/data/outlaws-of-alkenstar-bestiary.db/clockwork-shambler.json
  packs/data/outlaws-of-alkenstar-bestiary.db/corrupt-shieldmarshal-clan-pistol.json
  packs/data/outlaws-of-alkenstar-bestiary.db/corrupt-shieldmarshal-jezail.json
  packs/data/outlaws-of-alkenstar-bestiary.db/cranium-preserver.json
  packs/data/outlaws-of-alkenstar-bestiary.db/disgorged-zombie.json
  packs/data/outlaws-of-alkenstar-bestiary.db/glass-buccaneer.json
  packs/data/outlaws-of-alkenstar-bestiary.db/glass-elephant.json
  packs/data/outlaws-of-alkenstar-bestiary.db/glass-sentry.json
  packs/data/outlaws-of-alkenstar-bestiary.db/gremlin-horde.json
  packs/data/outlaws-of-alkenstar-bestiary.db/headless-rustler.json
  packs/data/outlaws-of-alkenstar-bestiary.db/ibrium.json
  packs/data/outlaws-of-alkenstar-bestiary.db/leadsmith.json
  packs/data/outlaws-of-alkenstar-bestiary.db/mutant-bat.json
  packs/data/outlaws-of-alkenstar-bestiary.db/ogre-slug.json
  packs/data/outlaws-of-alkenstar-bestiary.db/parus.json
  packs/data/outlaws-of-alkenstar-bestiary.db/pyronite-ooze.json
  packs/data/outlaws-of-alkenstar-bestiary.db/shock-zombie.json
  packs/data/outlaws-of-alkenstar-bestiary.db/skeletal-crocodile.json
  packs/data/outlaws-of-alkenstar-bestiary.db/smog-wraith.json
  packs/data/outlaws-of-alkenstar-bestiary.db/vewslog.json
Labels: mr::data entry

#2583 Review B3 - azarketi explorer, azer, bauble beast, baykok
  packs/data/pathfinder-bestiary-3.db/azarketi-explorer.json
  packs/data/pathfinder-bestiary-3.db/azer.json
  packs/data/pathfinder-bestiary-3.db/bauble-beast.json
  packs/data/pathfinder-bestiary-3.db/baykok.json
  static/lang/re-en.json
Labels: mr::data update, source::core rulebooks

#2565 Automate kobold feats, and kitsune action
  packs/data/actions.db/invoke-celestial-privilege.json
  packs/data/feats.db/between-the-scales.json
  packs/data/feats.db/briar-battler.json
  packs/data/feats.db/cringe.json
  packs/data/feats.db/draconic-sycophant.json
  packs/data/feats.db/dragonblood-paragon.json
  packs/data/feats.db/dragons-breath.json
  packs/data/feats.db/dragons-presence.json
  packs/data/feats.db/kobold-lore.json
  packs/data/feats.db/scamper.json
  packs/data/feats.db/slither.json
  packs/data/feats.db/snare-setter.json
  packs/data/feats.db/vicious-snares.json
  packs/data/feats.db/wyrmling-flight.json
  static/lang/re-en.json
Labels: mr::data update, source::core rulebooks

#2503 Add familiar abilities for Divine Emissary feat
  packs/data/familiar-abilities.db/erudite.json
  packs/data/familiar-abilities.db/luminous.json
  packs/data/familiar-abilities.db/medic.json
  packs/data/familiar-abilities.db/radiant.json
  packs/data/feats.db/divine-emissary.json
Labels: mr::data entry

#2358 Add effects for Aquatic Combat
  packs/data/feature-effects.db/effect-aquatic-combat-no-swim-speed.json
  packs/data/feature-effects.db/effect-aquatic-combat.json
Labels: mr::data entry

#2606 Review B3 - bone ship
  packs/data/bestiary-effects.db/effect-blood-wake.json
  packs/data/pathfinder-bestiary-3.db/bone-ship.json
Labels: mr::data update, source::core rulebooks

#2532 Review B3 - draconal
  packs/data/pathfinder-bestiary-3.db/draconal-red.json
Labels: mr::data update, source::core rulebooks

#2621 Support increment/decrement/source for conditions in the familiar sheet
  src/module/actor/character/sheet.ts
  src/module/actor/creature/sheet.ts
  src/module/actor/creature/types.ts
  src/module/actor/npc/sheet.ts
  src/module/actor/npc/types.ts
  src/scripts/register-templates.ts
  src/styles/actor/character/_effects.scss
  src/styles/actor/familiar/_index.scss
  src/styles/mixins/_effects-list.scss
  static/templates/actors/character/tabs/effects.html
  static/templates/actors/familiar-sheet.html
  static/templates/actors/npc/tabs/effects.html
  static/templates/actors/partials/conditions.html
  static/templates/actors/partials/dying-pips.html
Labels: mr::enhancement, mr::refactor

#2623 Fix wounded cap with diehard
  src/module/actor/character/data/types.ts
  src/module/actor/character/index.ts
  src/module/actor/creature/data.ts
  src/module/actor/creature/index.ts
Labels: mr::bugfix

#2549 Add exploration effects for scouting and follow the expert
  packs/data/actions.db/follow-the-expert.json
  packs/data/actions.db/scout.json
  packs/data/exploration-effects.db/effect-follow-the-expert.json
  packs/data/exploration-effects.db/effect-scouting-incredible-scout.json
  packs/data/exploration-effects.db/effect-scouting.json
  packs/data/feats.db/incredible-scout.json
  static/lang/re-en.json
  system.json
Labels: mr::data update

#2624 Catch up recent data updates on compendium migrations
  packs/data/feats.db/between-the-scales.json
  packs/data/outlaws-of-alkenstar-bestiary.db/leadsmith.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/graylok-artillerists.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/graylok-gatebreakers.json
Labels: mr::data update

#2625 Apply cap to wounded/dying/doomed from all sources
  src/module/system/conditions/manager.ts
Labels: mr::bugfix

#2514 Review B3 - abandoned zealot, adlet, amalgamite, amphisbaena
  packs/data/pathfinder-bestiary-3.db/abandoned-zealot.json
  packs/data/pathfinder-bestiary-3.db/adlet.json
  packs/data/pathfinder-bestiary-3.db/amalgamite.json
  packs/data/pathfinder-bestiary-3.db/amphisbaena.json
Labels: mr::data update, source::core rulebooks

#2628 Adjust dying max based on current doomed value
  src/module/actor/character/data/sheet.ts
  src/module/actor/character/index.ts
  src/module/actor/character/sheet.ts
  src/module/actor/creature/index.ts
  src/module/actor/creature/sheet.ts
  src/module/actor/creature/types.ts
  src/scripts/register-templates.ts
  src/styles/actor/sidebar/_index.scss
  static/templates/actors/character/sidebar/health.html
  static/templates/actors/partials/dying-pips.html
Labels: mr::bugfix

#2631 Migrate ancestry critical specialisation feats to CriticalSpecialization rule element
  packs/data/feats.db/catfolk-weapon-rake.json
  packs/data/feats.db/conrasu-weapon-understanding.json
  packs/data/feats.db/dwarven-weapon-cunning.json
  packs/data/feats.db/elven-weapon-elegance.json
  packs/data/feats.db/genie-weapon-flourish.json
  packs/data/feats.db/gnoll-weapon-practicality.json
  packs/data/feats.db/gnome-weapon-innovator.json
  packs/data/feats.db/goblin-weapon-frenzy.json
  packs/data/feats.db/grippli-weapon-innovator.json
  packs/data/feats.db/halfling-weapon-trickster.json
  packs/data/feats.db/hobgoblin-weapon-discipline.json
  packs/data/feats.db/kobold-weapon-innovator.json
  packs/data/feats.db/orc-weapon-carnage.json
  packs/data/feats.db/vanths-weapon-execution.json
Labels: mr::data update

#2626 Add a Critical Specialization rule element
  packs/data/classfeatures.db/fighter-weapon-mastery.json
  packs/data/equipment.db/spike-launcher.json
  packs/data/feats.db/azarketi-weapon-aptitude.json
  packs/data/feats.db/brawling-focus.json
  src/module/actor/base.ts
  src/module/actor/character/index.ts
  src/module/actor/creature/index.ts
  src/module/actor/npc/index.ts
  src/module/item/base.ts
  src/module/item/weapon/index.ts
  src/module/migration/migrations/759-crit-spec-re.ts
  src/module/notes.ts
  src/module/rules/index.ts
  src/module/rules/rule-element/crit-spec.ts
  src/module/rules/rule-element/data.ts
  src/module/rules/rule-element/roll-note.ts
  src/module/system/action-macros/ancestry/automaton/arcane-slam.ts
  src/module/system/action-macros/helpers.ts
  src/module/system/damage/weapon.ts
  static/lang/en.json
  static/lang/re-en.json
Labels: mr::new feature

#2633 Run pack JSON through extractPacks all
  packs/data/action-macros.db/repair-crafting.json
  packs/data/action-macros.db/tamper-crafting.json
  packs/data/action-macros.db/treat-disease-medicine.json
  packs/data/equipment-effects.db/effect-treat-disease-critical-failure.json
  packs/data/equipment-effects.db/effect-treat-disease-critical-success.json
  packs/data/equipment-effects.db/effect-treat-disease-success.json
  packs/data/familiar-abilities.db/luminous.json
  packs/data/feat-effects.db/effect-armor-tampered-with-critical-success.json
  packs/data/feat-effects.db/effect-armor-tampered-with-success.json
  packs/data/feat-effects.db/effect-saoc-astrology.json
  packs/data/pathfinder-bestiary-2.db/frost-worm.json
  packs/data/pathfinder-bestiary-2.db/leydroth.json
  packs/data/pathfinder-bestiary-2.db/magma-scorpion.json
  packs/data/pathfinder-bestiary-2.db/marrmora.json
  packs/data/pathfinder-bestiary-2.db/striding-fire.json
  packs/data/pfs-season-1-bestiary.db/ahksiva-3-4.json
  packs/data/pfs-season-1-bestiary.db/groetuss-chosen-3-4.json
  packs/data/pfs-season-1-bestiary.db/little-zura-3-4.json
  packs/data/pfs-season-1-bestiary.db/ptiro-valner-3-4.json
  packs/data/pfs-season-1-bestiary.db/reast-mycer-3-4.json
  packs/data/pfs-season-2-bestiary.db/ash-archer.json
  packs/data/pfs-season-2-bestiary.db/cyclops-bodak.json
  packs/data/pfs-season-2-bestiary.db/drandle-dreng-7-8.json
  packs/data/pfs-season-2-bestiary.db/drandle-dreng-9-10.json
  packs/data/pfs-season-2-bestiary.db/scorched-cavern-troll.json
  packs/data/spell-effects.db/spell-effect-elephant-form.json
Labels: mr::data update

#2641 Find the best slot to consume when using the cast function
  src/module/item/spellcasting-entry/index.ts
Labels: mr::enhancement

#2645 Review B3 - calikang
  packs/data/bestiary-effects.db/effect-sixfold-flurry.json
  packs/data/pathfinder-bestiary-3.db/calikang.json
  static/lang/re-en.json
Labels: mr::data update, source::core rulebooks

#2520 Review B3 - silvanshee, vulpinal, procyal
  packs/data/pathfinder-bestiary-3.db/procyal.json
  packs/data/pathfinder-bestiary-3.db/silvanshee.json
  packs/data/pathfinder-bestiary-3.db/vulpinal.json
  static/lang/re-en.json
Labels: mr::data update, source::core rulebooks

#2644 Fix assignment of actor to save messages made from from spells cards
  src/module/apps/ui/chat-log.ts
  src/module/chat-message/index.ts
Labels: mr::bugfix

#2622 Add Spell Effects to Circle of Protection
  packs/data/abomination-vaults-bestiary.db/kragala.json
  packs/data/age-of-ashes-bestiary.db/rinnarv-bontimar.json
  packs/data/extinction-curse-bestiary.db/cavnakash.json
  packs/data/extinction-curse-bestiary.db/xulgath-deepmouth.json
  packs/data/pathfinder-bestiary.db/adult-gold-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/adult-silver-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-gold-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-silver-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/guardian-naga.json
  packs/data/pathfinder-bestiary.db/young-gold-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/young-silver-dragon-spellcaster.json
  packs/data/spell-effects.db/spell-effect-protection-from-chaotic.json
  packs/data/spell-effects.db/spell-effect-protection-from-evil.json
  packs/data/spell-effects.db/spell-effect-protection-from-good.json
  packs/data/spell-effects.db/spell-effect-protection-from-lawful.json
  packs/data/spell-effects.db/spell-effect-protection.json
  packs/data/spells.db/circle-of-protection.json
  packs/data/spells.db/protection.json
Labels: mr::data update

#2654 Add all magical traditions to creature traits
  src/scripts/config/traits.ts
Labels: mr::bugfix

#2657 Run relabels through resolveInjectedProperties
  src/module/rules/rule-element/adjust-modifier.ts
Labels: mr::bugfix

#2656 Restore ModifierPF2e instances' original values when cloning
  src/module/actor/modifiers.ts
Labels: mr::bugfix

#2653 Fix display of traits and IWR on vehicle sheet
  src/module/actor/vehicle/sheet.ts
  src/scripts/config/traits.ts
  src/styles/actor/vehicle/_index.scss
  src/styles/ui/_tags.scss
  static/templates/actors/vehicle/sidebar/vehicle-resistances.html
  static/templates/actors/vehicle/sidebar/vehicle-saves.html
  static/templates/actors/vehicle/vehicle-header.html
Labels: mr::bugfix

#2659 Refactor Triple Shot and Multishot Stance into modifier adjustments
  packs/data/feat-effects.db/stance-multishot-stance.json
  packs/data/feats.db/double-shot.json
  packs/data/feats.db/triple-shot.json
Labels: mr::data update

#2616 Set a duration for Known Weaknesses
  packs/data/feat-effects.db/effect-known-weakness.json
Labels: mr::data update, source::core rulebooks

#2619 Remove toggle from Panache class feature, add RE slugs where necessary
  packs/data/classfeatures.db/panache.json
  packs/data/classfeatures.db/vivacious-speed.json
  packs/data/feature-effects.db/effect-panache.json
Labels: mr::data update

#2649 Automate leshy heritages and feats
  packs/data/equipment.db/lucky-keepsake.json
  packs/data/feats.db/ageless-spirit.json
  packs/data/feats.db/defensive-needles.json
  packs/data/feats.db/grasping-reach.json
  packs/data/feats.db/harmlessly-cute.json
  packs/data/feats.db/leshy-superstition.json
  packs/data/feats.db/seedpod.json
  packs/data/feats.db/solar-rejuvenation.json
  packs/data/feats.db/spore-cloud.json
  packs/data/feats.db/thorned-seedpod.json
  packs/data/heritages.db/fruit-leshy.json
  packs/data/heritages.db/lotus-leshy.json
  packs/data/heritages.db/pine-leshy.json
  static/lang/re-en.json
Labels: mr::data update

#2563 Automate Kobold Features
  packs/data/ancestryfeatures.db/draconic-exemplar.json
  packs/data/heritages.db/dragonscaled-kobold-black.json
  packs/data/heritages.db/dragonscaled-kobold-blue.json
  packs/data/heritages.db/dragonscaled-kobold-brass.json
  packs/data/heritages.db/dragonscaled-kobold-bronze.json
  packs/data/heritages.db/dragonscaled-kobold-copper.json
  packs/data/heritages.db/dragonscaled-kobold-gold.json
  packs/data/heritages.db/dragonscaled-kobold-green.json
  packs/data/heritages.db/dragonscaled-kobold-red.json
  packs/data/heritages.db/dragonscaled-kobold-silver.json
  packs/data/heritages.db/dragonscaled-kobold-white.json
  packs/data/heritages.db/dragonscaled-kobold.json
Labels: mr::data update, source::core rulebooks

#2528 Review B3 - animated silverware swarm, furnace, trebuchet, colossus
  packs/data/pathfinder-bestiary-3.db/animated-colossus.json
  packs/data/pathfinder-bestiary-3.db/animated-furnace.json
  packs/data/pathfinder-bestiary-3.db/animated-silverware-swarm.json
  packs/data/pathfinder-bestiary-3.db/animated-trebuchet.json
Labels: mr::data update, source::core rulebooks

#2521 Review B3 - android infiltrator, angazhani
  packs/data/bestiary-effects.db/effect-defensive-slam.json
  packs/data/pathfinder-bestiary-3.db/android-infiltrator.json
  packs/data/pathfinder-bestiary-3.db/angazhani.json
Labels: mr::data update, source::core rulebooks

#2529 Review B3 - arboreal reaper and archive
  packs/data/pathfinder-bestiary-3.db/arboreal-archive.json
  packs/data/pathfinder-bestiary-3.db/arboreal-reaper.json
Labels: mr::data update, source::core rulebooks

#2664 Update Compendium types, fill out types for DragDrop class
  src/global.d.ts
  types/foundry/client/collections/compendium-collection.d.ts
  types/foundry/client/ui/drag-drop.d.ts
  types/foundry/client/ui/dragdrop.d.ts
  types/foundry/client/ui/index.d.ts
  types/foundry/index.d.ts
Labels: mr::types update

#2665 Update some compendium directory types
  types/foundry/client/application/sidebar/sidebar-tab/compendium-directory.d.ts
  types/foundry/client/collections/compendium-collection.d.ts
Labels: mr::types update

#2650 Replace inline HTML in roll note text with separate title and visibility
  packs/data/age-of-ashes-bestiary.db/bshez-sand-claws-shak.json
  packs/data/age-of-ashes-bestiary.db/calmont.json
  packs/data/age-of-ashes-bestiary.db/dmiri-yoltosha.json
  packs/data/age-of-ashes-bestiary.db/ingnovim-tluss.json
  packs/data/age-of-ashes-bestiary.db/jahsi.json
  packs/data/age-of-ashes-bestiary.db/kralgurn.json
  packs/data/age-of-ashes-bestiary.db/mialari-docur.json
  packs/data/age-of-ashes-bestiary.db/scarlet-triad-agent.json
  packs/data/age-of-ashes-bestiary.db/zuferian.json
  packs/scripts/run-migration.ts
  src/module/migration/migrations/760-separate-note-title.ts
  src/module/migration/migrations/index.ts
  src/module/migration/runner/base.ts
Labels: mr::data migration

#2639 Review B3 - bore worms
  packs/data/pathfinder-bestiary-3.db/bore-worm-swarm.json
  packs/data/pathfinder-bestiary-3.db/empress-necril-worm.json
  packs/data/pathfinder-bestiary-3.db/ice-worm-swarm.json
  packs/data/pathfinder-bestiary-3.db/lava-worm-swarm.json
  packs/data/pathfinder-bestiary-3.db/mage-eater-worm-swarm.json
  packs/data/pathfinder-bestiary-3.db/necral-worm-swarm.json
Labels: mr::data update, source::core rulebooks

#2552 Review B3 - shaukeen, adhukait, japalisura, nikaramsa
  packs/data/bestiary-effects.db/effect-towering-stance-disbelieved.json
  packs/data/pathfinder-bestiary-3.db/adhukait.json
  packs/data/pathfinder-bestiary-3.db/japalisura.json
  packs/data/pathfinder-bestiary-3.db/nikaramsa.json
  packs/data/pathfinder-bestiary-3.db/shaukeen.json
Labels: mr::data update, source::core rulebooks

#2669 Rename Empress Necral Worm
  packs/data/pathfinder-bestiary-3.db/empress-necral-worm.json
Labels: mr::data update, source::core rulebooks

#2605 Review B3 - severed head, flaming skull, betobeto-san, bison, blood p…
  packs/data/pathfinder-bestiary-3.db/betobeto-san.json
  packs/data/pathfinder-bestiary-3.db/bison.json
  packs/data/pathfinder-bestiary-3.db/blood-painter.json
  packs/data/pathfinder-bestiary-3.db/flaming-skull.json
  packs/data/pathfinder-bestiary-3.db/severed-head.json
Labels: mr::data update, source::core rulebooks

#2668 Add temp hp and dying pips to familiar sheet
  src/module/actor/character/sheet.ts
  src/module/actor/creature/sheet.ts
  src/styles/actor/familiar/_index.scss
  static/templates/actors/familiar-sheet.html
Labels: mr::new feature, ui/ux

#2642 Review B3 - brainchild, buso farmer, caligni caller, caligni vanguard
  packs/data/pathfinder-bestiary-3.db/brainchild.json
  packs/data/pathfinder-bestiary-3.db/buso-farmer.json
  packs/data/pathfinder-bestiary-3.db/caligni-caller.json
  packs/data/pathfinder-bestiary-3.db/caligni-vanguard.json
Labels: mr::data update, source::core rulebooks

#2648 Review B3 - camel, cecaelia trapper, chyzaedu, hellknight cavalry bri…
  packs/data/bestiary-effects.db/effect-hurl-net.json
  packs/data/pathfinder-bestiary-3.db/camel.json
  packs/data/pathfinder-bestiary-3.db/cecaelia-trapper.json
  packs/data/pathfinder-bestiary-3.db/chyzaedu.json
  packs/data/pathfinder-bestiary-3.db/hellknight-cavalry-brigade.json
  static/lang/re-en.json
Labels: mr::data update, source::core rulebooks

#2670 Fix validation test in Note RE
  src/module/rules/rule-element/roll-note.ts
Labels: mr::bugfix
