Repository foundryvtt/pf2e, pull requests merged in 2022-11, with the labels that each got.

#4664 Review Moon Hag
  packs/data/pathfinder-bestiary-3.db/moon-hag.json
Labels: pr: data update

#4665 Review Winter Hag
  packs/data/pathfinder-bestiary-3.db/winter-hag.json
Labels: pr: data update

#4663 Review Blood Hag
  packs/data/bestiary-effects.db/effect-fiery-form.json
  packs/data/pathfinder-bestiary-3.db/blood-hag.json
Labels: pr: data update

#4668 Fix a single typo
  packs/data/feats.db/magic-warrior-dedication.json
Labels: pr: data update

#4666 Add missing Archetypes from DA, QftFF, NotGD, OoA, and BotD to Archetype Journal
  packs/data/journals.db/archetypes.json
Labels: pr: data update

#4672 Add support for translated skills in Compendium Browser feat tab skill filter
  src/module/apps/compendium-browser/tabs/feat.ts
Labels: pr: enhancement

#4679 Heighten rolled damage via cast level instead of slot level
  src/module/item/spell/document.ts
  static/templates/chat/spell-card.html
Labels: pr: bugfix

#4681 Add pre-create item data to be passed to `isPhysicalData`
  src/module/item/data/helpers.ts
Labels: pr: refactor

#4674 Add android infiltrator automation
  packs/data/bestiary-effects.db/effect-nanite-surge-glow.json
  packs/data/pathfinder-bestiary-3.db/android-infiltrator.json
Labels: pr: data update

#4678 Review B3 - Incutilis, Jorogumo
  packs/data/pathfinder-bestiary-3.db/incutilis.json
  packs/data/pathfinder-bestiary-3.db/jorogumo.json
Labels: pr: data update

#4677 Review B3 - huldra, hyakume
  packs/data/pathfinder-bestiary-3.db/huldra.json
  packs/data/pathfinder-bestiary-3.db/hyakume.json
  static/lang/re-en.json
Labels: pr: data update

#4675 Review B3 - House Spirits
  packs/data/pathfinder-bestiary-3.db/domovoi.json
  packs/data/pathfinder-bestiary-3.db/dvorovoi.json
  packs/data/pathfinder-bestiary-3.db/ovinnik.json
  static/lang/re-en.json
Labels: pr: data update

#4688 Review B3 - Kitsune Trickster, Kokogiak, Kongamato, Kovintus Geomancer
  packs/data/pathfinder-bestiary-3.db/kitsune-trickster.json
  packs/data/pathfinder-bestiary-3.db/kokogiak.json
  packs/data/pathfinder-bestiary-3.db/kongamato.json
  packs/data/pathfinder-bestiary-3.db/kovintus-geomancer.json
Labels: pr: data update

#4694 Remove accidentally included custom trait on some NPCs
  packs/data/bestiary-ability-glossary-srd.db/change-shape.json
  packs/data/blood-lords-bestiary.db/yshula.json
  packs/data/kingmaker-bestiary.db/gaetane.json
  packs/data/kingmaker-bestiary.db/kundal.json
  packs/data/kingmaker-bestiary.db/vilderavn-herald.json
  packs/data/kingmaker-bestiary.db/virthad.json
Labels: pr: data update

#4696 Remove redundant localization calls
  packs/data/blood-lords-bestiary.db/grace-the-rhino-owano.json
  packs/data/blood-lords-bestiary.db/the-fight.json
  packs/data/feats.db/esteemed-visitor.json
  packs/data/feats.db/lab-rat.json
  packs/data/feats.db/parthenogenic-hatchling.json
  packs/data/feats.db/piercing-quills.json
  packs/data/feats.db/seedpod.json
  packs/data/feats.db/snipers-aim.json
  packs/data/feats.db/thorned-seedpod.json
  packs/data/feats.db/warren-navigator.json
  packs/data/feats.db/wash-out.json
  packs/data/heritages.db/fishseeker-shoony.json
  packs/data/kingmaker-bestiary.db/akuzhail.json
  packs/data/kingmaker-bestiary.db/endless-struggle.json
  packs/data/kingmaker-bestiary.db/troll-guard.json
  packs/data/kingmaker-bestiary.db/villamor-koth.json
  packs/data/kingmaker-bestiary.db/werendegar.json
  packs/data/night-of-the-gray-death-bestiary.db/gray-gardener-enforcer.json
  packs/data/strength-of-thousands-bestiary.db/kilia-mwibo.json
Labels: pr: data update

#4685 Review B3 - Kami
  packs/data/pathfinder-bestiary-3.db/kodama.json
  packs/data/pathfinder-bestiary-3.db/shikigami.json
  packs/data/pathfinder-bestiary-3.db/toshigami.json
  packs/data/pathfinder-bestiary-3.db/zuishin.json
Labels: pr: data update

#4686 Review B3 - Kangaroo, Kappa, Kirin, Kishi
  packs/data/pathfinder-bestiary-3.db/kangaroo.json
  packs/data/pathfinder-bestiary-3.db/kappa.json
  packs/data/pathfinder-bestiary-3.db/kirin.json
  packs/data/pathfinder-bestiary-3.db/kishi.json
  static/lang/re-en.json
Labels: pr: data update

#4680 Automate Wellspring Magic feature
  packs/data/classfeatures.db/wellspring-magic.json
  static/lang/re-en.json
Labels: pr: data update

#4695 Nullish-coalesce when assigning from vision mode defaults
  src/module/scene/token-document/document.ts
  types/foundry/client/pixi/perception/vision-mode.d.ts
Labels: pr: bugfix

#4689 Clean up Construct Armor REs
  packs/data/agents-of-edgewatch-bestiary.db/prospecti-statue.json
  packs/data/blood-lords-bestiary.db/animated-fireplace.json
  packs/data/blood-lords-bestiary.db/mechanical-laborer.json
  packs/data/crown-of-the-kobold-king-bestiary.db/dismemberment-table.json
  packs/data/crown-of-the-kobold-king-bestiary.db/ulizmilas-cauldron.json
  packs/data/extinction-curse-bestiary.db/guardian-of-the-faithful.json
  packs/data/menace-under-otari-bestiary.db/animated-armor-bb.json
  packs/data/one-shot-bestiary.db/princess-sunset.json
  packs/data/pathfinder-bestiary-3.db/animated-colossus.json
  packs/data/pathfinder-bestiary-3.db/animated-furnace.json
  packs/data/pathfinder-bestiary-3.db/animated-silverware-swarm.json
  packs/data/pathfinder-bestiary-3.db/animated-trebuchet.json
  packs/data/pathfinder-bestiary-3.db/tupilaq.json
  packs/data/pathfinder-bestiary.db/animated-armor.json
  packs/data/pathfinder-bestiary.db/animated-broom.json
  packs/data/pathfinder-bestiary.db/animated-statue.json
  packs/data/pathfinder-bestiary.db/giant-animated-statue.json
  packs/data/pfs-season-1-bestiary.db/lesser-guardian-statue.json
  packs/data/pfs-season-1-bestiary.db/spirit-guardian-statue.json
  packs/data/pfs-season-1-bestiary.db/statue-of-set.json
  packs/data/pfs-season-1-bestiary.db/synthetic-khismar-5-6.json
  packs/data/pfs-season-1-bestiary.db/synthetic-khismar-7-8.json
  packs/data/pfs-season-2-bestiary.db/anatomical-model-1-2.json
  packs/data/pfs-season-2-bestiary.db/anatomical-model-3-4.json
  packs/data/pfs-season-2-bestiary.db/animated-guardian-warrior.json
  packs/data/pfs-season-2-bestiary.db/animated-guardian.json
  packs/data/pfs-season-2-bestiary.db/elite-anatomical-model-3-4.json
  packs/data/pfs-season-2-bestiary.db/kayajima-guardian-dogu-3-4.json
  packs/data/pfs-season-2-bestiary.db/kayajima-guardian-dogu-5-6.json
  packs/data/pfs-season-2-bestiary.db/reinforced-animated-guardian.json
  packs/data/pfs-season-3-bestiary.db/animated-blade-pfs-3-99.json
  packs/data/pfs-season-3-bestiary.db/animated-cookware.json
  packs/data/pfs-season-3-bestiary.db/animated-full-plate-pfs-3-99.json
  packs/data/pfs-season-3-bestiary.db/animated-knickknack-1-2.json
  packs/data/pfs-season-3-bestiary.db/animated-knickknack-3-4.json
  packs/data/pfs-season-3-bestiary.db/deep-shadow-guardian.json
  packs/data/pfs-season-3-bestiary.db/flaming-animated-armor-ashgrip-1-2.json
  packs/data/pfs-season-3-bestiary.db/flaming-animated-armor-firecutter-1-2.json
  packs/data/pfs-season-3-bestiary.db/flaming-animated-armor-holy-hand-1-2.json
  packs/data/pfs-season-3-bestiary.db/flaming-animated-armor-leadroar-1-2.json
  packs/data/pfs-season-3-bestiary.db/lightweight-animated-armor.json
  packs/data/pfs-season-3-bestiary.db/sandswept-statue.json
  packs/data/pfs-season-3-bestiary.db/shadow-guardian.json
  packs/data/pfs-season-4-bestiary.db/animated-leather-armor.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/animated-blade.json
  packs/data/strength-of-thousands-bestiary.db/clockwork-clock-tower.json
  packs/data/strength-of-thousands-bestiary.db/living-sun-spire.json
Labels: pr: data update

#4697 Remove more custom traits from compendium items
  packs/data/actions.db/basic-finisher.json
  packs/data/actions.db/coerce.json
  packs/data/actions.db/lie.json
  packs/data/actions.db/make-an-impression.json
  packs/data/actions.db/request.json
  packs/data/bestiary-family-ability-glossary.db/kallas-devil-suffer-the-children.json
  packs/data/equipment.db/blightburn-sickness.json
  packs/data/equipment.db/clockwork-disguise.json
  packs/data/equipment.db/tin-cobra.json
  packs/data/spells.db/mask-of-terror.json
  packs/data/spells.db/mosquito-blight.json
Labels: pr: data update

#4698 Make hazard text data optional
  src/module/actor/hazard/data.ts
  src/module/actor/hazard/sheet.ts
Labels: pr: bugfix

#4700 Fix chat cards generated from strike macros
  src/scripts/macros/hotbar.ts
  static/templates/chat/strike-card.html
Labels: pr: bugfix

#4701 Release Notes 4.3.4
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Labels: pr: housekeeping

#4702 Update loader-utils dependency
  package-lock.json
Labels: pr: housekeeping

#4703 Get elite/weak modifier adjustments for inline checks
  src/module/system/text-editor.ts
Labels: pr: bugfix

#4704 Add one more line to changelog
  CHANGELOG.md
Labels: pr: housekeeping

#4711 Compendium replace items and spells in EC Book 1
  packs/data/extinction-curse-bestiary.db/abberton-ruffian.json
  packs/data/extinction-curse-bestiary.db/cavnakash.json
  packs/data/extinction-curse-bestiary.db/corrupted-priest.json
  packs/data/extinction-curse-bestiary.db/corrupted-retainer.json
  packs/data/extinction-curse-bestiary.db/daring-danika.json
  packs/data/extinction-curse-bestiary.db/drunken-brawler.json
  packs/data/extinction-curse-bestiary.db/jellico-bounce-bounce.json
  packs/data/extinction-curse-bestiary.db/juvenile-boar.json
  packs/data/extinction-curse-bestiary.db/lakkai-one-fang.json
  packs/data/extinction-curse-bestiary.db/nemmia-bramblecloak.json
  packs/data/extinction-curse-bestiary.db/pruana-two-punch.json
  packs/data/extinction-curse-bestiary.db/smiler.json
  packs/data/extinction-curse-bestiary.db/vermlek.json
  packs/data/extinction-curse-bestiary.db/viktor-volkano.json
Labels: source: adventure path, pr: data update

#4712 Delete Bone Croupier from EC compendium
  packs/data/extinction-curse-bestiary.db/bone-croupier.json
Labels: source: adventure path, pr: data update, source: rulebooks

#4706 Remove custom traits
  packs/data/bestiary-family-ability-glossary.db/cryptid-experimental-energy-wave.json
  packs/data/bestiary-family-ability-glossary.db/divine-warden-divine-destruction.json
  packs/data/pathfinder-bestiary-3.db/jorogumo.json
Labels: pr: data update

#4713 Fix localization in some ChoiceSet REs
  packs/data/backgrounds.db/magaambya-academic.json
  packs/data/backgrounds.db/student-of-magic.json
Labels: pr: data update

#4715 Add heightening to Spirit Blast
  packs/data/spells.db/spirit-blast.json
Labels: pr: data update

#4714 Corrects tradition proficiency for Master Psychic Spellcasting
  packs/data/feats.db/master-psychic-spellcasting.json
Labels: pr: data update, source: rulebooks

#4718 Pass up flattened and unflattened data in `ActorDirectoryPF2e#_render`
  src/module/apps/ui/actor-directory.ts
Labels: pr: bugfix

#4717 Compendium replace items and spells in EC Book 3
  packs/data/extinction-curse-bestiary.db/adrivallo.json
  packs/data/extinction-curse-bestiary.db/aives-the-smoke-dragon.json
  packs/data/extinction-curse-bestiary.db/andera-paldreen.json
  packs/data/extinction-curse-bestiary.db/bogey.json
  packs/data/extinction-curse-bestiary.db/bogeyman.json
  packs/data/extinction-curse-bestiary.db/celestial-menagerie-bruiser.json
  packs/data/extinction-curse-bestiary.db/darricus-stallit.json
  packs/data/extinction-curse-bestiary.db/delamar-gianvin.json
  packs/data/extinction-curse-bestiary.db/evora-yarket.json
  packs/data/extinction-curse-bestiary.db/gluttondark-babau.json
  packs/data/extinction-curse-bestiary.db/mistress-dusklight.json
  packs/data/extinction-curse-bestiary.db/muse-phantom.json
  packs/data/extinction-curse-bestiary.db/ruanna-nyamma.json
  packs/data/extinction-curse-bestiary.db/ulthadar.json
  packs/data/extinction-curse-bestiary.db/xulgath-demon-caller.json
  packs/data/extinction-curse-bestiary.db/xulgath-mage.json
  packs/data/extinction-curse-bestiary.db/xulgath-spinesnapper.json
Labels: source: adventure path, pr: data update

#4719 Remove nulls from compendium data
  packs/data/kingmaker-bestiary.db/linzi-level-1.json
  packs/data/kingmaker-bestiary.db/linzi-level-7.json
Labels: pr: data update

#4699 Remove diseases entered as equipment
  packs/data/equipment.db/blightburn-sickness.json
  packs/data/equipment.db/blueblisters.json
  packs/data/extinction-curse-bestiary.db/ararda.json
Labels: pr: data update

#4720 Add missing multiclass archetypes to journal
  packs/data/journals.db/archetypes.json
Labels: pr: data update

#4722 Compendium replace items and spells from EC Book 4
  packs/data/extinction-curse-bestiary.db/arskuva-the-gnasher.json
  packs/data/extinction-curse-bestiary.db/brughadatch.json
  packs/data/extinction-curse-bestiary.db/doblagub.json
  packs/data/extinction-curse-bestiary.db/faceless-butcher.json
  packs/data/extinction-curse-bestiary.db/harrow-doll.json
  packs/data/extinction-curse-bestiary.db/helg-eats-the-eaters.json
  packs/data/extinction-curse-bestiary.db/ledorick-banyan.json
  packs/data/extinction-curse-bestiary.db/lyrt-cozurn.json
  packs/data/extinction-curse-bestiary.db/qurashith.json
  packs/data/extinction-curse-bestiary.db/stirvyn-banyan.json
  packs/data/extinction-curse-bestiary.db/tashlock-banyan.json
  packs/data/extinction-curse-bestiary.db/the-vanish-man.json
  packs/data/extinction-curse-bestiary.db/wight-cultist.json
  packs/data/extinction-curse-bestiary.db/xilvirek.json
  packs/data/extinction-curse-bestiary.db/xulgath-hardscale.json
  packs/data/extinction-curse-bestiary.db/xulgath-herd-tender.json
  packs/data/extinction-curse-bestiary.db/xulgath-roughrider.json
  packs/data/extinction-curse-bestiary.db/zashathal-head-taker.json
Labels: source: adventure path, pr: data update

#4726 Compendium replace items and spells from EC Book 5
  packs/data/extinction-curse-bestiary.db/ararda.json
  packs/data/extinction-curse-bestiary.db/dyzallin-shraen.json
  packs/data/extinction-curse-bestiary.db/hollow-hush.json
  packs/data/extinction-curse-bestiary.db/iffdahsil.json
  packs/data/extinction-curse-bestiary.db/kharostan.json
  packs/data/extinction-curse-bestiary.db/muurfeli.json
  packs/data/extinction-curse-bestiary.db/qormintur.json
  packs/data/extinction-curse-bestiary.db/raptor-guard-wight.json
  packs/data/extinction-curse-bestiary.db/shraen-graveknight.json
  packs/data/extinction-curse-bestiary.db/stirvyn-banyan.json
  packs/data/extinction-curse-bestiary.db/urdefhan-dominator.json
  packs/data/extinction-curse-bestiary.db/urdefhan-high-tormentor.json
  packs/data/extinction-curse-bestiary.db/urdefhan-hunter.json
  packs/data/extinction-curse-bestiary.db/vitalia.json
  packs/data/extinction-curse-bestiary.db/xulgath-deepmouth.json
  packs/data/extinction-curse-bestiary.db/zinogyvaz.json
Labels: source: adventure path, pr: data update

#4727 Compendium replace items and spells from EC Book 6
  packs/data/extinction-curse-bestiary.db/convergent-kendley-nathrael.json
  packs/data/extinction-curse-bestiary.db/convergent-soldier.json
  packs/data/extinction-curse-bestiary.db/deghuun-child-of-mhar.json
  packs/data/extinction-curse-bestiary.db/kimilekki.json
  packs/data/extinction-curse-bestiary.db/kirosthrek.json
  packs/data/extinction-curse-bestiary.db/sarvel-ever-hunger.json
  packs/data/extinction-curse-bestiary.db/saurian-warmonger.json
  packs/data/extinction-curse-bestiary.db/saurian-worldwatcher.json
  packs/data/extinction-curse-bestiary.db/shanchek.json
  packs/data/extinction-curse-bestiary.db/urushil.json
  packs/data/extinction-curse-bestiary.db/vavakia.json
  packs/data/extinction-curse-bestiary.db/xulgath-thoughtmaw.json
Labels: source: adventure path, pr: data update

#4683 Clean up GM screen journal
  packs/data/journals.db/gm-screen.json
Labels: pr: data update

#4732 Remove unused character importer functions
  src/global.d.ts
  src/module/system/importer/actor-importer.ts
  src/scripts/set-game-pf2e.ts
Labels: pr: housekeeping

#4734 Fix Hand of the Apprentice being excluded from Universalist's free feat
  packs/data/classfeatures.db/universalist.json
Labels: pr: data update

#4728 Convert metagame visibility settings to booleans, change metagame prefix
  src/global.d.ts
  src/module/actor/base.ts
  src/module/actor/character/sheet.ts
  src/module/actor/creature/index.ts
  src/module/apps/ui/encounter-tracker.ts
  src/module/canvas/status-effects.ts
  src/module/canvas/token/object.ts
  src/module/item/condition/document.ts
  src/module/migration/migrations/797-metagame-settings.ts
  src/module/migration/migrations/index.ts
  src/module/migration/runner/base.ts
  src/module/scene/token-document/document.ts
  src/module/system/action-macros/crafting/craft.ts
  src/module/system/action-macros/helpers.ts
  src/module/system/degree-of-success.ts
  src/module/system/rolls.ts
  src/module/system/settings/menu.ts
  src/module/system/settings/metagame.ts
  src/module/system/text-editor.ts
  src/scripts/macros/treat-wounds.ts
  src/scripts/ui/user-visibility.ts
  static/lang/en.json
  static/templates/chat/check/target-dc-result.html
Labels: pr: enhancement

#4649 Implement "shoddy" tag for physical items
  src/module/actor/character/helpers.ts
  src/module/actor/character/index.ts
  src/module/item/armor/document.ts
  src/module/item/armor/sheet.ts
  src/module/item/armor/types.ts
  src/module/item/physical/document.ts
  src/module/item/weapon/document.ts
  src/module/item/weapon/types.ts
  src/module/system/tag-selector/index.ts
  src/scripts/config/index.ts
  src/scripts/config/traits.ts
  src/styles/item/_index.scss
  static/lang/en.json
  static/templates/items/armor-details.html
  static/templates/items/armor-sidebar.html
  static/templates/items/weapon-sidebar.html
Labels: pr: enhancement

#4742 Change all "weapon:*" predication statements to "item:*" ones
  packs/scripts/run-migration.ts
  src/module/actor/character/index.ts
  src/module/actor/creature/index.ts
  src/module/actor/npc/index.ts
  src/module/item/physical/runes.ts
  src/module/migration/migrations/798-weapon-to-item-statements.ts
  src/module/migration/migrations/index.ts
  src/module/migration/runner/base.ts
  src/module/rules/rule-element/adjust-strike.ts
  src/module/system/action-macros/helpers.ts
Labels: pr: data migration

#4740 Adjust default reach of NPC attacks to use lower end of CRB Table 9-1
  src/module/actor/creature/index.ts
  src/module/actor/creature/values.ts
  src/module/item/melee/document.ts
Labels: pr: bugfix

#4748 Fix quick alchemy feat
  src/module/actor/character/sheet.ts
Labels: pr: bugfix

#4707 Fix actor sidebar showing the actor level to users that lack permission
  src/module/apps/ui/actor-directory.ts
Labels: pr: bugfix

#4755 Fix CheckPF2e rerolls being constructed from wrong data
  src/module/system/rolls.ts
Labels: pr: bugfix

#4749 Immediately re-initialize vision when PC senses are directly updated
  src/module/scene/token-document/document.ts
Labels: pr: bugfix

#4757 Add Reflection of Life recovery multiplier increase
  packs/data/campaign-effects.db/resonant-reflection-reflection-of-life.json
Labels: pr: data update

#4738 Brushup EC Book 3 NPCs: Counteflora, Ginjana Mindkeeper, Headless Xulgath
  packs/data/extinction-curse-bestiary.db/counteflora.json
  packs/data/extinction-curse-bestiary.db/ginjana-mindkeeper.json
  packs/data/extinction-curse-bestiary.db/headless-xulgath.json
  static/lang/re-en.json
Labels: pr: data update

#4733 Brushup EC Book 3 NPCs: Yaganty, Xulgath Stoneliege, Runkrunk, and Cat Sith
  packs/data/bestiary-effects.db/effect-cat-siths-mark.json
  packs/data/bestiary-effects.db/effect-ill-omen.json
  packs/data/extinction-curse-bestiary.db/cat-sith.json
  packs/data/extinction-curse-bestiary.db/runkrunk.json
  packs/data/extinction-curse-bestiary.db/xulgath-stoneliege.json
  packs/data/extinction-curse-bestiary.db/yaganty.json
Labels: pr: data update

#4760 Remove dangling generic parameter in `Roll` type definition
  types/foundry/client/roll.d.ts
Labels: pr: bugfix, pr: types update

#4761 Remove generic parameters from `Scene` type definition
  src/module/scene/ambient-light-document.ts
  src/module/scene/document.ts
  types/foundry/client/documents/ambient-light-document.d.ts
  types/foundry/client/documents/scene.d.ts
  types/foundry/common/data/data/ambient-light-data.d.ts
  types/foundry/common/documents/ambient-light.d.ts
  types/foundry/common/documents/scene.d.ts
Labels: pr: types update

#4767 Fix copy and paste error in Hellknight Dedication
  packs/data/feats.db/hellknight-dedication.json
Labels: pr: data update

#4765 Brushup EC Book 3 NPCs part 3
  packs/data/extinction-curse-bestiary.db/hooklimb-xulgath.json
  packs/data/extinction-curse-bestiary.db/resin-seep-xulgath.json
  packs/data/extinction-curse-bestiary.db/thessekka.json
Labels: pr: data update

#4684 Fix shield HP updates not being reflected in token resource bars
  src/module/scene/token-document/document.ts
  types/foundry/client/pixi/placeable-object/token.d.ts
Labels: pr: bugfix

#4771 Convert @Compendium-style links to @UUID-style ones on extract
  packs/scripts/extract.ts
Labels: pr: housekeeping

#4759 Automate Aolaz Roll ability
  packs/data/pathfinder-bestiary-2.db/aolaz.json
Labels: pr: data update

#4774 Document `ActorSheetPF2e#onItemDrop` and rename to `emulateItemDrop`
  src/module/actor/sheet/base.ts
  src/scripts/hooks/drop-canvas-data.ts
Labels: pr: refactor

#4768 Review Kuchisake-Onna, Kurobozu, Kushtaka from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/kokogiak.json
  packs/data/pathfinder-bestiary-3.db/kuchisake-onna.json
  packs/data/pathfinder-bestiary-3.db/kurobozu.json
  packs/data/pathfinder-bestiary-3.db/kushtaka.json
  packs/data/pathfinder-bestiary-3.db/ovinnik.json
  static/lang/re-en.json
Labels: pr: data update

#4780 Review Maftet Guardian, Mezlan from Bestiary 3
  packs/data/bestiary-effects.db/effect-runic-resistance.json
  packs/data/bestiary-effects.db/effect-viscous-trap.json
  packs/data/pathfinder-bestiary-3.db/maftet-guardian.json
  packs/data/pathfinder-bestiary-3.db/mezlan.json
Labels: pr: data update

#4770 Review Living Runes from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/living-rune-arcane.json
  packs/data/pathfinder-bestiary-3.db/living-rune-divine.json
  packs/data/pathfinder-bestiary-3.db/living-rune-occult.json
  packs/data/pathfinder-bestiary-3.db/living-rune-primal.json
  static/lang/re-en.json
Labels: pr: data update

#4779 Review Locathah Hunter, Lovelorn from Bestiary 3
  packs/data/bestiary-effects.db/effect-fan-bolt.json
  packs/data/bestiary-effects.db/effect-gloom-aura.json
  packs/data/pathfinder-bestiary-3.db/locathah-hunter.json
  packs/data/pathfinder-bestiary-3.db/lovelorn.json
Labels: pr: data update

#4769 Review Ledalusca, Vine Leshy, Cactus Leshy, Seaweed Leshy from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/cactus-leshy.json
  packs/data/pathfinder-bestiary-3.db/ledalusca.json
  packs/data/pathfinder-bestiary-3.db/seaweed-leshy.json
  packs/data/pathfinder-bestiary-3.db/vine-leshy.json
Labels: pr: data update

#4781 Allow effect badge counters to be set on drag
  src/module/actor/sheet/base.ts
Labels: pr: enhancement

#4772 Release token when setting actorLink to false
  src/module/scene/token-document/document.ts
Labels: pr: bugfix

#4785 Export CheckRoll/StrikeAttackRoll directly
  src/module/actor/character/crafting/helpers.ts
  src/module/actor/character/index.ts
  src/module/actor/creature/index.ts
  src/module/actor/familiar/index.ts
  src/module/actor/npc/index.ts
  src/module/chat-message/document.ts
  src/module/rules/rule-element/base.ts
  src/module/system/action-macros/types.ts
  src/module/system/check/index.ts
  src/module/system/rolls.ts
  src/module/system/statistic/index.ts
  src/scripts/hooks/init.ts
Labels: pr: housekeeping

#4773 Default effects to show token icon
  static/template.json
Labels: pr: enhancement

#4775 Clarify type of transaction in MoveLootPopup prompt
  src/module/actor/sheet/base.ts
  src/module/actor/sheet/loot/move-loot-popup.ts
  static/lang/en.json
  static/templates/popups/loot/move-loot-popup.html
Labels: ui/ux

#4735 Fix rule element validation warnings on NPCs
  packs/data/bestiary-effects.db/effect-prepare-fangs.json
  packs/data/extinction-curse-bestiary.db/counteflora.json
  packs/data/kingmaker-bestiary.db/castruccio-irovetti.json
  packs/data/kingmaker-bestiary.db/elga-verniex.json
  packs/data/kingmaker-bestiary.db/primal-bandersnatch.json
  packs/data/kingmaker-bestiary.db/whimwyrm.json
  packs/data/pfs-season-1-bestiary.db/flaming-skull-skeletal-champion.json
  packs/data/pfs-season-1-bestiary.db/webhekiz-3-4.json
  packs/data/pfs-season-1-bestiary.db/webhekiz-5-6.json
  packs/data/pfs-season-3-bestiary.db/aspis-enforcer.json
  packs/data/pfs-season-3-bestiary.db/aspis-oppressor.json
  packs/data/pfs-season-3-bestiary.db/aspis-usurper.json
Labels: pr: data update

#4788 Fix rule elements on Necklace of Knives
  packs/data/equipment.db/necklace-of-knives.json
Labels: pr: data update

#4763 Render auras when GMs are logged in alone
  src/module/canvas/token/aura/renderer.ts
Labels: pr: enhancement

#4762 Redraw token auras if scene is activated while being viewed
  src/module/scene/document.ts
Labels: pr: bugfix

#4784 Move CheckPF2e to @system/check and context flag types to chat message
  src/global.d.ts
  src/module/actor/character/index.ts
  src/module/actor/creature/index.ts
  src/module/actor/familiar/index.ts
  src/module/actor/npc/index.ts
  src/module/apps/ui/chat-log.ts
  src/module/chat-message/data.ts
  src/module/item/spell/document.ts
  src/module/system/action-macros/helpers.ts
  src/module/system/action-macros/types.ts
  src/module/system/check-modifiers-dialog.ts
  src/module/system/check/check.ts
  src/module/system/check/index.ts
  src/module/system/check/types.ts
  src/module/system/damage/roll-dialog.ts
  src/module/system/rolls.ts
  src/module/system/statistic/data.ts
  src/module/system/statistic/index.ts
  src/scripts/set-game-pf2e.ts
Labels: pr: housekeeping

#4758 Clean up encounter roll options, refresh each turn
  src/module/actor/base.ts
  src/module/encounter/document.ts
  types/foundry/common/data/data/combatant-data.d.ts
Labels: pr: enhancement

#4790 Exclude troops from being flankable
  src/module/actor/npc/index.ts
Labels: pr: bugfix

#4793 Standardize iconics spell entries to <tradition> <type>
  packs/data/iconics.db/ezren-level-1.json
  packs/data/iconics.db/ezren-level-3.json
  packs/data/iconics.db/ezren-level-5.json
  packs/data/iconics.db/feiya-level-1.json
  packs/data/iconics.db/feiya-level-5.json
  packs/data/iconics.db/kyra-level-1.json
  packs/data/iconics.db/kyra-level-3.json
  packs/data/iconics.db/kyra-level-5.json
  packs/data/iconics.db/lem-level-1.json
  packs/data/iconics.db/lem-level-5.json
  packs/data/paizo-pregens.db/ezren-beginner-box.json
  packs/data/paizo-pregens.db/kyra-beginner-box.json
Labels: pr: data update

#4797 Fix position of scene-darkness adjuster icons
  src/module/apps/scene-darkness-adjuster.ts
  src/styles/scene/_darkness-adjuster.scss
  src/util/misc.ts
Labels: pr: bugfix

#4799 Fix Bark Orders Effect rule element
  packs/data/bestiary-effects.db/effect-bark-orders.json
Labels: pr: data update

#4805 Automated some Oracle Curses
  packs/data/classfeatures.db/ashes.json
  packs/data/feat-effects.db/effect-ashes-curse.json
  static/icons/features/classes/ashes.webp
Labels: pr: data update

#4804 Condense Flat Modifiers for Action.db
  packs/data/actions.db/hunt-prey.json
  packs/data/actions.db/mark-for-death.json
Labels: pr: data update

#4812 Condense some FlatModifiers.
  packs/data/adventure-specific-actions.db/erect-barricades.json
  packs/data/age-of-ashes-bestiary.db/jaggaki.json
  packs/data/age-of-ashes-bestiary.db/malarunk.json
  packs/data/age-of-ashes-bestiary.db/rinnarv-bontimar.json
  packs/data/agents-of-edgewatch-bestiary.db/avarek.json
  packs/data/agents-of-edgewatch-bestiary.db/kapral.json
  packs/data/ancestryfeatures.db/emotionally-unaware.json
  packs/data/backgrounds.db/ex-con-token-guard.json
  packs/data/backgrounds.db/godless-graycloak.json
  packs/data/backgrounds.db/grizzled-muckrucker.json
  packs/data/backgrounds.db/harbor-guard-moonlighter.json
  packs/data/backgrounds.db/learned-guard-prodigy.json
  packs/data/backgrounds.db/political-scion.json
  packs/data/backgrounds.db/post-guard-of-all-trades.json
  packs/data/backgrounds.db/sleepless-suns-star.json
  packs/data/backgrounds.db/undercover-lotus-guard.json
  packs/data/bestiary-effects.db/effect-ancestral-journey.json
  packs/data/bestiary-effects.db/effect-artificers-command.json
  packs/data/bestiary-effects.db/effect-battle-cry.json
  packs/data/bestiary-effects.db/effect-blood-siphon-critical-failure.json
  packs/data/bestiary-effects.db/effect-brand-of-the-impenitent.json
  packs/data/bestiary-effects.db/effect-call-to-action.json
  packs/data/bestiary-effects.db/effect-chug.json
  packs/data/bestiary-effects.db/effect-commanders-aura.json
  packs/data/bestiary-effects.db/effect-countered-by-fire.json
  packs/data/bestiary-effects.db/effect-devour-soul-victim-level-15-or-higher.json
  packs/data/bestiary-effects.db/effect-devour-soul.json
  packs/data/bestiary-effects.db/effect-dire-warning.json
  packs/data/bestiary-effects.db/effect-disturbing-vision.json
  packs/data/bestiary-effects.db/effect-guiding-words.json
Labels: pr: data update

#4813 Review Ostovite from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/ostovite.json
  static/lang/re-en.json
Labels: pr: data update

#4803 Review Platecarpus, Tylosaurus, Mothman, Munavri Spellblade, Myceloid from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/mothman.json
  packs/data/pathfinder-bestiary-3.db/munavri-spellblade.json
  packs/data/pathfinder-bestiary-3.db/myceloid.json
  packs/data/pathfinder-bestiary-3.db/platecarpus.json
  packs/data/pathfinder-bestiary-3.db/tylosaurus.json
Labels: pr: data update

#4807 Review Nightgaunt, Nightmarchers from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/nightgaunt.json
  packs/data/pathfinder-bestiary-3.db/nightmarchers.json
Labels: pr: data update

#4811 Review Ouroboros from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/ouroboros.json
Labels: pr: data update

#4808 Review Lampad, Lampad Queen, Hesperid, Hesperid Queen from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/hesperid-queen.json
  packs/data/pathfinder-bestiary-3.db/hesperid.json
  packs/data/pathfinder-bestiary-3.db/lampad-queen.json
  packs/data/pathfinder-bestiary-3.db/lampad.json
Labels: pr: data update

#4814 Support traits in statistic rolls
  src/module/system/statistic/index.ts
  src/scripts/macros/perception-for-selected-tokens.ts
  src/scripts/macros/stealth-for-selected-tokens.ts
Labels: pr: enhancement

#4708 Hide floaty text for unidentified effects
  src/module/canvas/token/object.ts
Labels: pr: enhancement

#4815 Revert changes to Ostovite except for localization
  packs/data/pathfinder-bestiary-3.db/ostovite.json
  static/lang/re-en.json
Labels: pr: data update

#4818 Use rollMode instead of secret for rolls
  src/module/actor/creature/data.ts
  src/module/actor/creature/index.ts
  src/module/actor/sheet/base.ts
  src/module/apps/ui/encounter-tracker.ts
  src/module/system/statistic/index.ts
  src/scripts/sheet-util.ts
Labels: pr: enhancement

#4819 Review Giant Opossum, Khravgodon from Bestiary 3
  packs/data/bestiary-effects.db/effect-crush-chitin.json
  packs/data/pathfinder-bestiary-3.db/giant-opossum.json
  packs/data/pathfinder-bestiary-3.db/khravgodon.json
Labels: pr: data update

#4792 Review Mobogo, Monkey, Monkey Swarm, Moose from Bestiary 3
  packs/data/bestiary-effects.db/effect-song-of-the-swamp.json
  packs/data/pathfinder-bestiary-3.db/living-rune-primal.json
  packs/data/pathfinder-bestiary-3.db/mobogo.json
  packs/data/pathfinder-bestiary-3.db/monkey-swarm.json
  packs/data/pathfinder-bestiary-3.db/monkey.json
  packs/data/pathfinder-bestiary-3.db/moose.json
Labels: pr: data update

#4820 Review Giant Pangolin, Manticore Paaridar, Peri, Penanggalan from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/giant-pangolin.json
  packs/data/pathfinder-bestiary-3.db/manticore-paaridar.json
  packs/data/pathfinder-bestiary-3.db/penanggalan.json
  packs/data/pathfinder-bestiary-3.db/peri.json
Labels: pr: data update

#4823 Move heightened description for Zealous Conviction from effect to spell
  packs/data/spell-effects.db/spell-effect-bless.json
  packs/data/spell-effects.db/spell-effect-zealous-conviction.json
  packs/data/spells.db/mage-armor.json
  packs/data/spells.db/zealous-conviction.json
Labels: pr: data update

#4831 Remove AE likes from domain spells
  packs/data/age-of-ashes-bestiary.db/immortal-ichor.json
  packs/data/book-of-the-dead-bestiary.db/faithless-ecclesiarch.json
  packs/data/extinction-curse-bestiary.db/cavnakash.json
  packs/data/iconics.db/kyra-level-1.json
  packs/data/iconics.db/kyra-level-3.json
  packs/data/iconics.db/kyra-level-5.json
  packs/data/kingmaker-bestiary.db/tristan-level-10.json
  packs/data/npc-gallery.db/acolyte-of-nethys.json
  packs/data/pathfinder-bestiary-3.db/divine-warden-of-nethys.json
  packs/data/spells.db/bottle-the-storm.json
  packs/data/spells.db/charged-javelin.json
  packs/data/spells.db/cry-of-destruction.json
  packs/data/spells.db/diamond-dust.json
  packs/data/spells.db/fire-ray.json
  packs/data/spells.db/moonbeam.json
  packs/data/spells.db/winter-bolt.json
Labels: pr: data update

#4829 Set secret trait roll mode before dialog and remove secret parameter
  src/module/system/check-modifiers-dialog.ts
  src/module/system/check/check.ts
  src/module/system/rolls.ts
Labels: pr: enhancement

#4764 Add automation to chronoskimmer
  packs/data/feats.db/chronoskimmer-dedication.json
  src/module/actor/creature/index.ts
  static/lang/re-en.json
Labels: pr: data update, pr: enhancement

#4832 Add trigger text to No Escape description.
  packs/data/feats.db/no-escape.json
Labels: pr: data update

#4833 Condense Flat Modifiers for heritages
  packs/data/heritages.db/flexible-catfolk.json
  packs/data/heritages.db/rock-dwarf.json
  packs/data/heritages.db/root-leshy.json
  packs/data/heritages.db/stickytoe-grippli.json
Labels: pr: data update

#4825 Review Giant Porcupine, Popobawa, Pukwudgie, Quintessivore from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/giant-porcupine.json
  packs/data/pathfinder-bestiary-3.db/popobawa.json
  packs/data/pathfinder-bestiary-3.db/pukwudgie.json
  packs/data/pathfinder-bestiary-3.db/quintessivore.json
Labels: pr: data update

#4827 Review Rancorous Priesthood, Rhu Chalik, Roiling Incant, Rokurokubi f…
  packs/data/pathfinder-bestiary-3.db/rancorous-priesthood.json
  packs/data/pathfinder-bestiary-3.db/rhu-chalik.json
  packs/data/pathfinder-bestiary-3.db/roiling-incant-evocation.json
  packs/data/pathfinder-bestiary-3.db/rokurokubi.json
  static/lang/re-en.json
Labels: pr: data update

#4836 Make `RollDataPF2e#damaging` required
  src/module/chat-message/data.ts
  src/module/system/check/strike/attack-roll.ts
Labels: pr: refactor

#4834 Condense Flat Modifiers for conditions
  packs/data/conditions.db/clumsy.json
  packs/data/conditions.db/enfeebled.json
  packs/data/conditions.db/fascinated.json
  packs/data/conditions.db/fatigued.json
  packs/data/conditions.db/stupefied.json
  packs/data/conditions.db/unconscious.json
Labels: pr: data update

#4806 Review Nagaji Soldier, Namorrodor, Narwhal, Nemhaith from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/nagaji-soldier.json
  packs/data/pathfinder-bestiary-3.db/namorrodor.json
  packs/data/pathfinder-bestiary-3.db/narwhal.json
  packs/data/pathfinder-bestiary-3.db/nemhaith.json
  static/lang/re-en.json
Labels: pr: data update

#4821 Review Phantoms and Planar Scions from Bestiary 3
  packs/data/bestiary-effects.db/effect-crush-chitin.json
  packs/data/bestiary-effects.db/effect-ganzi-resistance.json
  packs/data/bestiary-effects.db/effect-hurtful-critique.json
  packs/data/pathfinder-bestiary-3.db/aphorite-sharpshooter.json
  packs/data/pathfinder-bestiary-3.db/ganzi-martial-artist.json
  packs/data/pathfinder-bestiary-3.db/phantom-beast.json
  packs/data/pathfinder-bestiary-3.db/phantom-knight.json
Labels: pr: data update

#4835 Review Sabosan, Samsaran Anchorite, Sasquatch, Scalescribe from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/sabosan.json
  packs/data/pathfinder-bestiary-3.db/samsaran-anchorite.json
  packs/data/pathfinder-bestiary-3.db/sasquatch.json
  packs/data/pathfinder-bestiary-3.db/scalescribe.json
Labels: pr: data update

#4828 Brushup EC Book 3 NPCs part 4
  packs/data/extinction-curse-bestiary.db/cu-sith.json
  packs/data/extinction-curse-bestiary.db/herecite-of-zevgavizeb.json
  packs/data/extinction-curse-bestiary.db/shoony-hierarch.json
  packs/data/extinction-curse-bestiary.db/shoony-militia-member.json
Labels: pr: data update

#4844 Ensure all actors go through data re-preparation on totm setting change
  src/module/system/settings/index.ts
Labels: pr: bugfix

#4845 Review Giant Seahorse, Seething Spirit, Shabti Redeemer, Shae from Bestiary 3
  packs/data/bestiary-effects.db/effect-pulse-of-rage.json
  packs/data/pathfinder-bestiary-3.db/giant-seahorse.json
  packs/data/pathfinder-bestiary-3.db/seething-spirit.json
  packs/data/pathfinder-bestiary-3.db/shabti-redeemer.json
  packs/data/pathfinder-bestiary-3.db/shae.json
  static/lang/re-en.json
Labels: pr: data update

#4842 Review esipil, nucol, pakalchi, wihsaak, ximtal, kimenhul from Bestiary 3
  packs/data/bestiary-effects.db/effect-despoiler.json
  packs/data/bestiary-effects.db/effect-entangling-train.json
  packs/data/pathfinder-bestiary-3.db/esipil.json
  packs/data/pathfinder-bestiary-3.db/kimenhul.json
  packs/data/pathfinder-bestiary-3.db/nucol.json
  packs/data/pathfinder-bestiary-3.db/pakalchi.json
  packs/data/pathfinder-bestiary-3.db/wihsaak.json
  packs/data/pathfinder-bestiary-3.db/ximtal.json
Labels: pr: data update

#4846 Restore spell traits in spell summary
  src/module/item/spell/document.ts
Labels: pr: bugfix

#4847 Review Shantak, Harpy Skeleton, Tyrannosaurus Skeleton, Skeleton Infantry from Bestiary 3
  packs/data/bestiary-effects.db/effect-form-a-phalanx.json
  packs/data/bestiary-effects.db/effect-share-defenses.json
  packs/data/pathfinder-bestiary-3.db/harpy-skeleton.json
  packs/data/pathfinder-bestiary-3.db/shantak.json
  packs/data/pathfinder-bestiary-3.db/skeleton-infantry.json
  packs/data/pathfinder-bestiary-3.db/tyrannosaurus-skeleton.json
Labels: pr: data update

#4848 Update loader-utils dependency again
  package-lock.json
Labels: pr: housekeeping

#4669 Rename "rage" or "panache" predicate statements to "self:effect:*"
  packs/data/actions.db/mark-for-death.json
  packs/data/classfeatures.db/ape-animal-instinct.json
  packs/data/classfeatures.db/battledancer.json
  packs/data/classfeatures.db/bear-animal-instinct.json
  packs/data/classfeatures.db/black-dragon-instinct.json
  packs/data/classfeatures.db/blue-dragon-instinct.json
  packs/data/classfeatures.db/braggart.json
  packs/data/classfeatures.db/brass-dragon-instinct.json
  packs/data/classfeatures.db/bronze-dragon-instinct.json
  packs/data/classfeatures.db/bull-animal-instinct.json
  packs/data/classfeatures.db/cat-animal-instinct.json
  packs/data/classfeatures.db/copper-dragon-instinct.json
  packs/data/classfeatures.db/deer-animal-instinct.json
  packs/data/classfeatures.db/fencer.json
  packs/data/classfeatures.db/frog-animal-instinct.json
  packs/data/classfeatures.db/fury-instinct.json
  packs/data/classfeatures.db/giant-instinct.json
  packs/data/classfeatures.db/gold-dragon-instinct.json
  packs/data/classfeatures.db/green-dragon-instinct.json
  packs/data/classfeatures.db/gymnast.json
  packs/data/classfeatures.db/red-dragon-instinct.json
  packs/data/classfeatures.db/shark-animal-instinct.json
  packs/data/classfeatures.db/silver-dragon-instinct.json
  packs/data/classfeatures.db/snake-animal-instinct.json
  packs/data/classfeatures.db/spirit-instinct.json
  packs/data/classfeatures.db/superstition-instinct.json
  packs/data/classfeatures.db/white-dragon-instinct.json
  packs/data/classfeatures.db/wit.json
  packs/data/classfeatures.db/wolf-animal-instinct.json
  packs/data/feats.db/adrenaline-rush.json
  packs/data/feats.db/barbarian-dedication.json
  packs/data/feats.db/draconic-arrogance.json
  packs/data/feats.db/fast-movement.json
  packs/data/feats.db/furious-bully.json
  packs/data/feats.db/reckless-abandon-barbarian.json
  packs/data/iconics.db/amiri-level-1.json
  packs/data/iconics.db/amiri-level-3.json
  packs/data/iconics.db/amiri-level-5.json
  packs/data/iconics.db/jirelle-level-1.json
  packs/data/iconics.db/jirelle-level-5.json
  packs/data/kingmaker-bestiary.db/amiri-level-1-kingmaker.json
  packs/data/kingmaker-bestiary.db/amiri-level-11-kingmaker.json
  packs/data/paizo-pregens.db/popcorn.json
  packs/data/paizo-pregens.db/zathri.json
  packs/scripts/run-migration.ts
  src/module/migration/migrations/800-self-effect-panache-rage.ts
  src/module/migration/migrations/index.ts
  src/module/migration/runner/base.ts
Labels: pr: data migration, pr: data update

#4849 Make frivolous tidy pass on @item/sheet/base
  src/module/item/sheet/base.ts
Labels: pr: refactor

#4843 Transmit context data to effects dropped from inline content links
  packs/scripts/extract.ts
  src/module/actor/sheet/base.ts
  src/module/canvas/drop-canvas-data.ts
  src/module/item/effect/data.ts
  src/module/system/check/roll.ts
  src/scripts/system/dragstart-handler.ts
  static/template.json
Labels: pr: enhancement

#4850 Allow token UUID in MarkToken RE to be pre-filled
  src/module/rules/rule-element/mark-token/rule-element.ts
  src/util/from-uuids.ts
Labels: pr: enhancement

#4851 Add support for non-valued showDC arguments in @Check
  src/module/system/text-editor.ts
Labels: pr: enhancement

#4852 Review misery, triumph, love, and hatred siktempora from Bestiary 3
  packs/data/bestiary-effects.db/effect-inspire-courage-love-siktempora.json
  packs/data/bestiary-effects.db/effect-inspire-defense-love-siktempora.json
  packs/data/pathfinder-bestiary-3.db/hatred-siktempora.json
  packs/data/pathfinder-bestiary-3.db/love-siktempora.json
  packs/data/pathfinder-bestiary-3.db/misery-siktempora.json
  packs/data/pathfinder-bestiary-3.db/triumph-siktempora.json
Labels: pr: data update

#4854 Condense Flat Modifiers for bestiary effects
  packs/data/bestiary-effects.db/effect-bittersweet-dreams.json
  packs/data/bestiary-effects.db/effect-feed.json
  packs/data/bestiary-effects.db/effect-goblin-song.json
  packs/data/bestiary-effects.db/effect-inspire-envoy.json
  packs/data/bestiary-effects.db/effect-moon-frenzy.json
  packs/data/bestiary-effects.db/effect-motivating-assault.json
  packs/data/bestiary-effects.db/effect-no-quarter.json
  packs/data/bestiary-effects.db/effect-pain-frenzy.json
  packs/data/bestiary-effects.db/effect-praise-adachros.json
  packs/data/bestiary-effects.db/effect-profane-gift.json
  packs/data/bestiary-effects.db/effect-revert-form.json
  packs/data/bestiary-effects.db/effect-soul-siphon.json
  packs/data/bestiary-effects.db/effect-stoke-the-fervent-high-tormentor.json
  packs/data/bestiary-effects.db/effect-take-them-down.json
  packs/data/bestiary-effects.db/effect-timely-advice.json
  packs/data/bestiary-effects.db/effect-transfer-protection.json
  packs/data/bestiary-effects.db/effect-undead-mastery.json
  packs/data/bestiary-effects.db/effect-war-leader.json
Labels: pr: data update

#4856 Review Skinstitch, Skull Peeler, Skunk, Giant Skunk from Bestiary 3
  packs/data/bestiary-effects.db/effect-musk.json
  packs/data/pathfinder-bestiary-3.db/giant-skunk.json
  packs/data/pathfinder-bestiary-3.db/skinstitch.json
  packs/data/pathfinder-bestiary-3.db/skull-peeler.json
  packs/data/pathfinder-bestiary-3.db/skunk.json
Labels: pr: data update

#4858 Fix some FlatModifier selectors
  packs/data/backgrounds.db/godless-graycloak.json
  packs/data/backgrounds.db/grizzled-muckrucker.json
  packs/data/backgrounds.db/harbor-guard-moonlighter.json
  packs/data/feats.db/blessed-blood-aasimar.json
  packs/data/feats.db/transposable-compliance.json
Labels: pr: data update

#4857 Review Slithering Pit, Three Toed Sloth, Megatherium, Rat Snake Swarm…
  packs/data/pathfinder-bestiary-3.db/megatherium.json
  packs/data/pathfinder-bestiary-3.db/rat-snake-swarm.json
  packs/data/pathfinder-bestiary-3.db/slithering-pit.json
  packs/data/pathfinder-bestiary-3.db/three-toed-sloth.json
  packs/data/pathfinder-bestiary-3.db/viper-swarm.json
  static/lang/re-en.json
Labels: pr: data update

#4861 Fix cha modifier of tallow guardian
  packs/data/crown-of-the-kobold-king-bestiary.db/tallow-guardian.json
Labels: pr: data update

#4860 Review Nyktera, Draxie, Melixie from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/draxie.json
  packs/data/pathfinder-bestiary-3.db/melixie.json
  packs/data/pathfinder-bestiary-3.db/nyktera.json
Labels: pr: data update

#4863 Condense Flat Modifiers for class features
  packs/data/classfeatures.db/esoteric-lore.json
  packs/data/classfeatures.db/outwit.json
Labels: pr: data update

#4864 Add link from Battle Medicine to immunity
  packs/data/feats.db/battle-medicine.json
Labels: pr: data update

#4865 Release Notes 4.4.0
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Labels: pr: housekeeping

#4855 Review Street, Shrine, Palace, and Soul Skelm from Bestiary 3
  packs/data/bestiary-effects.db/effect-bully-the-departed.json
  packs/data/pathfinder-bestiary-3.db/palace-skelm.json
  packs/data/pathfinder-bestiary-3.db/shrine-skelm.json
  packs/data/pathfinder-bestiary-3.db/soul-skelm.json
  packs/data/pathfinder-bestiary-3.db/street-skelm.json
Labels: pr: data update

#4859 Review Heracosphinx, Elder Sphinx, Cunning Fox, Feathered Bear from Bestiary 3
  packs/data/bestiary-effects.db/effect-guardians-aegis.json
  packs/data/pathfinder-bestiary-3.db/cunning-fox.json
  packs/data/pathfinder-bestiary-3.db/elder-sphinx.json
  packs/data/pathfinder-bestiary-3.db/feathered-bear.json
  packs/data/pathfinder-bestiary-3.db/hieracosphinx.json
Labels: pr: data update

#4867 Condense Flat Modifiers for feat effects
  packs/data/feat-effects.db/effect-ancestor-curse.json
  packs/data/feat-effects.db/effect-aura-of-preservation.json
  packs/data/feat-effects.db/effect-avenge-in-glory.json
  packs/data/feat-effects.db/effect-battle-curse.json
  packs/data/feat-effects.db/effect-bon-mot-critical-success.json
  packs/data/feat-effects.db/effect-bon-mot.json
  packs/data/feat-effects.db/effect-clue-in-expertise.json
  packs/data/feat-effects.db/effect-clue-in.json
  packs/data/feat-effects.db/effect-corpse-killers-defiance-lower-level.json
  packs/data/feat-effects.db/effect-corpse-killers-defiance.json
  packs/data/feat-effects.db/effect-defensive-recovery.json
  packs/data/feat-effects.db/effect-distracting-feint.json
  packs/data/feat-effects.db/effect-emotional-surge.json
  packs/data/feat-effects.db/effect-enforce-oath.json
  packs/data/feat-effects.db/effect-formation-training.json
  packs/data/feat-effects.db/effect-guided-by-the-stars.json
  packs/data/feat-effects.db/effect-harsh-judgement.json
  packs/data/feat-effects.db/effect-heroic-recovery.json
  packs/data/feat-effects.db/effect-hunters-edge-outwit.json
  packs/data/feat-effects.db/effect-legendary-monster-warden.json
  packs/data/feat-effects.db/effect-liberating-step-vs-aberration.json
  packs/data/feat-effects.db/effect-liberating-step-vs-dragon.json
  packs/data/feat-effects.db/effect-liberating-step-vs-fiend.json
  packs/data/feat-effects.db/effect-liberating-step-vs-undead.json
  packs/data/feat-effects.db/effect-monster-warden.json
  packs/data/feat-effects.db/effect-predictable-critical-failure.json
  packs/data/feat-effects.db/effect-predictable-critical-success.json
  packs/data/feat-effects.db/effect-predictable.json
  packs/data/feat-effects.db/effect-prevailing-position.json
  packs/data/feat-effects.db/effect-psychic-rapport.json
  packs/data/feat-effects.db/effect-read-shibboleths.json
  packs/data/feat-effects.db/effect-reanimator-dedication.json
  packs/data/feat-effects.db/effect-time-curse.json
  packs/data/feat-effects.db/effect-undying-conviction.json
  packs/data/feat-effects.db/effect-weapon-tampered-with-critical-success.json
  packs/data/feat-effects.db/effect-weapon-tampered-with-success.json
  packs/data/feat-effects.db/goblin-song-critical-success.json
  packs/data/feat-effects.db/goblin-song-success.json
  packs/data/feat-effects.db/stance-jellyfish-stance.json
  packs/data/feats.db/guided-by-the-stars.json
Labels: pr: data update

#4870 Fix "saving-throws" selector to "saving-throw"
  packs/data/bestiary-effects.db/effect-chug.json
  packs/data/kingmaker-bestiary.db/linzi-level-7.json
Labels: pr: data update

#4871 Fix format of Grasp of Droskar
  packs/data/equipment.db/grasp-of-droskar.json
Labels: pr: data update

#4872 Fix a typo in Soul Chain
  packs/data/equipment.db/soul-chain.json
Labels: pr: data update

#4873 Fix formatting in Azarim
  packs/data/equipment.db/azarim.json
Labels: pr: data update

#4884 Condense Flat Modifiers for feats
  packs/data/feats.db/ageless-patience.json
  packs/data/feats.db/archaeologist-dedication.json
  packs/data/feats.db/city-scavenger.json
  packs/data/feats.db/draconic-sycophant.json
  packs/data/feats.db/entreat-with-forebears.json
  packs/data/feats.db/extra-squishy.json
  packs/data/feats.db/feathered-cloak.json
  packs/data/feats.db/fey-fellowship.json
  packs/data/feats.db/frostbite-runes.json
  packs/data/feats.db/helpful-poppet.json
  packs/data/feats.db/heros-wings.json
  packs/data/feats.db/illusion-sense.json
  packs/data/feats.db/intuitive-cooperation.json
  packs/data/feats.db/just-one-more-thing.json
  packs/data/feats.db/lie-detector.json
  packs/data/feats.db/loremaster-dedication.json
  packs/data/feats.db/manifold-edge-outwit.json
  packs/data/feats.db/manifold-edge.json
  packs/data/feats.db/monstrous-peacemaker.json
  packs/data/feats.db/multilingual-cipher.json
  packs/data/feats.db/musetouched.json
  packs/data/feats.db/nocturnal-charm.json
  packs/data/feats.db/recognize-spell.json
  packs/data/feats.db/spellmaster-dedication.json
  packs/data/feats.db/strix-defender.json
  packs/data/feats.db/twitchy.json
  packs/data/feats.db/vessels-form.json
  packs/data/feats.db/wary-disarmament.json
  packs/data/feats.db/web-walker.json
Labels: pr: data update

#4881 Review Squirming Swill, Squirrel Swarm, Giant Flying Squirrel, Stheno Harpist from Bestiary 3
  packs/data/pathfinder-bestiary-3.db/giant-flying-squirrel.json
  packs/data/pathfinder-bestiary-3.db/squirming-swill.json
  packs/data/pathfinder-bestiary-3.db/squirrel-swarm.json
  packs/data/pathfinder-bestiary-3.db/stheno-harpist.json
  static/lang/re-en.json
Labels: pr: data update

#4880 Unregister effects for synthetic actors upon token deletion
  src/module/scene/token-document/document.ts
Labels: pr: bugfix

#4892 Add Perfect Weaponry archetype feat
  packs/data/feats.db/perfect-weaponry.json
  packs/data/journals.db/archetypes.json
Labels: pr: data entry, pr: data update, source: lost omens

#4893 Load ABC features from item document instead
  src/module/actor/character/sheet.ts
  src/module/item/abc/document.ts
  src/module/item/abc/manager.ts
  src/module/item/class/document.ts
Labels: pr: refactor

#4890 Change AdjustStrike to search item domain
  src/module/rules/rule-element/adjust-strike.ts
Labels: pr: bugfix

#4895 Remove ensureClassFeaturesForLevel helper
  src/module/actor/character/index.ts
  src/module/item/abc/manager.ts
Labels: pr: refactor

#4789 Add Action cost glyph in feat and class feature header
  src/styles/item/_header.scss
  static/templates/items/item-sheet.html
Labels: pr: enhancement

#4896 Restore origin context to saving throws
  src/module/actor/character/index.ts
  src/module/chat-message/listeners/cards.ts
  src/module/system/statistic/index.ts
  src/scripts/ui/inline-roll-links.ts
Labels: pr: bugfix

#4901 Brushup EC Book 4 NPCs part 3
  packs/data/extinction-curse-bestiary.db/mukradi-summoning-runes.json
  packs/data/extinction-curse-bestiary.db/sodden-sentinel.json
  packs/data/extinction-curse-bestiary.db/tallow-ooze.json
  packs/data/extinction-curse-bestiary.db/wight-cultist.json
Labels: pr: data update
