Repository foundryvtt/pf2e, pull requests merged in 2022-12, with the labels that each got.

#5023 Remove some unneeded labels
  packs/data/bestiary-effects.db/effect-infectious-aura.json
  packs/data/bestiary-effects.db/effect-unsettling-attention.json
  packs/data/bestiary-effects.db/effect-void-shroud.json
  packs/data/equipment-effects.db/effect-crown-of-the-kobold-king.json
  packs/data/equipment-effects.db/effect-energizing-rune-acid.json
  packs/data/equipment-effects.db/effect-energizing-rune-cold.json
  packs/data/equipment-effects.db/effect-energizing-rune-electricity.json
  packs/data/equipment-effects.db/effect-energizing-rune-fire.json
  packs/data/equipment-effects.db/effect-energizing-rune-sonic.json
  packs/data/equipment-effects.db/effect-energy-robe-of-fire.json
  packs/data/equipment-effects.db/effect-glittering-snare-critical-failure.json
  packs/data/equipment-effects.db/effect-glittering-snare-failure.json
  packs/data/equipment-effects.db/effect-glittering-snare-success.json
  packs/data/equipment-effects.db/effect-impossible-cake-greater.json
  packs/data/equipment-effects.db/effect-impossible-cake-major.json
  packs/data/equipment-effects.db/effect-impossible-cake.json
  packs/data/equipment-effects.db/effect-improvised-weapon.json
  packs/data/equipment-effects.db/effect-parry.json
  packs/data/equipment-effects.db/effect-static-snare.json
  packs/data/equipment-effects.db/effect-stone-fist-elixir.json
  packs/data/equipment-effects.db/effect-throne-card.json
  packs/data/feat-effects.db/effect-aquatic-endemic-herbs.json
  packs/data/feat-effects.db/effect-assisting-shot.json
  packs/data/feat-effects.db/effect-defensive-instincts.json
  packs/data/feat-effects.db/effect-dueling-parry.json
  packs/data/feat-effects.db/effect-fleet-tempo.json
  packs/data/feat-effects.db/effect-forest-endemic-herbs.json
  packs/data/feat-effects.db/effect-guardians-deflection.json
  packs/data/feat-effects.db/effect-hydraulic-deflection.json
  packs/data/feat-effects.db/effect-mountain-endemic-herbs.json
  packs/data/feat-effects.db/effect-plains-endemic-herbs.json
  packs/data/feat-effects.db/effect-prevailing-position.json
  packs/data/feat-effects.db/effect-reflexive-shield.json
  packs/data/feat-effects.db/effect-twin-parry.json
  packs/data/feat-effects.db/effect-underground-endemic-herbs.json
Labels: pr: data update

#5022 Refine the attack note of Battle Cry
  packs/data/feats.db/battle-cry.json
Labels: pr: data update

#5021 Change the Hydra Heads effect to use a counter instead of ChoiceSet
  packs/data/bestiary-effects.db/effect-hydra-heads.json
  packs/data/kingmaker-bestiary.db/hooktongue-hydra.json
  packs/data/pathfinder-bestiary.db/hydra.json
Labels: pr: data update

#5020 Fix predicate on Wight Cultist ability
  packs/data/extinction-curse-bestiary.db/bugul-noz.json
  packs/data/extinction-curse-bestiary.db/wight-cultist.json
Labels: pr: data update

#5014 Add effects to Grim Sandglass
  packs/data/equipment-effects.db/effect-grim-sandglass-armor-greater.json
  packs/data/equipment-effects.db/effect-grim-sandglass-armor-major.json
  packs/data/equipment-effects.db/effect-grim-sandglass-armor.json
  packs/data/equipment-effects.db/effect-grim-sandglass-weapon-greater.json
  packs/data/equipment-effects.db/effect-grim-sandglass-weapon-major.json
  packs/data/equipment-effects.db/effect-grim-sandglass-weapon.json
  packs/data/equipment.db/grim-sandglass-greater.json
  packs/data/equipment.db/grim-sandglass-major.json
  packs/data/equipment.db/grim-sandglass.json
Labels: pr: data update

#5013 Add effects to Flaming Star
  packs/data/equipment-effects.db/effect-flaming-star-armor-greater.json
  packs/data/equipment-effects.db/effect-flaming-star-armor-major.json
  packs/data/equipment-effects.db/effect-flaming-star-armor.json
  packs/data/equipment-effects.db/effect-flaming-star-weapon-greater.json
  packs/data/equipment-effects.db/effect-flaming-star-weapon-major.json
  packs/data/equipment-effects.db/effect-flaming-star-weapon.json
  packs/data/equipment.db/flaming-star-greater.json
  packs/data/equipment.db/flaming-star-major.json
  packs/data/equipment.db/flaming-star.json
Labels: pr: data update

#4971 Clean up DoS adjustment code, include saves vs incapacitation effects
  src/module/actor/character/data/types.ts
  src/module/actor/character/index.ts
  src/module/actor/character/sheet.ts
  src/module/actor/familiar/index.ts
  src/module/actor/helpers.ts
  src/module/actor/modifiers.ts
  src/module/actor/npc/index.ts
  src/module/chat-message/data.ts
  src/module/rules/rule-element/adjust-degree-of-success.ts
  src/module/system/action-macros/helpers.ts
  src/module/system/check/check.ts
  src/module/system/check/types.ts
  src/module/system/degree-of-success.ts
  src/module/system/statistic/index.ts
  src/scripts/hooks/render-chat-message.ts
  src/scripts/macros/treat-wounds.ts
  src/styles/ui/sidebar/chat/_check.scss
  static/lang/en.json
Labels: pr: enhancement, pr: refactor

#5006 Add support for proficiency modifier adjustments
  src/module/actor/character/index.ts
  src/module/actor/character/sheet.ts
  src/module/actor/modifiers.ts
  src/module/item/spell/document.ts
  src/module/system/statistic/index.ts
Labels: pr: enhancement

#5029 Adjust formatting of Perfect Droplet
  packs/data/equipment.db/perfect-droplet-greater.json
  packs/data/equipment.db/perfect-droplet-major.json
  packs/data/equipment.db/perfect-droplet.json
Labels: pr: data update

#5030 Standardize formatting of Five-Feather Wreath
  packs/data/equipment-effects.db/effect-five-feather-wreath-armor-greater.json
  packs/data/equipment-effects.db/effect-five-feather-wreath-armor-major.json
  packs/data/equipment-effects.db/effect-five-feather-wreath-armor.json
  packs/data/equipment.db/five-feather-wreath-greater.json
  packs/data/equipment.db/five-feather-wreath-major.json
  packs/data/equipment.db/five-feather-wreath.json
Labels: pr: data update

#5007 Change Kitsune Change Shape's name for added clarity
  packs/data/ancestryfeatures.db/change-shape-kitsune.json
Labels: pr: data update

#5033 Remove ABC Manager
  src/module/actor/character/index.ts
  src/module/actor/character/sheet.ts
  src/module/actor/creature/index.ts
  src/module/item/abc/document.ts
  src/module/item/abc/index.ts
  src/module/item/abc/manager.ts
  src/module/item/ancestry/document.ts
  src/module/item/base.ts
  src/module/item/class/document.ts
Labels: pr: refactor

#5025 Have reevaluateOnUpdate also conditionally delete grants
  src/module/actor/base.ts
  src/module/rules/rule-element/grant-item/base.ts
Labels: pr: enhancement

#5038 Fix aura on Foras
  packs/data/kingmaker-bestiary.db/foras.json
Labels: pr: data update

#5028 Add effects to Trinity Geode
  packs/data/equipment-effects.db/effect-trinity-geode-armor-greater.json
  packs/data/equipment-effects.db/effect-trinity-geode-armor-major.json
  packs/data/equipment-effects.db/effect-trinity-geode-armor.json
  packs/data/equipment-effects.db/effect-trinity-geode-weapon-greater.json
  packs/data/equipment-effects.db/effect-trinity-geode-weapon-major.json
  packs/data/equipment-effects.db/effect-trinity-geode-weapon.json
  packs/data/equipment.db/trinity-geode-greater.json
  packs/data/equipment.db/trinity-geode-major.json
  packs/data/equipment.db/trinity-geode.json
  static/lang/en.json
  static/lang/re-en.json
Labels: pr: data update

#5032 Brushup EC Book 4 NPCs part 8
  packs/data/extinction-curse-bestiary.db/faceless-butcher.json
  packs/data/extinction-curse-bestiary.db/harrow-doll.json
  packs/data/extinction-curse-bestiary.db/qurashith.json
  packs/data/extinction-curse-bestiary.db/the-vanish-man.json
  packs/data/extinction-curse-bestiary.db/zashathal-head-taker.json
  packs/data/feat-effects.db/effect-renewed-vigor.json
Labels: pr: data update

#5036 Fix predicate on Vetalarana Emergent
  packs/data/book-of-the-dead-bestiary.db/vetalarana-emergent.json
Labels: pr: data update

#5035 Remove some more unneeded labels
  packs/data/equipment.db/armbands-of-athleticism-greater.json
  packs/data/equipment.db/armbands-of-athleticism.json
  packs/data/feats.db/breath-like-honey.json
  packs/data/feats.db/light-from-darkness.json
  packs/data/feats.db/sense-evil.json
  packs/data/feats.db/sense-good.json
  packs/data/feats.db/superior-sight.json
  packs/data/heritages.db/insightful-goloma.json
Labels: pr: data update

#5040 Make action cost in action sheet like the feat one
  static/templates/items/action-details.html
Labels: ui/ux

#5039 Remove preset aura fill color on Starved Staff
  packs/data/extinction-curse-bestiary.db/starved-staff.json
Labels: pr: data update

#5037 Convert Kit and SpellcastingEntry to new simple grant structure
  src/module/actor/creature/sheet.ts
  src/module/item/base.ts
  src/module/item/kit/document.ts
  src/module/item/spellcasting-entry/index.ts
  static/lang/en.json
Labels: pr: refactor

#5043 Skip migration of synthetic actors lacking migratable actor data
  packs/scripts/extract.ts
  src/module/actor/creature/index.ts
  src/module/actor/npc/data.ts
  src/module/migration/runner/index.ts
  static/template.json
Labels: pr: enhancement

#5054 Add "lore-skill-check" to `Statistic` reconstruction of skill statistics
  src/module/actor/character/index.ts
  src/module/actor/creature/data.ts
  src/module/actor/creature/index.ts
Labels: pr: bugfix

#5053 Fix ancestry record for Elfbane Hobgoblin
  packs/data/heritages.db/elfbane-hobgoblin.json
Labels: pr: data update

#5044 Add link from Treat Wounds to immunity
  packs/data/actions.db/treat-wounds.json
  packs/data/feat-effects.db/effect-battle-medicine-immunity.json
  packs/data/feat-effects.db/effect-treat-wounds-immunity.json
Labels: pr: data update

#5045 Condense resistances
  packs/data/book-of-the-dead-bestiary.db/jitterbone-contortionist.json
  packs/data/pathfinder-bestiary-3.db/adult-sea-dragon-spellcaster.json
  packs/data/pathfinder-bestiary-3.db/adult-sea-dragon.json
  packs/data/pathfinder-bestiary-3.db/ancient-sea-dragon-spellcaster.json
  packs/data/pathfinder-bestiary-3.db/ancient-sea-dragon.json
  packs/data/pathfinder-bestiary-3.db/chyzaedu.json
  packs/data/pathfinder-bestiary-3.db/giant-hermit-crab.json
  packs/data/pathfinder-bestiary-3.db/young-sea-dragon-spellcaster.json
  packs/data/pathfinder-bestiary-3.db/young-sea-dragon.json
Labels: pr: data update

#5048 Fix typo in Flower magic name
  packs/data/feats.db/flower-magic.json
Labels: pr: data update

#5052 Allow for injected selectors in RollTwice
  src/module/rules/rule-element/roll-twice.ts
Labels: pr: enhancement

#5057 Remove `getDamageRollContext` and `rollSaves` methods from `ActorPF2e`
  src/module/actor/base.ts
  src/module/actor/character/index.ts
  src/module/actor/helpers.ts
Labels: pr: housekeeping

#5056 Make sure only TextEditor.enrichHTML calls are being made
  src/module/actor/character/crafting/helpers.ts
  src/module/actor/sheet/item-summary-renderer.ts
  src/module/item/base.ts
  src/module/item/sheet/base.ts
  src/module/item/spell/document.ts
  src/module/system/damage/roll-dialog.ts
  src/scripts/macros/hotbar.ts
Labels: pr: refactor

#5073 Remove unneeded labels for heritages
  packs/data/heritages.db/great-gnoll.json
  packs/data/heritages.db/sweetbreath-gnoll.json
  packs/data/heritages.db/wisp-fetchling.json
Labels: pr: data update

#5068 Fix damageType on Smite Good
  packs/data/feat-effects.db/effect-smite-evil.json
  packs/data/feat-effects.db/effect-smite-good.json
Labels: pr: data update

#5072 Remove unneeded labels for feat effects
  packs/data/familiar-abilities.db/skilled.json
  packs/data/feat-effects.db/effect-bristle.json
  packs/data/feat-effects.db/effect-giants-stature.json
  packs/data/feat-effects.db/effect-inspiring-marshal-stance.json
  packs/data/feat-effects.db/effect-legendary-monster-hunter.json
  packs/data/feat-effects.db/effect-monster-hunter.json
  packs/data/feat-effects.db/effect-monster-warden.json
  packs/data/feat-effects.db/effect-resounding-bravery.json
Labels: pr: data update

#5070 Remove unneeded labels for actions
  packs/data/actions.db/pursue-a-lead.json
  packs/data/actions.db/resist-magic.json
Labels: pr: data update

#5069 Removed unneeded labels and localized attack labels for animal form effects
  packs/data/spell-effects.db/spell-effect-animal-form-ape.json
  packs/data/spell-effects.db/spell-effect-animal-form-bear.json
  packs/data/spell-effects.db/spell-effect-animal-form-bull.json
  packs/data/spell-effects.db/spell-effect-animal-form-canine.json
  packs/data/spell-effects.db/spell-effect-animal-form-cat.json
  packs/data/spell-effects.db/spell-effect-animal-form-deer.json
  packs/data/spell-effects.db/spell-effect-animal-form-frog.json
  packs/data/spell-effects.db/spell-effect-animal-form-shark.json
  packs/data/spell-effects.db/spell-effect-animal-form-snake.json
Labels: pr: data update

#5071 Remove unneeded labels for equipment effects
  packs/data/equipment-effects.db/effect-drakeheart-mutagen-greater.json
  packs/data/equipment-effects.db/effect-drakeheart-mutagen-lesser.json
  packs/data/equipment-effects.db/effect-drakeheart-mutagen-major.json
  packs/data/equipment-effects.db/effect-drakeheart-mutagen-moderate.json
  packs/data/equipment-effects.db/effect-juggernaut-mutagen-greater.json
  packs/data/equipment-effects.db/effect-juggernaut-mutagen-lesser.json
  packs/data/equipment-effects.db/effect-juggernaut-mutagen-major.json
  packs/data/equipment-effects.db/effect-juggernaut-mutagen-moderate.json
  packs/data/equipment-effects.db/effect-oath-of-the-devoted.json
  packs/data/equipment-effects.db/effect-rhino-shot.json
  packs/data/equipment-effects.db/effect-serene-mutagen-greater.json
  packs/data/equipment-effects.db/effect-serene-mutagen-lesser.json
  packs/data/equipment-effects.db/effect-serene-mutagen-major.json
  packs/data/equipment-effects.db/effect-serene-mutagen-moderate.json
  packs/data/equipment.db/anklets-of-alacrity.json
  packs/data/equipment.db/deflecting-branch.json
  packs/data/equipment.db/retribution-axe.json
  packs/data/equipment.db/rhino-hide.json
  packs/data/equipment.db/void-mirror.json
Labels: pr: data update

#5063 Fix description of Raging Athlete feat
  packs/data/feats.db/raging-athlete.json
Labels: pr: data update

#5062 Fix prerequisites in Fey transcendence
  packs/data/feats.db/fey-transcendence.json
Labels: pr: data update

#5059 Add frequency in Planar sidestep
  packs/data/feats.db/planar-sidestep.json
Labels: pr: data update

#5058 Fix prerequisites of Glamour (Fey influence)
  packs/data/feats.db/glamour.json
Labels: pr: data update

#5049 Update Fey influence with Impossible Lands printing
  packs/data/feats.db/fey-influence.json
Labels: pr: data update

#5075 Remove unneeded labels for spell effects (part 1)
  packs/data/spell-effects.db/spell-effect-celestial-brand.json
  packs/data/spell-effects.db/spell-effect-community-repair-critical-success.json
  packs/data/spell-effects.db/spell-effect-corrosive-body.json
  packs/data/spell-effects.db/spell-effect-elemental-gift-air.json
  packs/data/spell-effects.db/spell-effect-elemental-gift-earth.json
  packs/data/spell-effects.db/spell-effect-elemental-gift-fire.json
  packs/data/spell-effects.db/spell-effect-elemental-gift-water.json
  packs/data/spell-effects.db/spell-effect-envenom-companion.json
  packs/data/spell-effects.db/spell-effect-evolution-surge-amphibious.json
  packs/data/spell-effects.db/spell-effect-evolution-surge-climb.json
  packs/data/spell-effects.db/spell-effect-evolution-surge-fly.json
  packs/data/spell-effects.db/spell-effect-evolution-surge-huge.json
  packs/data/spell-effects.db/spell-effect-evolution-surge-large.json
  packs/data/spell-effects.db/spell-effect-evolution-surge-scent.json
  packs/data/spell-effects.db/spell-effect-evolution-surge-sight.json
  packs/data/spell-effects.db/spell-effect-evolution-surge-speed.json
  packs/data/spell-effects.db/spell-effect-extract-poison.json
  packs/data/spell-effects.db/spell-effect-fey-form-redcap.json
  packs/data/spell-effects.db/spell-effect-forbidding-ward.json
  packs/data/spell-effects.db/spell-effect-gluttons-jaw.json
  packs/data/spell-effects.db/spell-effect-guidance.json
  packs/data/spell-effects.db/spell-effect-illusory-disguise.json
  packs/data/spell-effects.db/spell-effect-impeccable-flow.json
  packs/data/spell-effects.db/spell-effect-infectious-melody.json
  packs/data/spell-effects.db/spell-effect-inspire-defense.json
  packs/data/spell-effects.db/spell-effect-ki-strike.json
Labels: pr: data update

#5077 Remove several unnecessary linebreaks and formatting from descriptions.
  packs/data/equipment.db/conrasu-coin-arbiter.json
  packs/data/feats.db/analyze-weakness.json
  packs/data/feats.db/connect-the-dots.json
  packs/data/feats.db/diverting-vortex.json
  packs/data/feats.db/energy-ward.json
  packs/data/feats.db/follow-up-assault.json
  packs/data/feats.db/guardians-deflection-swashbuckler.json
  packs/data/feats.db/impaling-thrust.json
  packs/data/feats.db/leading-dance.json
  packs/data/feats.db/mask-of-pain.json
  packs/data/feats.db/overextending-feint.json
  packs/data/feats.db/peafowl-stance.json
  packs/data/feats.db/penetrating-projectile.json
  packs/data/feats.db/resounding-blow.json
  packs/data/feats.db/return-fire.json
  packs/data/feats.db/tactical-entry.json
  packs/data/feats.db/twin-distraction.json
  packs/data/feats.db/vexing-tumble.json
  packs/data/spells.db/gouging-claw.json
  packs/data/spells.db/shadow-zombie.json
Labels: pr: data update

#5076 Remove unneeded labels for spell effects (part 2)
  packs/data/spell-effects.db/spell-effect-lay-on-hands.json
  packs/data/spell-effects.db/spell-effect-life-giving-form.json
  packs/data/spell-effects.db/spell-effect-litany-of-self-interest.json
  packs/data/spell-effects.db/spell-effect-mage-armor.json
  packs/data/spell-effects.db/spell-effect-mantle-of-the-frozen-heart-ice-glide.json
  packs/data/spell-effects.db/spell-effect-mantle-of-the-frozen-heart-icy-claws.json
  packs/data/spell-effects.db/spell-effect-mantle-of-the-magma-heart-enlarging-eruption.json
  packs/data/spell-effects.db/spell-effect-mantle-of-the-magma-heart-fiery-grasp.json
  packs/data/spell-effects.db/spell-effect-mimic-undead.json
  packs/data/spell-effects.db/spell-effect-necromancers-generosity.json
  packs/data/spell-effects.db/spell-effect-primal-summons-fire.json
  packs/data/spell-effects.db/spell-effect-protect-companion.json
  packs/data/spell-effects.db/spell-effect-protective-ward.json
  packs/data/spell-effects.db/spell-effect-rapid-adaptation-aquatic-base-swim-speed.json
  packs/data/spell-effects.db/spell-effect-rapid-adaptation-aquatic-speed-bonus.json
  packs/data/spell-effects.db/spell-effect-rapid-adaptation-arctic.json
  packs/data/spell-effects.db/spell-effect-rapid-adaptation-desert.json
  packs/data/spell-effects.db/spell-effect-rapid-adaptation-forest.json
  packs/data/spell-effects.db/spell-effect-rapid-adaptation-mountain.json
  packs/data/spell-effects.db/spell-effect-rapid-adaptation-plains.json
  packs/data/spell-effects.db/spell-effect-rapid-adaptation-underground.json
  packs/data/spell-effects.db/spell-effect-reinforce-eidolon.json
  packs/data/spell-effects.db/spell-effect-soothe.json
  packs/data/spell-effects.db/spell-effect-touch-of-corruption.json
  packs/data/spell-effects.db/spell-effect-wild-shape.json
  packs/data/spell-effects.db/spell-effect-zealous-conviction.json
  static/lang/re-en.json
Labels: pr: data update

#5082 Fix link to Effect: Applereed Mutagen (Moderate)
  packs/data/equipment.db/applereed-mutagen-moderate.json
Labels: pr: data update

#5081 Fix resistance effect for Tallowheart Mass
  packs/data/equipment-effects.db/effect-tallowheart-mass.json
  packs/data/equipment.db/tallowheart-mass.json
Labels: pr: data update

#5079 Fix many traits
  packs/data/age-of-ashes-bestiary.db/emaliza-zandivar.json
  packs/data/agents-of-edgewatch-bestiary.db/hundun-chaos-mage.json
  packs/data/agents-of-edgewatch-bestiary.db/living-mural.json
  packs/data/agents-of-edgewatch-bestiary.db/skitterstitch.json
  packs/data/april-fools-bestiary.db/weredigo.json
  packs/data/bestiary-effects.db/effect-swell.json
  packs/data/blog-bestiary.db/lisavet.json
  packs/data/blog-bestiary.db/morlibint.json
  packs/data/blog-bestiary.db/prrall.json
  packs/data/equipment.db/sparkblade.json
  packs/data/feat-effects.db/effect-blizzard-evasion.json
  packs/data/feats.db/fey-skin.json
  packs/data/feats.db/fey-transcendence.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/cloudsplitter.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/golarions-finest-brartork.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/golarions-finest-han.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/golarions-finest-jun.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/golarions-finest-krankkiss.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/golarions-finest-mingyu.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/golarions-finest-numoriz.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/golarions-finest-paunnima.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/golarions-finest-rajna.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/jin-hae.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/ki-adept-ahmoza-twins.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/weapon-master-under-the-pale-sun-dervishes.json
  packs/data/malevolence-bestiary.db/undead-brain-collector.json
  packs/data/pathfinder-bestiary-2.db/ankou.json
  packs/data/pathfinder-bestiary-2.db/bone-prophet.json
  packs/data/pathfinder-bestiary.db/sea-devil-baron.json
  packs/data/pathfinder-bestiary.db/sea-devil-brute.json
  packs/data/pathfinder-bestiary.db/sea-devil-scout.json
  packs/data/pfs-season-1-bestiary.db/sea-devil-invader.json
  packs/data/pfs-season-1-bestiary.db/spitting-acid-bushes-5-6.json
  packs/data/pfs-season-1-bestiary.db/spitting-acid-bushes-7-8.json
  packs/data/pfs-season-2-bestiary.db/baron-utomo-3-4.json
  packs/data/pfs-season-2-bestiary.db/baron-utomo-5-6.json
  packs/data/pfs-season-2-bestiary.db/barrow-quasit.json
  packs/data/pfs-season-2-bestiary.db/sea-devil-impaler.json
  packs/data/pfs-season-2-bestiary.db/strak-7-8.json
  packs/data/pfs-season-2-bestiary.db/the-saboteur-3-4.json
  packs/data/pfs-season-2-bestiary.db/the-saboteur-5-6.json
  packs/data/pfs-season-2-bestiary.db/weak-sea-devil-scout.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/final-flight.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/hegremon.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/punishing-altar.json
  packs/data/spell-effects.db/spell-effect-barkskin-arboreals-revenge.json
  packs/data/strength-of-thousands-bestiary.db/contemplative-meditant.json
  packs/data/strength-of-thousands-bestiary.db/contemplative-mentor.json
  packs/data/strength-of-thousands-bestiary.db/serpent-ward.json
  src/scripts/config/traits.ts
Labels: pr: data update

#5088 Add Sparkling Targe Defending checkbox label
  static/lang/re-en.json
Labels: pr: data update

#5055 Move migration of newly-created actor source to earlier stage
  src/module/actor/base.ts
  src/module/actor/helpers.ts
Labels: pr: enhancement

#5089 Add more loot sheet touchups
  src/styles/actor/loot/_index.scss
Labels: ui/ux

#5090 Fix generated names for action macros
  src/scripts/macros/hotbar.ts
Labels: pr: bugfix

#5112 Fix background granted skill feat placement and cleanup
  src/module/item/abc/document.ts
  src/module/item/base.ts
Labels: pr: bugfix

#5114 Remove unnecessary action cost type addition in npc sheet
  src/module/actor/npc/sheet.ts
  src/module/item/action/document.ts
  src/module/item/feat/document.ts
Labels: pr: refactor

#5115 Deprecate ActorPF2e#getActionGraphics()
  src/module/actor/base.ts
  src/module/actor/character/sheet.ts
  src/module/actor/helpers.ts
  src/module/actor/vehicle/sheet.ts
  src/module/item/data/base.ts
  src/util/misc.ts
Labels: pr: refactor

#5111 Remove unneeded resistance labels for PFS3
  packs/data/pfs-season-3-bestiary.db/caliclotherax-9-10.json
  packs/data/pfs-season-3-bestiary.db/elite-green-hag-pfs-3-99.json
  packs/data/pfs-season-3-bestiary.db/elite-hell-hound-pfs-3-07.json
  packs/data/pfs-season-3-bestiary.db/enduring-zombie-hulk.json
  packs/data/pfs-season-3-bestiary.db/filth-fire-pfs-3-01.json
  packs/data/pfs-season-3-bestiary.db/giant-amoeba-pfs-3-98.json
  packs/data/pfs-season-3-bestiary.db/grimstalker-pfs-3-13.json
  packs/data/pfs-season-3-bestiary.db/languid-isqulug.json
  packs/data/pfs-season-3-bestiary.db/nuglub-pfs-3-18.json
  packs/data/pfs-season-3-bestiary.db/umbral-drake.json
  packs/data/pfs-season-3-bestiary.db/vengeful-ember-fox.json
  packs/data/pfs-season-3-bestiary.db/weak-hell-hound-pfs-3-07.json
  packs/data/pfs-season-3-bestiary.db/weretiger-pfs-3-13.json
Labels: pr: data update

#5110 Remove unneeded resistance labels for PFS2
  packs/data/pfs-season-2-bestiary.db/abyssal-fungi.json
  packs/data/pfs-season-2-bestiary.db/barrow-quasit.json
  packs/data/pfs-season-2-bestiary.db/bruorsivi-mandragora.json
  packs/data/pfs-season-2-bestiary.db/burned-out-efreet.json
  packs/data/pfs-season-2-bestiary.db/dragon-forest-rot.json
  packs/data/pfs-season-2-bestiary.db/draugr-raider.json
  packs/data/pfs-season-2-bestiary.db/exploding-skeleton-guard.json
  packs/data/pfs-season-2-bestiary.db/fire-eye-cyclops-zombie-1-2.json
  packs/data/pfs-season-2-bestiary.db/frost-troll-hunter.json
  packs/data/pfs-season-2-bestiary.db/frostbitten-trollhound.json
  packs/data/pfs-season-2-bestiary.db/goblin-skeleton.json
  packs/data/pfs-season-2-bestiary.db/hobgoblin-skeleton.json
  packs/data/pfs-season-2-bestiary.db/insidious-dragon-forest-rot.json
  packs/data/pfs-season-2-bestiary.db/iverri-3-4.json
  packs/data/pfs-season-2-bestiary.db/iverri-5-6.json
  packs/data/pfs-season-2-bestiary.db/joyful-planar-nixie.json
  packs/data/pfs-season-2-bestiary.db/leaded-skeleton.json
  packs/data/pfs-season-2-bestiary.db/lesser-bruorsivi-mandragora.json
  packs/data/pfs-season-2-bestiary.db/lesser-skeletal-cyclops.json
  packs/data/pfs-season-2-bestiary.db/mephit-swarm-5-6.json
  packs/data/pfs-season-2-bestiary.db/mephit-swarm-7-8.json
  packs/data/pfs-season-2-bestiary.db/mutated-trollhound.json
  packs/data/pfs-season-2-bestiary.db/nuglub-pfs-2-00.json
  packs/data/pfs-season-2-bestiary.db/planar-nixie.json
  packs/data/pfs-season-2-bestiary.db/quickling-pfs-2-00.json
  packs/data/pfs-season-2-bestiary.db/run-down-efreet.json
  packs/data/pfs-season-2-bestiary.db/scorched-earth-mephit.json
  packs/data/pfs-season-2-bestiary.db/sezruth-1-2.json
  packs/data/pfs-season-2-bestiary.db/sezruth-3-4.json
  packs/data/pfs-season-2-bestiary.db/skeletal-cyclops.json
  packs/data/pfs-season-2-bestiary.db/skeletal-reveler.json
  packs/data/pfs-season-2-bestiary.db/spark-troll-1-2.json
  packs/data/pfs-season-2-bestiary.db/the-scholar-of-sorts-1-2.json
  packs/data/pfs-season-2-bestiary.db/tough-leaded-skeleton.json
  packs/data/pfs-season-2-bestiary.db/tough-skeletal-reveler.json
  packs/data/pfs-season-2-bestiary.db/twigjack-pfs-2-08.json
  packs/data/pfs-season-2-bestiary.db/unkillable-zombie-shambler.json
  packs/data/pfs-season-2-bestiary.db/urkhas-3-4.json
  packs/data/pfs-season-2-bestiary.db/urkhas-5-6.json
  packs/data/pfs-season-2-bestiary.db/valgomorus-1-2.json
  packs/data/pfs-season-2-bestiary.db/valgomorus-3-4.json
  packs/data/pfs-season-2-bestiary.db/vermlek-centaur-3-4.json
  packs/data/pfs-season-2-bestiary.db/vermlek-centaur-5-6.json
  packs/data/pfs-season-2-bestiary.db/weak-mudwretch.json
  packs/data/pfs-season-2-bestiary.db/weakened-abyssal-fungi.json
Labels: pr: data update

#5109 Remove unneeded resistance labels for PFS1
  packs/data/pfs-introductions-bestiary.db/sun-scorched-shadow-drake.json
  packs/data/pfs-season-1-bestiary.db/dead-organ-5-6.json
  packs/data/pfs-season-1-bestiary.db/dead-organ-7-8.json
  packs/data/pfs-season-1-bestiary.db/flaming-skull-skeletal-champion.json
  packs/data/pfs-season-1-bestiary.db/flaming-skull-skeleton-guard.json
  packs/data/pfs-season-1-bestiary.db/goblin-skeleton.json
  packs/data/pfs-season-1-bestiary.db/greater-shadow-wisp.json
  packs/data/pfs-season-1-bestiary.db/gwibble-1-2.json
  packs/data/pfs-season-1-bestiary.db/gwibble-3-4.json
  packs/data/pfs-season-1-bestiary.db/kobold-dragon-spellweaver.json
  packs/data/pfs-season-1-bestiary.db/mitflit-sneak.json
  packs/data/pfs-season-1-bestiary.db/mummy-brute.json
  packs/data/pfs-season-1-bestiary.db/mummy-shambler.json
  packs/data/pfs-season-1-bestiary.db/muraxi-3-4.json
  packs/data/pfs-season-1-bestiary.db/muraxi-5-6.json
  packs/data/pfs-season-1-bestiary.db/nashaxian-the-angered.json
  packs/data/pfs-season-1-bestiary.db/nashaxian-the-bored.json
  packs/data/pfs-season-1-bestiary.db/shadow-wisp.json
  packs/data/pfs-season-1-bestiary.db/skeletal-gladiator.json
  packs/data/pfs-season-1-bestiary.db/technic-zombie-3-4.json
  packs/data/pfs-season-1-bestiary.db/technic-zombie-5-6.json
  packs/data/pfs-season-1-bestiary.db/the-ascendant-3-4.json
  packs/data/pfs-season-1-bestiary.db/the-ascendant-5-6.json
  packs/data/pfs-season-1-bestiary.db/weak-green-hag.json
  packs/data/pfs-season-1-bestiary.db/weak-spider-swarm.json
  packs/data/pfs-season-1-bestiary.db/witchwyrd-pfs-1-21.json
  packs/data/pfs-season-1-bestiary.db/young-bloodseeker-swarm.json
  packs/data/pfs-season-1-bestiary.db/zombie-minihulk.json
Labels: pr: data update

#5104 Remove unneeded resistance labels for Bestiary 2 (1/5)
  packs/data/pathfinder-bestiary-2.db/aapoph-serpentfolk.json
  packs/data/pathfinder-bestiary-2.db/adult-crystal-dragon-spellcaster.json
  packs/data/pathfinder-bestiary-2.db/adult-crystal-dragon.json
  packs/data/pathfinder-bestiary-2.db/adult-magma-dragon-spellcaster.json
  packs/data/pathfinder-bestiary-2.db/adult-magma-dragon.json
  packs/data/pathfinder-bestiary-2.db/akata.json
  packs/data/pathfinder-bestiary-2.db/akizendri.json
  packs/data/pathfinder-bestiary-2.db/amoeba-swarm.json
  packs/data/pathfinder-bestiary-2.db/ancient-crystal-dragon-spellcaster.json
  packs/data/pathfinder-bestiary-2.db/ancient-crystal-dragon.json
  packs/data/pathfinder-bestiary-2.db/ancient-magma-dragon-spellcaster.json
  packs/data/pathfinder-bestiary-2.db/ancient-magma-dragon.json
  packs/data/pathfinder-bestiary-2.db/ankou.json
  packs/data/pathfinder-bestiary-2.db/army-ant-swarm.json
  packs/data/pathfinder-bestiary-2.db/assassin-vine.json
  packs/data/pathfinder-bestiary-2.db/athach.json
  packs/data/pathfinder-bestiary-2.db/augnagar.json
  packs/data/pathfinder-bestiary-2.db/augur.json
  packs/data/pathfinder-bestiary-2.db/azuretzi.json
  packs/data/pathfinder-bestiary-2.db/babau.json
  packs/data/pathfinder-bestiary-2.db/baobhan-sith.json
  packs/data/pathfinder-bestiary-2.db/basidirond.json
  packs/data/pathfinder-bestiary-2.db/bastion-archon.json
  packs/data/pathfinder-bestiary-2.db/blizzardborn.json
  packs/data/pathfinder-bestiary-2.db/blodeuwedd.json
  packs/data/pathfinder-bestiary-2.db/blue-ringed-octopus.json
  packs/data/pathfinder-bestiary-2.db/bone-prophet.json
  packs/data/pathfinder-bestiary-2.db/bralani.json
  packs/data/pathfinder-bestiary-2.db/brood-leech-swarm.json
  packs/data/pathfinder-bestiary-2.db/bythos.json
  packs/data/pathfinder-bestiary-2.db/cairn-linnorm.json
  packs/data/pathfinder-bestiary-2.db/calathgar.json
  packs/data/pathfinder-bestiary-2.db/catrina.json
  packs/data/pathfinder-bestiary-2.db/chernobue.json
  packs/data/pathfinder-bestiary-2.db/cockroach-swarm.json
  packs/data/pathfinder-bestiary-2.db/coil-spy.json
  packs/data/pathfinder-bestiary-2.db/culdewen.json
  packs/data/pathfinder-bestiary-2.db/cythnigot.json
  packs/data/pathfinder-bestiary-2.db/derghodaemon.json
  packs/data/pathfinder-bestiary-2.db/doprillu.json
Labels: pr: data update

#5105 Remove unneeded resistance labels for Bestiary 2 (2/5)
  packs/data/pathfinder-bestiary-2.db/drainberry-bush.json
  packs/data/pathfinder-bestiary-2.db/draugr.json
  packs/data/pathfinder-bestiary-2.db/ember-fox.json
  packs/data/pathfinder-bestiary-2.db/eremite.json
  packs/data/pathfinder-bestiary-2.db/esobok.json
  packs/data/pathfinder-bestiary-2.db/fen-mosquito-swarm.json
  packs/data/pathfinder-bestiary-2.db/filth-fire.json
  packs/data/pathfinder-bestiary-2.db/fire-jellyfish-swarm.json
  packs/data/pathfinder-bestiary-2.db/fire-yai.json
  packs/data/pathfinder-bestiary-2.db/fjord-linnorm.json
  packs/data/pathfinder-bestiary-2.db/flytrap-leshy.json
  packs/data/pathfinder-bestiary-2.db/frost-troll.json
  packs/data/pathfinder-bestiary-2.db/frost-worm.json
  packs/data/pathfinder-bestiary-2.db/giant-amoeba.json
  packs/data/pathfinder-bestiary-2.db/giant-jellyfish.json
  packs/data/pathfinder-bestiary-2.db/giant-leech.json
  packs/data/pathfinder-bestiary-2.db/giant-slug.json
  packs/data/pathfinder-bestiary-2.db/giant-squid.json
  packs/data/pathfinder-bestiary-2.db/gosreg.json
  packs/data/pathfinder-bestiary-2.db/gray-ooze.json
  packs/data/pathfinder-bestiary-2.db/grimstalker.json
  packs/data/pathfinder-bestiary-2.db/gylou.json
  packs/data/pathfinder-bestiary-2.db/hamatula.json
  packs/data/pathfinder-bestiary-2.db/hellcat.json
  packs/data/pathfinder-bestiary-2.db/hezrou.json
  packs/data/pathfinder-bestiary-2.db/hound-archon.json
  packs/data/pathfinder-bestiary-2.db/hound-of-tindalos.json
  packs/data/pathfinder-bestiary-2.db/ice-mephit.json
  packs/data/pathfinder-bestiary-2.db/ice-yai.json
  packs/data/pathfinder-bestiary-2.db/icewyrm.json
  packs/data/pathfinder-bestiary-2.db/icicle-snake.json
  packs/data/pathfinder-bestiary-2.db/ifrit-pyrochemist.json
  packs/data/pathfinder-bestiary-2.db/imentesh.json
  packs/data/pathfinder-bestiary-2.db/invidiak.json
  packs/data/pathfinder-bestiary-2.db/irlgaunt.json
  packs/data/pathfinder-bestiary-2.db/isqulug.json
  packs/data/pathfinder-bestiary-2.db/jabberwock.json
  packs/data/pathfinder-bestiary-2.db/jotund-troll.json
  packs/data/pathfinder-bestiary-2.db/kelpie.json
  packs/data/pathfinder-bestiary-2.db/korred.json
Labels: pr: data update

#5106 Remove unneeded resistance labels for Bestiary 2 (3/5)
  packs/data/pathfinder-bestiary-2.db/leng-spider.json
  packs/data/pathfinder-bestiary-2.db/lerritan.json
  packs/data/pathfinder-bestiary-2.db/magma-scorpion.json
  packs/data/pathfinder-bestiary-2.db/mandragora.json
  packs/data/pathfinder-bestiary-2.db/marrmora.json
  packs/data/pathfinder-bestiary-2.db/marut.json
  packs/data/pathfinder-bestiary-2.db/meladaemon.json
  packs/data/pathfinder-bestiary-2.db/mohrg.json
  packs/data/pathfinder-bestiary-2.db/monadic-deva.json
  packs/data/pathfinder-bestiary-2.db/movanic-deva.json
  packs/data/pathfinder-bestiary-2.db/mudwretch.json
  packs/data/pathfinder-bestiary-2.db/nabasu.json
  packs/data/pathfinder-bestiary-2.db/nalfeshnee.json
  packs/data/pathfinder-bestiary-2.db/necrophidius.json
  packs/data/pathfinder-bestiary-2.db/neothelid.json
  packs/data/pathfinder-bestiary-2.db/nereid.json
  packs/data/pathfinder-bestiary-2.db/nixie.json
  packs/data/pathfinder-bestiary-2.db/norn.json
  packs/data/pathfinder-bestiary-2.db/nuckelavee.json
  packs/data/pathfinder-bestiary-2.db/nuglub.json
  packs/data/pathfinder-bestiary-2.db/nyogoth.json
  packs/data/pathfinder-bestiary-2.db/olethrodaemon.json
  packs/data/pathfinder-bestiary-2.db/ostiarius.json
  packs/data/pathfinder-bestiary-2.db/petitioner-shadow-plane.json
  packs/data/pathfinder-bestiary-2.db/piscodaemon.json
  packs/data/pathfinder-bestiary-2.db/planetar.json
  packs/data/pathfinder-bestiary-2.db/purrodaemon.json
  packs/data/pathfinder-bestiary-2.db/quickling.json
  packs/data/pathfinder-bestiary-2.db/radiant-warden.json
  packs/data/pathfinder-bestiary-2.db/ravener-husk.json
  packs/data/pathfinder-bestiary-2.db/ravener.json
  packs/data/pathfinder-bestiary-2.db/reef-octopus.json
  packs/data/pathfinder-bestiary-2.db/rusalka.json
  packs/data/pathfinder-bestiary-2.db/sacristan.json
  packs/data/pathfinder-bestiary-2.db/sandpoint-devil.json
  packs/data/pathfinder-bestiary-2.db/sard.json
  packs/data/pathfinder-bestiary-2.db/scarecrow.json
  packs/data/pathfinder-bestiary-2.db/sceaduinar.json
  packs/data/pathfinder-bestiary-2.db/scythe-tree.json
  packs/data/pathfinder-bestiary-2.db/shadow-drake.json
Labels: pr: data update

#5107 Remove unneeded resistance labels for Bestiary 2 (4/5)
  packs/data/pathfinder-bestiary-2.db/shoal-linnorm.json
  packs/data/pathfinder-bestiary-2.db/shoggti.json
  packs/data/pathfinder-bestiary-2.db/skrik-nettle.json
  packs/data/pathfinder-bestiary-2.db/solar.json
  packs/data/pathfinder-bestiary-2.db/soul-eater.json
  packs/data/pathfinder-bestiary-2.db/sportlebore-swarm.json
  packs/data/pathfinder-bestiary-2.db/star-archon.json
  packs/data/pathfinder-bestiary-2.db/steam-mephit.json
  packs/data/pathfinder-bestiary-2.db/striding-fire.json
  packs/data/pathfinder-bestiary-2.db/stygira.json
  packs/data/pathfinder-bestiary-2.db/taiga-linnorm.json
  packs/data/pathfinder-bestiary-2.db/tendriculos.json
  packs/data/pathfinder-bestiary-2.db/thanadaemon.json
  packs/data/pathfinder-bestiary-2.db/theletos.json
  packs/data/pathfinder-bestiary-2.db/thrasfyr.json
  packs/data/pathfinder-bestiary-2.db/thulgant.json
  packs/data/pathfinder-bestiary-2.db/thunderbird.json
  packs/data/pathfinder-bestiary-2.db/tick-swarm.json
  packs/data/pathfinder-bestiary-2.db/trollhound.json
  packs/data/pathfinder-bestiary-2.db/trumpet-archon.json
  packs/data/pathfinder-bestiary-2.db/twigjack.json
  packs/data/pathfinder-bestiary-2.db/two-headed-troll.json
  packs/data/pathfinder-bestiary-2.db/umonlee.json
  packs/data/pathfinder-bestiary-2.db/urdefhan-tormentor.json
  packs/data/pathfinder-bestiary-2.db/urdefhan-warrior.json
  packs/data/pathfinder-bestiary-2.db/vampire-squid.json
  packs/data/pathfinder-bestiary-2.db/vanth.json
  packs/data/pathfinder-bestiary-2.db/vaspercham.json
  packs/data/pathfinder-bestiary-2.db/veranallia.json
  packs/data/pathfinder-bestiary-2.db/vexgit.json
  packs/data/pathfinder-bestiary-2.db/viper-vine.json
  packs/data/pathfinder-bestiary-2.db/vrolikai.json
  packs/data/pathfinder-bestiary-2.db/water-orm.json
  packs/data/pathfinder-bestiary-2.db/wereboar.json
  packs/data/pathfinder-bestiary-2.db/weretiger.json
  packs/data/pathfinder-bestiary-2.db/witchfire.json
  packs/data/pathfinder-bestiary-2.db/witchwyrd.json
  packs/data/pathfinder-bestiary-2.db/worm-that-walks-cultist.json
  packs/data/pathfinder-bestiary-2.db/yamaraj.json
  packs/data/pathfinder-bestiary-2.db/yellow-musk-brute.json
Labels: pr: data update

#5108 Remove unneeded resistance labels for Bestiary 2 (5/5)
  packs/data/pathfinder-bestiary-2.db/yellow-musk-creeper.json
  packs/data/pathfinder-bestiary-2.db/yellow-musk-thrall.json
  packs/data/pathfinder-bestiary-2.db/yeth-hound.json
  packs/data/pathfinder-bestiary-2.db/young-crystal-dragon-spellcaster.json
  packs/data/pathfinder-bestiary-2.db/young-crystal-dragon.json
  packs/data/pathfinder-bestiary-2.db/young-magma-dragon-spellcaster.json
  packs/data/pathfinder-bestiary-2.db/young-magma-dragon.json
  packs/data/pathfinder-bestiary-2.db/zelekhut.json
  packs/data/pathfinder-bestiary-2.db/zomok.json
  packs/data/pathfinder-bestiary-2.db/zyss-serpentfolk.json
Labels: pr: data update

#5103 Remove unneeded resistance labels for SoT
  packs/data/strength-of-thousands-bestiary.db/agitated-carnivorous-plants.json
  packs/data/strength-of-thousands-bestiary.db/baaupa-mdoudu.json
  packs/data/strength-of-thousands-bestiary.db/bramblehand-champion-construct.json
  packs/data/strength-of-thousands-bestiary.db/dimari-diji.json
  packs/data/strength-of-thousands-bestiary.db/drenchdead.json
  packs/data/strength-of-thousands-bestiary.db/fire-pot-ubanu.json
  packs/data/strength-of-thousands-bestiary.db/gnagrif.json
  packs/data/strength-of-thousands-bestiary.db/golgopo.json
  packs/data/strength-of-thousands-bestiary.db/grave-karina.json
  packs/data/strength-of-thousands-bestiary.db/karumzek-swarm.json
  packs/data/strength-of-thousands-bestiary.db/karumzek.json
  packs/data/strength-of-thousands-bestiary.db/kilia-mwibo.json
  packs/data/strength-of-thousands-bestiary.db/kreekoss.json
  packs/data/strength-of-thousands-bestiary.db/kurshkin.json
  packs/data/strength-of-thousands-bestiary.db/pugwampi-sot.json
  packs/data/strength-of-thousands-bestiary.db/reborn-sun-mage.json
  packs/data/strength-of-thousands-bestiary.db/salathiss.json
  packs/data/strength-of-thousands-bestiary.db/scrit.json
  packs/data/strength-of-thousands-bestiary.db/serpentfolk-venom-caller.json
  packs/data/strength-of-thousands-bestiary.db/shieldbearer-construct.json
  packs/data/strength-of-thousands-bestiary.db/sicklehand-construct.json
  packs/data/strength-of-thousands-bestiary.db/silverfish-swarm.json
  packs/data/strength-of-thousands-bestiary.db/sparkeater.json
  packs/data/strength-of-thousands-bestiary.db/ssumzili.json
  packs/data/strength-of-thousands-bestiary.db/sunburst-corpse.json
  packs/data/strength-of-thousands-bestiary.db/umbo.json
  packs/data/strength-of-thousands-bestiary.db/urbel.json
  packs/data/strength-of-thousands-bestiary.db/worknesh.json
Labels: pr: data update

#5102 Remove unneeded resistance labels for Bestiary 1
  packs/data/pathfinder-bestiary.db/green-hag.json
  packs/data/pathfinder-bestiary.db/wendigo.json
  packs/data/pathfinder-bestiary.db/zombie-hulk.json
Labels: pr: data update

#5101 Remove unneeded resistance labels for OoA
  packs/data/outlaws-of-alkenstar-bestiary.db/chemical-zombie.json
  packs/data/outlaws-of-alkenstar-bestiary.db/clockwork-brewer.json
  packs/data/outlaws-of-alkenstar-bestiary.db/clockwork-fabricator.json
  packs/data/outlaws-of-alkenstar-bestiary.db/glaz-nixbrix.json
  packs/data/outlaws-of-alkenstar-bestiary.db/ioton-f6.json
  packs/data/outlaws-of-alkenstar-bestiary.db/prairie-drake.json
  packs/data/outlaws-of-alkenstar-bestiary.db/roxy.json
  packs/data/outlaws-of-alkenstar-bestiary.db/shoma-lyzerius.json
  packs/data/outlaws-of-alkenstar-bestiary.db/yeast-ooze.json
Labels: pr: data update

#5100 Remove unneeded resistance labels for Malevolence
  packs/data/malevolence-bestiary.db/algea.json
  packs/data/malevolence-bestiary.db/architect-and-hunter.json
  packs/data/malevolence-bestiary.db/carrion-vortex.json
  packs/data/malevolence-bestiary.db/corrupted-nosoi.json
  packs/data/malevolence-bestiary.db/haunted-nosoi.json
  packs/data/malevolence-bestiary.db/ixirizmid.json
  packs/data/malevolence-bestiary.db/lured-to-ashes.json
  packs/data/malevolence-bestiary.db/mouth-of-tchekuth.json
  packs/data/malevolence-bestiary.db/tanglebones.json
  packs/data/malevolence-bestiary.db/wrathful-hatchet.json
  packs/data/malevolence-bestiary.db/xarwin-caul.json
  packs/data/malevolence-bestiary.db/xarwin-manor-phantasm.json
  packs/data/malevolence-bestiary.db/xarwin-portraits.json
Labels: pr: data update

#5098 Remove unneeded resistance labels for FotRP
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/canopy-elder.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/dancing-night-parade.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/drake-courser.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/elder-cauthooj.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/floating-flamethrower.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/freezing-floor-tiles.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/grandfather-mantis.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/gumiho.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/hanas-hundreds.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/kun.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/manananggal.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/muckish-creep.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/peng.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/planar-terra-cotta-soldier.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/planar-terra-cotta-squadron.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/portal-eater.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/rai-sho-postulant.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/sanzuwu.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/spinel-leviathan-syndara.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/spirit-turtle.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/watchtower-shadow.json
Labels: pr: data update

#5097 Remove unneeded resistance labels for AoE
  packs/data/agents-of-edgewatch-bestiary.db/baatamidar.json
  packs/data/agents-of-edgewatch-bestiary.db/blunes-illusory-toady.json
  packs/data/agents-of-edgewatch-bestiary.db/bone-skipper-swarm.json
  packs/data/agents-of-edgewatch-bestiary.db/bregdi.json
  packs/data/agents-of-edgewatch-bestiary.db/camarach.json
  packs/data/agents-of-edgewatch-bestiary.db/daemonic-infector.json
  packs/data/agents-of-edgewatch-bestiary.db/daemonic-rumormonger.json
  packs/data/agents-of-edgewatch-bestiary.db/daemonic-skinner.json
  packs/data/agents-of-edgewatch-bestiary.db/excorion-paragon.json
  packs/data/agents-of-edgewatch-bestiary.db/field-of-opposition.json
  packs/data/agents-of-edgewatch-bestiary.db/frefferth.json
  packs/data/agents-of-edgewatch-bestiary.db/ghaele-of-kharnas.json
  packs/data/agents-of-edgewatch-bestiary.db/graveknight-of-kharnas.json
  packs/data/agents-of-edgewatch-bestiary.db/hegessik.json
  packs/data/agents-of-edgewatch-bestiary.db/hestriviniaas.json
  packs/data/agents-of-edgewatch-bestiary.db/hundun-chaos-mage.json
  packs/data/agents-of-edgewatch-bestiary.db/ilsetsya-wyrmtouched.json
  packs/data/agents-of-edgewatch-bestiary.db/izfiitar.json
  packs/data/agents-of-edgewatch-bestiary.db/lie-master.json
  packs/data/agents-of-edgewatch-bestiary.db/nenchuuj.json
  packs/data/agents-of-edgewatch-bestiary.db/olansa-terimor.json
  packs/data/agents-of-edgewatch-bestiary.db/overdrive-imentesh.json
  packs/data/agents-of-edgewatch-bestiary.db/penqual.json
  packs/data/agents-of-edgewatch-bestiary.db/rhevanna.json
  packs/data/agents-of-edgewatch-bestiary.db/slithering-rift.json
  packs/data/agents-of-edgewatch-bestiary.db/sordesdaemon.json
  packs/data/agents-of-edgewatch-bestiary.db/the-inkmaster.json
  packs/data/agents-of-edgewatch-bestiary.db/tyrroicese.json
  packs/data/agents-of-edgewatch-bestiary.db/ulressia-the-blessed.json
  packs/data/agents-of-edgewatch-bestiary.db/wynsal-starborn.json
  packs/data/agents-of-edgewatch-bestiary.db/zrukbat.json
Labels: pr: data update

#5096 Remove unneeded resistance labels for AoA
  packs/data/age-of-ashes-bestiary.db/accursed-forge-spurned.json
  packs/data/age-of-ashes-bestiary.db/animated-dragonstorm.json
  packs/data/age-of-ashes-bestiary.db/carnivorous-crystal.json
  packs/data/age-of-ashes-bestiary.db/crucidaemon.json
  packs/data/age-of-ashes-bestiary.db/dalos.json
  packs/data/age-of-ashes-bestiary.db/dragonscarred-dead.json
  packs/data/age-of-ashes-bestiary.db/dragonshard-guardian.json
  packs/data/age-of-ashes-bestiary.db/dragonstorm-fire-giant.json
  packs/data/age-of-ashes-bestiary.db/forge-spurned.json
  packs/data/age-of-ashes-bestiary.db/immortal-ichor.json
  packs/data/age-of-ashes-bestiary.db/lesser-manifestation-of-dahak.json
  packs/data/age-of-ashes-bestiary.db/living-sap.json
  packs/data/age-of-ashes-bestiary.db/manifestation-of-dahak.json
  packs/data/age-of-ashes-bestiary.db/mengkare.json
  packs/data/age-of-ashes-bestiary.db/scarlet-triad-mage.json
  packs/data/age-of-ashes-bestiary.db/tarrasque-the-armageddon-engine.json
  packs/data/age-of-ashes-bestiary.db/veshumirix.json
  packs/data/age-of-ashes-bestiary.db/weathered-wail.json
  packs/data/age-of-ashes-bestiary.db/xotani-the-firebleeder.json
Labels: pr: data update

#5095 Remove unneeded resistance labels
  packs/data/abomination-vaults-bestiary.db/bloodsiphon.json
  packs/data/april-fools-bestiary.db/blarghest.json
  packs/data/april-fools-bestiary.db/cacaodaemon.json
  packs/data/april-fools-bestiary.db/demom.json
  packs/data/april-fools-bestiary.db/squirrelwind.json
  packs/data/blog-bestiary.db/ailuran.json
  packs/data/blog-bestiary.db/zhang-yong.json
  packs/data/blood-lords-bestiary.db/aquatic-ooze.json
  packs/data/blood-lords-bestiary.db/terra-cotta-soldier.json
  packs/data/blood-lords-bestiary.db/vanth-warrior.json
  packs/data/fall-of-plaguestone.db/bloodlash-bush.json
  packs/data/hazards.db/brown-mold.json
  packs/data/kingmaker-bestiary.db/lesser-jabberwock.json
  packs/data/kingmaker-bestiary.db/overgrown-viper-vine.json
  packs/data/kingmaker-bestiary.db/rigg-gargadilly.json
  packs/data/monsters-of-myth-bestiary.db/krampus-the-horned-miser.json
  packs/data/mwangi-expanse-bestiary.db/karina.json
  packs/data/night-of-the-gray-death-bestiary.db/conqueror-worm.json
  packs/data/night-of-the-gray-death-bestiary.db/gray-death.json
  packs/data/night-of-the-gray-death-bestiary.db/tumblak.json
  packs/data/npc-gallery.db/gravedigger.json
  packs/data/npc-gallery.db/hellknight-armiger.json
  packs/data/npc-gallery.db/rain-scribe.json
  packs/data/npc-gallery.db/reckless-scientist.json
  packs/data/one-shot-bestiary.db/auldegrund-grimcarver.json
  packs/data/the-slithering-bestiary.db/aspis-technician.json
  packs/data/the-slithering-bestiary.db/fuming-sludge.json
  packs/data/vehicles.db/airship.json
  packs/data/vehicles.db/galley.json
  packs/data/vehicles.db/glider.json
Labels: pr: data update

#5086 Condense IWR rule elements
  packs/data/bestiary-effects.db/effect-death-gasp-etioling.json
  packs/data/bestiary-effects.db/effect-death-gasp.json
  packs/data/equipment-effects.db/effect-fire-and-iceberg-greater.json
  packs/data/equipment-effects.db/effect-fire-and-iceberg-major.json
  packs/data/equipment-effects.db/effect-fire-and-iceberg.json
  packs/data/equipment.db/redsand-hourglass.json
  packs/data/feat-effects.db/effect-bone-swarm.json
  packs/data/feat-effects.db/stance-sky-and-heaven-stance.json
  packs/data/feats.db/dormant-eruption.json
  packs/data/feats.db/favor-of-heaven.json
  packs/data/feats.db/jelly-body.json
  packs/data/feats.db/skeletal-resistance.json
  packs/data/other-effects.db/effect-aquatic-combat-no-swim-speed.json
  packs/data/other-effects.db/effect-aquatic-combat.json
  packs/data/pathfinder-bestiary-3.db/calikang.json
  packs/data/pathfinder-bestiary-3.db/stone-lion-cub.json
  packs/data/pathfinder-bestiary-3.db/stone-lion.json
  packs/data/spell-effects.db/spell-effect-armor-of-bones.json
  packs/data/spell-effects.db/spell-effect-barkskin-arboreals-revenge.json
  packs/data/spell-effects.db/spell-effect-barkskin.json
  packs/data/spell-effects.db/spell-effect-blood-vendetta-failure.json
  packs/data/spell-effects.db/spell-effect-embrace-the-pit.json
  packs/data/spell-effects.db/spell-effect-energy-aegis.json
  packs/data/spell-effects.db/spell-effect-fiery-body-9th-level.json
  packs/data/spell-effects.db/spell-effect-fiery-body.json
  packs/data/spell-effects.db/spell-effect-fungal-infestation-critical-failure.json
  packs/data/spell-effects.db/spell-effect-fungal-infestation-failure.json
  packs/data/spell-effects.db/spell-effect-wild-morph.json
Labels: pr: data update

#5099 Fix arrow vulnerability for barking stag
  packs/data/extinction-curse-bestiary.db/barking-stag.json
  src/module/actor/values.ts
  src/scripts/config/index.ts
  static/lang/en.json
Labels: pr: data update

#5084 Add speed penalty to ashes curse
  packs/data/feat-effects.db/effect-ashes-curse.json
Labels: pr: data update

#5118 Add Peggy as a dependency
  package-lock.json
  package.json
Labels: pr: housekeeping

#5119 Update NPM dependencies, adjust code to compile with tsc 4.9.4
  .betterer.results
  package-lock.json
  package.json
  src/module/actor/data/base.ts
  src/module/migration/base.ts
  src/module/migration/index.ts
  src/module/migration/migrations/601-migrate-effect-compendia.ts
  src/module/migration/migrations/605-catch-up-to-template-json.ts
  src/module/migration/migrations/609-loot-actor-traits.ts
  src/module/migration/migrations/777-hand-of-the-apprentice.ts
  types/foundry/client/core/text-editor.d.ts
  types/foundry/client/roll-term/pool-term.d.ts
  types/foundry/package.json
Labels: pr: housekeeping

#5123 Update `RollTerm` type definition for V10
  types/foundry/client/config.d.ts
  types/foundry/client/roll-term/base.d.ts
Labels: pr: foundry v10, pr: types update

#5122 Validate damage type in DamageDice RE
  src/module/rules/rule-element/damage-dice.ts
Labels: pr: enhancement

#5124 Strengthen type of `WeaponSystemSource#property1`
  src/module/item/weapon/data.ts
Labels: pr: types update

#5125 Rename `DegreeIndex` to `DegreeOfSuccessIndex`
  src/module/system/check/roll.ts
  src/module/system/degree-of-success.ts
  src/scripts/macros/earn-income/calculate.ts
  src/scripts/macros/earn-income/helpers.ts
Labels: pr: types update

#5128 Register system `Roll` subclasses on load
  src/scripts/hooks/init.ts
  src/scripts/hooks/load.ts
Labels: pr: refactor

#5127 Add `DEGREE_OF_SUCCESS` enum
  src/module/system/degree-of-success.ts
Labels: pr: enhancement

#5129 Have weapon-rune helpers return `DamageDicePF2e` instances
  src/module/item/physical/runes.ts
Labels: pr: refactor

#5121 Fix Mulventok’s fear immunity
  packs/data/abomination-vaults-bestiary.db/mulventok.json
Labels: pr: data update

#5135 Fix level not showing on first actor(s) in folders
  src/module/apps/ui/actor-directory.ts
Labels: pr: bugfix

#5136 Lock tagify dependency at 4.16.4
  package-lock.json
  package.json
Labels: pr: housekeeping

#5137 Fix styling of inputs containing adjusted NPC value when in focus
  src/styles/actor/npc/_index.scss
Labels: pr: bugfix

#5138 Fix incorrect languages
  packs/data/agents-of-edgewatch-bestiary.db/ixusoth.json
  packs/data/book-of-the-dead-bestiary.db/ice-mummy.json
  packs/data/book-of-the-dead-bestiary.db/nasurgeth.json
  packs/data/book-of-the-dead-bestiary.db/pale-stranger.json
  packs/data/book-of-the-dead-bestiary.db/shredskin.json
  packs/data/book-of-the-dead-bestiary.db/siabrae.json
  packs/data/kingmaker-bestiary.db/niodrhast.json
  packs/data/monsters-of-myth-bestiary.db/temteki.json
  packs/data/monsters-of-myth-bestiary.db/young-linnorm.json
  packs/data/outlaws-of-alkenstar-bestiary.db/ioton-f6.json
  packs/data/pathfinder-bestiary-2.db/neothelid.json
  packs/data/pathfinder-bestiary-2.db/nyogoth.json
  packs/data/pfs-season-1-bestiary.db/mirrored-lelzeshin-tier-3-4.json
  packs/data/pfs-season-1-bestiary.db/mirrored-lelzeshin-tier-5-6.json
  packs/data/pfs-season-1-bestiary.db/plum-leshy-3-4.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/roru.json
  packs/data/shadows-at-sundown-bestiary.db/scarlet-walker.json
  packs/data/strength-of-thousands-bestiary.db/unshadowed-koride.json
Labels: pr: data update

#5132 Update style of inlines with repost buttons
  src/styles/_globals.scss
  src/styles/mixins/_animations.scss
Labels: ui/ux

#5140 Fix Drusilla’s good luck effect to last 1 day
  packs/data/blood-lords-bestiary.db/drusilla.json
  packs/data/campaign-effects.db/effect-manipulate-luck-drusilla-good.json
Labels: pr: data update

#5094 Fix resistance effect for Ring of Torag
  packs/data/equipment.db/ring-of-torag.json
  static/lang/re-en.json
Labels: pr: data update

#5065 Fix traits of Nightstick
  packs/data/equipment.db/nightstick.json
Labels: pr: data update

#5017 Fix sources of several NPCs
  packs/data/blood-lords-bestiary.db/mummy-valet.json
  packs/data/one-shot-bestiary.db/pairaka-one-shot-4.json
  packs/data/outlaws-of-alkenstar-bestiary.db/clearwater-cleaner.json
  packs/data/outlaws-of-alkenstar-bestiary.db/ioton-f6.json
  packs/data/pathfinder-dark-archive.db/quartz-spawned-shadow.json
  packs/data/pfs-season-3-bestiary.db/duergar-crusher.json
  packs/data/pfs-season-3-bestiary.db/nuglub-pfs-3-18.json
Labels: pr: data update

#5116 Remove unneeded resistance labels for EC
  packs/data/extinction-curse-bestiary.db/ammut.json
  packs/data/extinction-curse-bestiary.db/ararda.json
  packs/data/extinction-curse-bestiary.db/arskuva-the-gnasher.json
  packs/data/extinction-curse-bestiary.db/aukashungi-swarm.json
  packs/data/extinction-curse-bestiary.db/brughadatch.json
  packs/data/extinction-curse-bestiary.db/cat-sith.json
  packs/data/extinction-curse-bestiary.db/convergence-lattice.json
  packs/data/extinction-curse-bestiary.db/convergent-giant-eagle.json
  packs/data/extinction-curse-bestiary.db/convergent-soldier.json
  packs/data/extinction-curse-bestiary.db/counteflora.json
  packs/data/extinction-curse-bestiary.db/cu-sith.json
  packs/data/extinction-curse-bestiary.db/deghuun-child-of-mhar.json
  packs/data/extinction-curse-bestiary.db/doblagub.json
  packs/data/extinction-curse-bestiary.db/dyzallin-shraen.json
  packs/data/extinction-curse-bestiary.db/elysian-sheep.json
  packs/data/extinction-curse-bestiary.db/faceless-butcher.json
  packs/data/extinction-curse-bestiary.db/herecite-of-zevgavizeb.json
  packs/data/extinction-curse-bestiary.db/hollow-hush.json
  packs/data/extinction-curse-bestiary.db/kharostan.json
  packs/data/extinction-curse-bestiary.db/kimilekki.json
  packs/data/extinction-curse-bestiary.db/mechanical-carny.json
  packs/data/extinction-curse-bestiary.db/muurfeli.json
  packs/data/extinction-curse-bestiary.db/qurashith.json
  packs/data/extinction-curse-bestiary.db/sarvel-ever-hunger.json
  packs/data/extinction-curse-bestiary.db/shraen-graveknight.json
  packs/data/extinction-curse-bestiary.db/starved-staff.json
  packs/data/extinction-curse-bestiary.db/tallow-ooze.json
  packs/data/extinction-curse-bestiary.db/the-vanish-man.json
  packs/data/extinction-curse-bestiary.db/thessekka.json
  packs/data/extinction-curse-bestiary.db/urdefhan-dominator.json
  packs/data/extinction-curse-bestiary.db/urdefhan-high-tormentor.json
  packs/data/extinction-curse-bestiary.db/urdefhan-hunter.json
  packs/data/extinction-curse-bestiary.db/vavakia.json
  packs/data/extinction-curse-bestiary.db/viktor-volkano.json
  packs/data/extinction-curse-bestiary.db/xilvirek.json
  packs/data/extinction-curse-bestiary.db/xulgath-bomber.json
  src/module/actor/values.ts
  src/scripts/config/index.ts
  static/lang/en.json
Labels: pr: data update

#5144 Add measures to ensure correct typing of spell area effect data
  src/module/item/spell/data.ts
  src/module/item/spell/document.ts
  src/module/item/spell/sheet.ts
  src/module/item/spell/types.ts
  static/template.json
  static/templates/items/spell-details.html
Labels: pr: refactor

#5034 Brushup EC Book 5 NPCs part 1
  packs/data/extinction-curse-bestiary.db/ararda.json
  packs/data/extinction-curse-bestiary.db/crushing-gate-trap.json
  packs/data/extinction-curse-bestiary.db/iffdahsil.json
  packs/data/extinction-curse-bestiary.db/urdefhan-hunter.json
Labels: pr: data update

#5151 Delete Ring of Torag effect, as it’s no longer needed
  packs/data/equipment-effects.db/effect-ring-of-torag.json
Labels: pr: data update

#5148 Normalize spell-area data
  packs/scripts/run-migration.ts
  src/module/item/spell/data.ts
  src/module/item/spell/document.ts
  src/module/item/spell/sheet.ts
  src/module/item/spell/types.ts
  src/module/migration/migrations/803-normalize-spell-area.ts
  src/module/migration/migrations/index.ts
  src/module/migration/runner/base.ts
  static/templates/chat/spell-card.html
  static/templates/items/spell-details.html
  static/templates/items/spell-overlay.html
Labels: pr: data migration, pr: refactor

#5091 Brushup EC book 5 NPCs part 2
  packs/data/extinction-curse-bestiary.db/ammut.json
  packs/data/extinction-curse-bestiary.db/host-of-spirits.json
  packs/data/extinction-curse-bestiary.db/kharostan.json
  packs/data/extinction-curse-bestiary.db/urdefhan-dominator.json
Labels: pr: data update

#5153 Standardize 'Good or Evil Only' parentheticals
  packs/data/pathfinder-bestiary.db/marid.json
  packs/data/pfs-season-2-bestiary.db/perizia-5-6.json
  packs/data/pfs-season-2-bestiary.db/perizia-7-8.json
Labels: pr: data update

#5152 Fix name of Solar Rejuvenation
  packs/data/feats.db/solar-rejuvenation-ghoran.json
Labels: pr: data update

#5155 Remove old unused consumable properties
  packs/scripts/run-migration.ts
  src/module/item/consumable/data.ts
  src/module/migration/migrations/804-remove-consumable-properties.ts
  src/module/migration/migrations/index.ts
  src/module/migration/runner/base.ts
  static/template.json
  static/templates/items/consumable-details.html
Labels: pr: data migration

#5154 Create partial for action cost and frequency and enforce action count
  src/module/item/action/document.ts
  src/module/item/feat/document.ts
  src/scripts/register-templates.ts
  static/templates/items/action-details.html
  static/templates/items/feat-details.html
  static/templates/items/partials/ability-activation.html
Labels: pr: refactor

#5158 Fix spell level in roll options
  src/module/item/base.ts
Labels: pr: bugfix

#5150 Add rolls to Oil of Unlife
  packs/data/equipment.db/oil-of-unlife-greater.json
  packs/data/equipment.db/oil-of-unlife-lesser.json
  packs/data/equipment.db/oil-of-unlife-major.json
  packs/data/equipment.db/oil-of-unlife-minor.json
  packs/data/equipment.db/oil-of-unlife-moderate.json
  packs/data/equipment.db/tallowheart-mass.json
Labels: pr: data update

#5161 Change vermlek Unsettling Movement to passive
  packs/data/extinction-curse-bestiary.db/vermlek.json
  packs/data/pfs-season-2-bestiary.db/vermlek-centaur-3-4.json
  packs/data/pfs-season-2-bestiary.db/vermlek-centaur-5-6.json
Labels: pr: data update

#5163 Allow easier styling of gm only text
  src/styles/_globals.scss
Labels: pr: refactor

#5159 Add roll inspector support for casted spells
  src/module/chat-message/data.ts
  src/module/chat-message/document.ts
  src/module/chat-message/helpers.ts
  src/module/chat-message/listeners/cards.ts
  src/module/item/spell/document.ts
  src/module/system/check/check.ts
  src/module/system/statistic/index.ts
Labels: pr: enhancement

#5165 Pass item roll options to the target for all attack rolls
  src/module/actor/base.ts
Labels: pr: enhancement

#5167 Fix variant spells for consumable items
  src/module/chat-message/document.ts
  src/module/chat-message/listeners/cards.ts
  src/module/item/spell/document.ts
Labels: pr: bugfix

#5171 Add emanation to Noxious Vapors
  packs/data/spells.db/noxious-vapors.json
Labels: pr: data update

#5177 Handle incapacitation trait for skill checks and attack rolls
  src/module/system/statistic/index.ts
Labels: pr: enhancement

#5175 Add support for setting a scale in TokenImage RE
  src/module/rules/rule-element/token-image.ts
  src/module/rules/synthetics.ts
  src/module/scene/token-document/document.ts
Labels: pr: enhancement

#5178 Work around lack of top-level trait roll options for spell attack rolls
  src/module/system/statistic/index.ts
Labels: pr: bugfix

#5174 Add trained proficiency to rogue class DC in rogue dedication
  packs/data/feats.db/rogue-dedication.json
Labels: pr: data update

#5173 Add/Update Heal Animal to Iconic Lini levels 1/5
  packs/data/iconics.db/lini-level-1.json
  packs/data/iconics.db/lini-level-5.json
Labels: pr: data update

#5166 Add special prone-condition option to Cover effect
  packs/data/other-effects.db/effect-cover.json
  static/lang/re-en.json
Labels: pr: data update

#5162 Change hazard routines from action symbols to words
  packs/data/extinction-curse-bestiary.db/angry-vegetation.json
  packs/data/extinction-curse-bestiary.db/caustic-dart-trap.json
  packs/data/extinction-curse-bestiary.db/hallowed-wheel.json
  packs/data/extinction-curse-bestiary.db/masks-of-arodens-guises.json
  packs/data/extinction-curse-bestiary.db/maze-of-mirrors.json
  packs/data/extinction-curse-bestiary.db/raving-spirit.json
  packs/data/hazards.db/gravehall-trap.json
  packs/data/pfs-introductions-bestiary.db/befuddled-thoughts.json
  packs/data/pfs-introductions-bestiary.db/blood-hunger.json
  packs/data/pfs-introductions-bestiary.db/cheerful-tune.json
  packs/data/pfs-introductions-bestiary.db/cleaning-agents.json
  packs/data/pfs-introductions-bestiary.db/encouraging-supervision.json
  packs/data/pfs-introductions-bestiary.db/spite-of-the-righteous.json
  packs/data/pfs-introductions-bestiary.db/swampy-quicksand.json
  packs/data/pfs-season-1-bestiary.db/acid-spray-fountain.json
  packs/data/pfs-season-1-bestiary.db/aeon-nexus-3-4.json
  packs/data/pfs-season-1-bestiary.db/aeon-nexus-5-6.json
  packs/data/pfs-season-1-bestiary.db/grasping-limbs-3-4.json
  packs/data/pfs-season-1-bestiary.db/grasping-limbs-5-6.json
  packs/data/pfs-season-1-bestiary.db/port-peril-bar-fight-last-catch-1-2.json
  packs/data/pfs-season-1-bestiary.db/port-peril-bar-fight-last-catch-3-4.json
  packs/data/pfs-season-1-bestiary.db/port-peril-bar-fight-rivantis-bar-1-2.json
  packs/data/pfs-season-1-bestiary.db/port-peril-bar-fight-rivantis-bar-3-4.json
  packs/data/pfs-season-1-bestiary.db/port-peril-bar-fight-the-watchtower-1-2.json
  packs/data/pfs-season-1-bestiary.db/port-peril-bar-fight-the-watchtower-3-4.json
  packs/data/pfs-season-1-bestiary.db/protoplasmic-extruder.json
  packs/data/pfs-season-1-bestiary.db/quagmire.json
  packs/data/pfs-season-2-bestiary.db/churning-lava-1-2.json
  packs/data/pfs-season-2-bestiary.db/churning-lava-3-4.json
  packs/data/pfs-season-2-bestiary.db/explosive-monolith-3-4.json
  packs/data/pfs-season-2-bestiary.db/explosive-monolith-5-6.json
  packs/data/pfs-season-2-bestiary.db/flames-of-verakivhan-3-4.json
  packs/data/pfs-season-2-bestiary.db/flames-of-verakivhan-5-6.json
  packs/data/pfs-season-2-bestiary.db/flooding-monolith-3-4.json
  packs/data/pfs-season-2-bestiary.db/flooding-monolith-5-6.json
  packs/data/pfs-season-2-bestiary.db/hands-of-slow-death.json
  packs/data/pfs-season-2-bestiary.db/mushroom-ring-1-2.json
  packs/data/pfs-season-2-bestiary.db/mushroom-ring-3-4.json
  packs/data/pfs-season-2-bestiary.db/mushroom-ring-5-6.json
  packs/data/pfs-season-2-bestiary.db/mushroom-ring-7-8.json
  packs/data/pfs-season-2-bestiary.db/planar-cracks-5-6.json
  packs/data/pfs-season-2-bestiary.db/planar-cracks-7-8.json
  packs/data/pfs-season-2-bestiary.db/relive-the-rending-1-2.json
  packs/data/pfs-season-2-bestiary.db/relive-the-rending-3-4.json
  packs/data/pfs-season-2-bestiary.db/storastas-last-stand-3-4.json
  packs/data/pfs-season-2-bestiary.db/storastas-last-stand-5-6.json
  packs/data/pfs-season-2-bestiary.db/stranded-melody-5-6.json
  packs/data/pfs-season-2-bestiary.db/stranded-melody-7-8.json
  packs/data/shadows-at-sundown-bestiary.db/paradox-engine.json
  packs/data/strength-of-thousands-bestiary.db/centipede-carcasses-trap.json
  packs/data/strength-of-thousands-bestiary.db/electrified-water-ward.json
Labels: pr: data update

#5147 Correct attack effects
  packs/data/age-of-ashes-bestiary.db/seismic-spears-trap.json
  packs/data/agents-of-edgewatch-bestiary.db/needling-stairs.json
  packs/data/book-of-the-dead-bestiary.db/vetalarana-manipulator.json
  packs/data/crown-of-the-kobold-king-bestiary.db/lodestone-trap.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/portal-eater.json
  packs/data/hazards.db/scythe-blades.json
  packs/data/menace-under-otari-bestiary.db/scythe-blades-bb.json
  packs/data/monsters-of-myth-bestiary.db/imperfect-automaton.json
  packs/data/monsters-of-myth-bestiary.db/ulgrem-axaan.json
  packs/data/monsters-of-myth-bestiary.db/ulgrem-lurann.json
  packs/data/monsters-of-myth-bestiary.db/ulistul.json
  packs/data/night-of-the-gray-death-bestiary.db/pendulum-pit.json
  packs/data/one-shot-bestiary.db/lawn-crawfish.json
  packs/data/pfs-season-1-bestiary.db/acid-spray-fountain.json
  packs/data/pfs-season-2-bestiary.db/urxehls-firestorm-7-8.json
  packs/data/pfs-season-2-bestiary.db/urxehls-firestorm-9-10.json
  packs/data/pfs-season-3-bestiary.db/bloodletting-scythe-blade.json
  packs/data/pfs-season-3-bestiary.db/poisoned-dart-trap-3-4.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/arboreal-tar-tree.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/calcifda.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/everburning-mammoth.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/lagofir.json
  packs/data/strength-of-thousands-bestiary.db/aspect-of-hunger.json
  packs/data/strength-of-thousands-bestiary.db/bharlen-sajor.json
  packs/data/strength-of-thousands-bestiary.db/ixamè.json
  packs/data/the-slithering-bestiary.db/angazhans-rake-trap.json
Labels: pr: data update

#5180 Add NPCs from PFS 4-06 and corrects name of overtaxed vrisk from PFS 4-05
  packs/data/pfs-season-4-bestiary.db/depleted-roiling-incant.json
  packs/data/pfs-season-4-bestiary.db/harpy-forager.json
  packs/data/pfs-season-4-bestiary.db/harpy-wailer.json
  packs/data/pfs-season-4-bestiary.db/infested-clockwork-heap.json
  packs/data/pfs-season-4-bestiary.db/infested-clockwork-vessel.json
  packs/data/pfs-season-4-bestiary.db/overtaxed-vrisk.json
  packs/data/pfs-season-4-bestiary.db/possessed-clockwork-heap.json
  packs/data/pfs-season-4-bestiary.db/possessed-clockwork-vessel.json
  packs/data/pfs-season-4-bestiary.db/stabilized-black-pudding.json
  packs/data/pfs-season-4-bestiary.db/stabilized-ochre-jelly.json
Labels: pr: data entry, pr: data update, source: pathfinder society

#5182 Correct localized name of simple hazard checkbox in compendium browser
  src/module/apps/compendium-browser/tabs/hazard.ts
Labels: ui/ux

#5184 Fix level of champion archetype's healing touch feat in archetypes journal
  packs/data/journals.db/archetypes.json
Labels: pr: data update

#5187 Release Notes 4.5.0
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Labels: pr: housekeeping

#5188 Restore level-zero Earn Income checks
  src/scripts/macros/earn-income/macro.ts
Labels: pr: bugfix

#5191 Add actors from Bounty 21
  packs/data/pfs-season-4-bestiary.db/averlaces-last-stand.json
  packs/data/pfs-season-4-bestiary.db/denufair.json
  packs/data/pfs-season-4-bestiary.db/dorenea.json
  packs/data/pfs-season-4-bestiary.db/pups.json
Labels: pr: data entry, source: pathfinder society

#5196 Ensure presence of school and tradition traits on spell variants
  src/module/item/spell/document.ts
Labels: pr: bugfix

#5206 Fix sources of items from Blood Lords book 6
  packs/data/spell-effects.db/spell-effect-guided-introspection.json
  packs/data/spells.db/ancient-dust.json
  packs/data/spells.db/bound-in-death.json
  packs/data/spells.db/confront-selves.json
  packs/data/spells.db/dirge-of-remembrance.json
  packs/data/spells.db/excise-lexicon.json
  packs/data/spells.db/flense.json
  packs/data/spells.db/guided-introspection.json
  packs/data/spells.db/ravenous-darkness.json
  packs/data/spells.db/spiritual-torrent.json
  packs/data/spells.db/steal-voice.json
  packs/data/spells.db/suffocate.json
  packs/data/spells.db/torturous-trauma.json
Labels: pr: data update

#5190 (Data Entry World) Add data entry world changes for December 2022
  packs/data/deities.db/aakriti.json
  packs/data/deities.db/arundhat-the-sacred-perfume.json
  packs/data/deities.db/arundhat.json
  packs/data/deities.db/chamidu.json
  packs/data/deities.db/diomazul.json
  packs/data/deities.db/likha.json
  packs/data/deities.db/ragdya.json
  packs/data/deities.db/vineshvakhi.json
  packs/data/equipment.db/lantern-bulls-eye.json
  packs/data/feats.db/experienced-professional.json
  packs/data/feats.db/glamour.json
  packs/data/feats.db/perfect-resistance.json
  packs/data/feats.db/rogue-dedication.json
  packs/data/feats.db/unmistakable-lore.json
Labels: pr: data update

#5209 Restore testing of degree-of-success adjustments
  src/module/system/check/check.ts
Labels: pr: bugfix

#5208 Fix some localized labels
  packs/data/feat-effects.db/effect-life-curse.json
  static/lang/re-en.json
Labels: pr: data update

#5210 Add NPCs from PFS 4-07
  packs/data/pfs-season-4-bestiary.db/bloody-barber-gang-leader.json
  packs/data/pfs-season-4-bestiary.db/bloody-barber-ruffian.json
  packs/data/pfs-season-4-bestiary.db/bloody-barber-thief.json
  packs/data/pfs-season-4-bestiary.db/dig-widget-pfs-4-07.json
  packs/data/pfs-season-4-bestiary.db/dream-of-doom.json
  packs/data/pfs-season-4-bestiary.db/elite-cave-bear-pfs-4-07.json
  packs/data/pfs-season-4-bestiary.db/greater-barghest-pfs-4-07.json
  packs/data/pfs-season-4-bestiary.db/larcius.json
Labels: pr: data entry, source: pathfinder society

#5205 Condense flat modifiers for bestiary-effects.db
  packs/data/bestiary-effects.db/effect-harmonizing-aura-allies.json
  packs/data/bestiary-effects.db/effect-harmonizing-aura-enemies.json
  packs/data/bestiary-effects.db/effect-nymph-queens-inspiration.json
  packs/data/bestiary-effects.db/effect-resonance.json
Labels: pr: data update

#5201 Fix value of Lesson of favors
  packs/data/classfeatures.db/lesson-of-favors.json
Labels: pr: data update

#5200 Fix values of Lesson of bargains
  packs/data/classfeatures.db/lesson-of-bargains.json
Labels: pr: data update

#5207 Fix localized name and icon of Crown of the Saumen Kar horns attack
  packs/data/feats.db/crown-of-the-saumen-kar.json
Labels: pr: data update

#5212 Add resistance RE to sand sentry
  packs/data/pathfinder-bestiary-2.db/sand-sentry.json
Labels: pr: data update

#5192 Convert Weapon and Armor Traits and Trait Descriptions on GM Screen to @Localize[pf2e.traits...]
  packs/data/journals.db/gm-screen.json
  static/lang/en.json
Labels: pr: data update

#5193 Fix automation of Automaton Chassis
  packs/data/equipment.db/reinforced-chassis.json
  packs/data/feats.db/reinforced-chassis.json
Labels: pr: data update

#5214 Add resistance RE to glass sentry
  packs/data/outlaws-of-alkenstar-bestiary.db/glass-sentry.json
Labels: pr: data update

#5215 Remove redundant Jousting trait description
  src/scripts/config/index.ts
  static/lang/en.json
Labels: pr: data update

#5218 Catch up recently-updated content with migrations, fix predicate on Pups
  packs/data/iconics.db/lini-level-1.json
  packs/data/iconics.db/lini-level-5.json
  packs/data/pfs-season-4-bestiary.db/bloody-barber-gang-leader.json
  packs/data/pfs-season-4-bestiary.db/bloody-barber-ruffian.json
  packs/data/pfs-season-4-bestiary.db/bloody-barber-thief.json
  packs/data/pfs-season-4-bestiary.db/larcius.json
  packs/data/pfs-season-4-bestiary.db/pups.json
Labels: pr: data update

#5219 Release Notes 4.5.1
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Labels: pr: housekeeping

#5221 Remove disabling of ABP in BattleForm RE
  src/module/actor/character/automatic-bonus-progression.ts
  src/module/rules/rule-element/battle-form/rule-element.ts
Labels: pr: bugfix

#5213 Add `htmlFields` arrays to template.json
  static/template.json
Labels: pr: housekeeping

#5222 Fix missing localized strings
  packs/data/blood-lords-bestiary.db/lasheeli.json
  packs/data/outlaws-of-alkenstar-bestiary.db/clearwater-cleaner.json
  packs/data/outlaws-of-alkenstar-bestiary.db/clockwork-handler.json
  packs/data/outlaws-of-alkenstar-bestiary.db/gold-tank-broker.json
  packs/data/pfs-season-3-bestiary.db/tadrun-1-2.json
  packs/data/pfs-season-3-bestiary.db/tadrun-3-4.json
  packs/data/strength-of-thousands-bestiary.db/alapolo.json
  packs/data/strength-of-thousands-bestiary.db/crawling-slurry.json
  static/lang/re-en.json
Labels: pr: data update

#5225 Localise MarkTarget RE's cancel notification
  src/module/rules/rule-element/mark-token/prompt.ts
Labels: pr: bugfix

#4992 Reimplement creation, parsing, and rendering of damage roll formulas
  roll-grammar.peggy
  src/global.d.ts
  src/module/actor/character/index.ts
  src/module/actor/helpers.ts
  src/module/apps/ui/chat-log.ts
  src/module/chat-message/document.ts
  src/module/chat-message/listeners/damage-buttons.ts
  src/module/item/physical/runes.ts
  src/module/item/spell/document.ts
  src/module/system/check/roll.ts
  src/module/system/damage/damage.ts
  src/module/system/damage/formula.ts
  src/module/system/damage/helpers.ts
  src/module/system/damage/index.ts
  src/module/system/damage/roll.ts
  src/module/system/damage/terms.ts
  src/module/system/damage/types.ts
  src/module/system/damage/values.ts
  src/module/system/damage/weapon.ts
  src/module/system/rolls.ts
  src/scripts/hooks/load.ts
  src/styles/ui/sidebar/chat/_damage.scss
  static/lang/en.json
  static/templates/chat/damage/buttons.html
  static/templates/dice/damage-roll.hbs
  static/templates/dice/damage-tooltip.hbs
  types/foundry/client/roll-term/dice-term/base.d.ts
  types/foundry/client/roll.d.ts
  types/foundry/utils.d.ts
  webpack.config.ts
Labels: pr: enhancement

#5226 Fix source of Shadow Leydroth
  packs/data/blood-lords-bestiary.db/shadow-leydroth.json
Labels: pr: data update

#5227 Fix missing choice localized strings
  packs/data/backgrounds.db/teacher.json
  packs/data/feats.db/dragonblood-paragon.json
  packs/data/spell-effects.db/spell-effect-clinging-ice.json
Labels: pr: data update

#5228 Localize muse choice labels
  packs/data/feats.db/multifarious-muse.json
  static/lang/re-en.json
Labels: pr: data update

#5231 Wrap damage formulas
  src/styles/ui/sidebar/chat/_damage.scss
Labels: pr: bugfix
