Repository foundryvtt/pf2e, pull requests merged in 2023-02, with the labels that each got.

#6043 Remove several duplicate feats
  packs/data/backgrounds.db/clown.json
  packs/data/backgrounds.db/saloon-entertainer.json
  packs/data/feats.db/double-slice.json
  packs/data/feats.db/ranged-combatant-acid.json
  packs/data/feats.db/ranged-combatant-bludgeoning.json
  packs/data/feats.db/ranged-combatant-chaotic.json
  packs/data/feats.db/ranged-combatant-cold.json
  packs/data/feats.db/ranged-combatant-electricity.json
  packs/data/feats.db/ranged-combatant-evil.json
  packs/data/feats.db/ranged-combatant-fire.json
  packs/data/feats.db/ranged-combatant-good.json
  packs/data/feats.db/ranged-combatant-lawful.json
  packs/data/feats.db/ranged-combatant-negative.json
  packs/data/feats.db/ranged-combatant-piercing.json
  packs/data/feats.db/ranged-combatant-positive.json
  packs/data/feats.db/ranged-combatant-slashing.json
  packs/data/feats.db/ranged-combatant.json
  packs/data/feats.db/specialty-crafting-alchemy.json
  packs/data/feats.db/specialty-crafting-artistry.json
  packs/data/feats.db/specialty-crafting-blacksmithing.json
  packs/data/feats.db/specialty-crafting-bookmaking.json
  packs/data/feats.db/specialty-crafting-glassmaking.json
  packs/data/feats.db/specialty-crafting-leatherworking.json
  packs/data/feats.db/specialty-crafting-pottery.json
  packs/data/feats.db/specialty-crafting-shipbuilding.json
  packs/data/feats.db/specialty-crafting-stonemasonry.json
  packs/data/feats.db/specialty-crafting-tailoring.json
  packs/data/feats.db/specialty-crafting-weaving.json
  packs/data/feats.db/specialty-crafting-woodworking.json
  packs/data/feats.db/virtuosic-performer-acting.json
  packs/data/feats.db/virtuosic-performer-comedy.json
  packs/data/feats.db/virtuosic-performer-dance.json
  packs/data/feats.db/virtuosic-performer-keyboards.json
  packs/data/feats.db/virtuosic-performer-oratory.json
  packs/data/feats.db/virtuosic-performer-percussion.json
  packs/data/feats.db/virtuosic-performer-singing.json
  packs/data/feats.db/virtuosic-performer-strings.json
  packs/data/feats.db/virtuosic-performer-winds.json
  packs/data/feats.db/virtuosic-performer.json
  packs/data/feats.db/wilderness-spotter-aquatic.json
  packs/data/feats.db/wilderness-spotter-arctic.json
  packs/data/feats.db/wilderness-spotter-desert.json
  packs/data/feats.db/wilderness-spotter-forest.json
  packs/data/feats.db/wilderness-spotter-mountain.json
  packs/data/feats.db/wilderness-spotter-plains.json
  packs/data/feats.db/wilderness-spotter-sky.json
  packs/data/feats.db/wilderness-spotter-swamp.json
  packs/data/feats.db/wilderness-spotter-underground.json
  packs/data/feats.db/wilderness-spotter.json
  static/lang/re-en.json
Labels: pr: data update

#6071 Transmit traits from chat card spells/actions to drag & drop effects
  src/module/actor/sheet/base.ts
  src/module/item/abstract-effect/data.ts
  src/module/item/affliction/data.ts
  src/module/item/effect/data.ts
  src/scripts/system/dragstart-handler.ts
  static/template.json
Labels: pr: enhancement

#6074 Add convenience getter for retrieving effects' originating actors and items
  src/module/item/abstract-effect/document.ts
  src/module/item/condition/document.ts
Labels: pr: enhancement

#6075 Move `RuleElementPF2e`'s schema definition below constructor
  src/module/rules/rule-element/base.ts
Labels: pr: housekeeping

#6080 Ensure setting of configured token defaults on actor creation
  src/module/actor/helpers.ts
  src/module/collection/actors.ts
Labels: pr: bugfix

#6078 Merge ghost template class into MeasuredTemplatePF2e
  src/module/canvas/ghost-measured-template.ts
  src/module/canvas/measured-template.ts
  src/module/item/spell/document.ts
  src/scripts/ui/inline-roll-links.ts
Labels: pr: refactor

#6083 Fix placement of save button in compendium browser on resizing
  src/styles/packs/_settings.scss
Labels: pr: bugfix

#6076 Convert IWR REs to utilize `DataModel` schema validation
  src/module/rules/rule-element/iwr/base.ts
  src/module/rules/rule-element/iwr/immunity.ts
  src/module/rules/rule-element/iwr/resistance.ts
  src/module/rules/rule-element/iwr/weakness.ts
Labels: pr: refactor

#6082 Add aura effects for planetar and solar
  packs/data/bestiary-effects.db/effect-aura-of-protection-solar.json
  packs/data/bestiary-effects.db/effect-aura-of-righteousness-planetar.json
  packs/data/pathfinder-bestiary-2.db/planetar.json
  packs/data/pathfinder-bestiary-2.db/solar.json
Labels: pr: data update

#6079 Update "Spell Ambush" rules in night hag variants
  packs/data/agents-of-edgewatch-bestiary.db/myrna-rath.json
  packs/data/extinction-curse-bestiary.db/skarja.json
Labels: pr: data update

#6073 Update The Slithering NPCs (part 1 of 4)
  packs/data/the-slithering-bestiary.db/angazhans-rake-trap.json
  packs/data/the-slithering-bestiary.db/croakchief-globblit-skink-eater.json
  packs/data/the-slithering-bestiary.db/fuming-sludge.json
  packs/data/the-slithering-bestiary.db/stalker-summoning-rune.json
Labels: pr: data update

#6077 Update The Slithering NPCs (part 2 of 4)
  packs/data/equipment.db/gluttonous-spear.json
  packs/data/the-slithering-bestiary.db/ahvothian.json
  packs/data/the-slithering-bestiary.db/angazhani-cultist.json
  packs/data/the-slithering-bestiary.db/fiendripping-blast-trap.json
  packs/data/the-slithering-bestiary.db/nyamat-mshwe.json
  static/lang/re-en.json
Labels: pr: data update

#6065 Automate Entity's Resurgence
  packs/data/actions.db/entitys-resurgence.json
  packs/data/feat-effects.db/effect-entitys-resurgence.json
Labels: pr: data update

#5833 Automate Cathartic Mage Dedication
  packs/data/actions.db/catharsis.json
  packs/data/actions.db/settle-emotions.json
  packs/data/classfeatures.db/catharsis-emotion-anger.json
  packs/data/classfeatures.db/catharsis-emotion-awe.json
  packs/data/classfeatures.db/catharsis-emotion-dedication.json
  packs/data/classfeatures.db/catharsis-emotion-fear.json
  packs/data/classfeatures.db/catharsis-emotion-hatred.json
  packs/data/classfeatures.db/catharsis-emotion-joy.json
  packs/data/classfeatures.db/catharsis-emotion-love.json
  packs/data/classfeatures.db/catharsis-emotion-misery.json
  packs/data/classfeatures.db/catharsis-emotion-pride.json
  packs/data/classfeatures.db/catharsis-emotion-remorse.json
  packs/data/feat-effects.db/effect-emotional-fervor.json
  packs/data/feats.db/cathartic-mage-dedication.json
  packs/data/journals.db/archetypes.json
  static/lang/re-en.json
Labels: pr: data update

#6041 Add condition grants to Oracle curses
  packs/data/classfeatures.db/ashes.json
  packs/data/feat-effects.db/effect-ancestor-curse.json
  packs/data/feat-effects.db/effect-ashes-curse.json
  packs/data/feat-effects.db/effect-battle-curse.json
  packs/data/feat-effects.db/effect-bones-curse.json
  packs/data/feat-effects.db/effect-cosmos-curse.json
  packs/data/feat-effects.db/effect-flames-curse.json
  packs/data/feat-effects.db/effect-life-curse.json
  packs/data/feat-effects.db/effect-lore-curse.json
  packs/data/feat-effects.db/effect-tempest-curse.json
  packs/data/feat-effects.db/effect-time-curse.json
Labels: pr: data update

#6066 Add automation to the Orc Warmask feat
  packs/data/equipment.db/orc-warmask.json
  packs/data/feats.db/orc-warmask.json
  static/lang/re-en.json
Labels: pr: data update

#6088 Fix migration 812 changing weapon-trait AdjustStrike RE values
  src/module/migration/migrations/812-restructure-iwr.ts
Labels: pr: bugfix

#6054 Improve automation of grievous rune for picks and darts
  src/module/item/physical/runes.ts
  src/module/rules/rule-element/crit-spec.ts
  src/module/system/damage/weapon.ts
Labels: pr: enhancement

#6091 Implement broken reduction for vehicle AC and fortitude saves
  src/module/actor/creature/sheet.ts
  src/module/actor/sheet/base.ts
  src/module/actor/vehicle/data.ts
  src/module/actor/vehicle/document.ts
  src/module/actor/vehicle/sheet.ts
  src/styles/actor/vehicle/_index.scss
  static/templates/actors/vehicle/sidebar/vehicle-armorclass.hbs
  static/templates/actors/vehicle/sidebar/vehicle-saves.hbs
Labels: pr: enhancement

#6094 Move vehicle traits to header, adjust PC hero point placement
  src/styles/actor/_header.scss
  src/styles/actor/_index.scss
  src/styles/actor/character/_header.scss
  src/styles/actor/npc/_index.scss
  src/styles/actor/vehicle/_index.scss
  static/templates/actors/character/partials/header.hbs
  static/templates/actors/vehicle/tabs/vehicle-details.hbs
  static/templates/actors/vehicle/vehicle-header.hbs
Labels: ui/ux

#6087 Add support for predicating each effect in Aura REs
  src/module/actor/base.ts
  src/module/actor/types.ts
  src/module/rules/rule-element/aura.ts
Labels: pr: enhancement

#6096 Fix recent regression with base breakdown label
  src/module/system/damage/formula.ts
Labels: pr: bugfix

#6097 Add predicates to aura effects
  packs/data/abomination-vaults-bestiary.db/chafkhem.json
  packs/data/abomination-vaults-bestiary.db/quara-orshendiel.json
  packs/data/bestiary-effects.db/effect-aura-of-misfortune.json
  packs/data/bestiary-effects.db/effect-bastion-aura.json
  packs/data/bestiary-effects.db/effect-commanding-aura-quara.json
  packs/data/bestiary-effects.db/effect-despair.json
  packs/data/bestiary-effects.db/effect-discerning-aura.json
  packs/data/bestiary-effects.db/effect-unsettled-aura.json
  packs/data/bestiary-effects.db/effect-utter-despair.json
  packs/data/blood-lords-bestiary.db/mummy-valet.json
  packs/data/blood-lords-bestiary.db/shabti-votary.json
  packs/data/book-of-the-dead-bestiary.db/fallen-champion.json
  packs/data/book-of-the-dead-bestiary.db/ice-mummy.json
  packs/data/book-of-the-dead-bestiary.db/mummy-prophet-of-set.json
  packs/data/crown-of-the-kobold-king-bestiary.db/cilios.json
  packs/data/extinction-curse-bestiary.db/dyzallin-shraen.json
  packs/data/outlaws-of-alkenstar-bestiary.db/scarecophagus.json
  packs/data/pathfinder-bestiary-2.db/bastion-archon.json
  packs/data/pathfinder-bestiary-2.db/gosreg.json
  packs/data/pathfinder-bestiary.db/grim-reaper.json
  packs/data/pathfinder-bestiary.db/lesser-death.json
  packs/data/pathfinder-bestiary.db/mummy-guardian.json
  packs/data/pathfinder-bestiary.db/mummy-pharaoh.json
  packs/data/pfs-season-3-bestiary.db/khisisi-5-6.json
  packs/data/pfs-season-3-bestiary.db/khisisi-7-8.json
  packs/data/pfs-season-3-bestiary.db/mummy-guardian-pfs-3-09.json
  packs/data/strength-of-thousands-bestiary.db/aspect-of-immortality.json
Labels: pr: data update

#6090 Update The Slithering NPCs (part 3 of 4)
  packs/data/the-slithering-bestiary.db/aspis-guard.json
  packs/data/the-slithering-bestiary.db/aspis-technician.json
  packs/data/the-slithering-bestiary.db/cursebreaker.json
Labels: pr: data update

#6103 Fix several bugs/display quirks with status effects panel
  src/module/canvas/status-effects.ts
  src/module/item/condition/document.ts
  src/module/system/settings/index.ts
  src/styles/ui/_token-hud.scss
  types/foundry/client/config.d.ts
Labels: pr: bugfix, ui/ux

#6108 Allow any expression as `MathTerm` argument in damage rolls
  roll-grammar.peggy
Labels: pr: bugfix

#6100 Optimize instances of processing an entire array only to use pop() to get the last element
  src/module/actor/creature/document.ts
  src/module/system/damage/weapon.ts
Labels: pr: housekeeping

#6093 Update The Slithering NPCs (part 4 of 4)
  packs/data/equipment-effects.db/effect-slime-whip.json
  packs/data/equipment.db/slime-whip.json
  packs/data/the-slithering-bestiary.db/alchemical-golem-slithering.json
  packs/data/the-slithering-bestiary.db/fuming-sludge.json
  packs/data/the-slithering-bestiary.db/paga-nikohian.json
  packs/data/the-slithering-bestiary.db/scroll-shock-trap.json
Labels: pr: data update

#6111 Fix details of several ranged strikes
  packs/data/abomination-vaults-bestiary.db/salaisa-malthulas.json
  packs/data/age-of-ashes-bestiary.db/mialari-docur.json
  packs/data/agents-of-edgewatch-bestiary.db/bloody-barber-goon.json
  packs/data/agents-of-edgewatch-bestiary.db/grunka.json
  packs/data/agents-of-edgewatch-bestiary.db/pelmo.json
  packs/data/april-fools-bestiary.db/demom.json
  packs/data/blood-lords-bestiary.db/shimmernewt.json
  packs/data/book-of-the-dead-bestiary.db/relictner-eroder.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/joon-seo.json
  packs/data/gatewalkers-bestiary.db/amelekana.json
  packs/data/pathfinder-bestiary-3.db/arboreal-reaper.json
  packs/data/pathfinder-bestiary-3.db/baykok.json
  packs/data/pathfinder-bestiary-3.db/camel.json
  packs/data/pathfinder-bestiary-3.db/gliminal.json
Labels: pr: data update

#6109 Add range increment to Headless Rustler's strike
  packs/data/outlaws-of-alkenstar-bestiary.db/headless-rustler.json
Labels: pr: data update

#6107 Add Resistance rule elements to tattoos
  packs/data/equipment.db/reinforced-surcoat.json
  packs/data/equipment.db/warding-tattoo-fiend.json
  packs/data/equipment.db/warding-tattoo-trail.json
  packs/data/equipment.db/warding-tattoo-wave.json
  packs/data/equipment.db/warding-tattoo.json
Labels: pr: data update

#6106 Add aura for Aura of Command
  packs/data/bestiary-effects.db/effect-under-command.json
  packs/data/npc-gallery.db/captain-of-the-guard.json
Labels: pr: data update

#6099 Add support for categorizing NPC damage partials
  src/module/actor/character/data/types.ts
  src/module/actor/character/document.ts
  src/module/actor/character/sheet.ts
  src/module/actor/data/base.ts
  src/module/actor/helpers.ts
  src/module/actor/npc/data.ts
  src/module/actor/npc/index.ts
  src/module/actor/sheet/base.ts
  src/module/item/melee/data.ts
  src/module/item/melee/document.ts
  src/module/item/melee/sheet.ts
  src/module/item/weapon/document.ts
  src/module/migration/migrations/607-melee-item-damage-rolls.ts
  src/module/system/damage/weapon.ts
  src/scripts/config/damage.ts
  src/scripts/config/index.ts
  src/styles/item/_index.scss
  src/styles/item/_melee-sheet.scss
  static/lang/en.json
  static/templates/actors/hazard/sheet.hbs
  static/templates/actors/npc/partials/attack.hbs
  static/templates/items/melee-details.hbs
Labels: pr: bugfix, pr: enhancement

#6110 Cascade deletes for Effect: Despair and Effect: Utter Despair
  packs/data/bestiary-effects.db/effect-despair.json
  packs/data/bestiary-effects.db/effect-utter-despair.json
Labels: pr: data update

#6113 Prevent creation of NPC splash/precision damage without matching partial
  src/module/item/melee/document.ts
  src/module/item/melee/sheet.ts
  static/lang/en.json
Labels: pr: bugfix

#6105 Add auras for Commander's Aura, Undead Mastery
  packs/data/extinction-curse-bestiary.db/urushil.json
  packs/data/pathfinder-bestiary-2.db/cornugon.json
  packs/data/pathfinder-bestiary.db/marilith.json
  packs/data/pathfinder-bestiary.db/mummy-pharaoh.json
  packs/data/pathfinder-bestiary.db/pit-fiend.json
  packs/data/pfs-season-3-bestiary.db/khisisi-7-8.json
Labels: pr: data update

#6115 Restore dialog skipping when retrieving strike damage formulas
  src/module/actor/character/document.ts
  src/module/actor/helpers.ts
Labels: pr: bugfix

#6114 Remove label for "Effect: Choose Weakness", as that localized string was removed
  packs/data/bestiary-effects.db/effect-choose-weakness.json
  packs/data/kingmaker-bestiary.db/breath-of-despair.json
Labels: pr: data update

#6116 Accommodate NPC strike damage with only single persistent instance
  src/module/item/melee/document.ts
  src/module/system/damage/formula.ts
  src/module/system/damage/types.ts
  src/module/system/damage/weapon.ts
Labels: pr: bugfix

#6117 Show Tradition Spellcasting instead of Magic Tradition when configuring spellcasting
  static/lang/en.json
  static/templates/actors/spellcasting-dialog.hbs
Labels: ui/ux

#6118 Add persistent damage to worm that walks tendril
  packs/data/abomination-vaults-bestiary.db/volluk-azrinae.json
  packs/data/kingmaker-bestiary.db/the-wriggling-man.json
  packs/data/pathfinder-bestiary-2.db/worm-that-walks-cultist.json
  packs/data/strength-of-thousands-bestiary.db/king-of-biting-ants.json
Labels: pr: data update

#6119 Add effect and rule elements to Hound of Tindalos vulnerability
  packs/data/bestiary-effects.db/effect-vulnerable-to-curved-space.json
  packs/data/kingmaker-bestiary.db/mastiff-of-tindalos.json
  packs/data/outlaws-of-alkenstar-bestiary.db/the-claws-of-time.json
  packs/data/pathfinder-bestiary-2.db/hound-of-tindalos.json
  packs/data/pfs-season-3-bestiary.db/pup-of-tindalos.json
  packs/data/strength-of-thousands-bestiary.db/ravager-of-tindalos.json
Labels: pr: data update

#6120 Add token light to Mechanical Torch
  packs/data/equipment.db/mechanical-torch.json
  static/lang/re-en.json
Labels: pr: data update

#6122 Fix Reinforced Surcoat usage
  packs/data/equipment.db/reinforced-surcoat.json
  src/scripts/config/index.ts
  static/lang/en.json
Labels: pr: data update

#6123 Add persistent damage to some NPC attacks
  packs/data/abomination-vaults-bestiary.db/gibtanius.json
  packs/data/menace-under-otari-bestiary.db/cinder-rat-bb.json
  packs/data/pathfinder-bestiary-2.db/giant-slug.json
  packs/data/pathfinder-bestiary-3.db/flumph.json
  packs/data/pathfinder-bestiary.db/cinder-rat.json
  packs/data/pfs-season-3-bestiary.db/cinder-rat-ashgrip.json
  packs/data/pfs-season-3-bestiary.db/cinder-rat-leadroar.json
Labels: pr: data update

#6127 Update black tentacle spell description for NPCs
  packs/data/abomination-vaults-bestiary.db/drow-cavern-seer.json
  packs/data/age-of-ashes-bestiary.db/king-harral.json
  packs/data/agents-of-edgewatch-bestiary.db/daemonic-rumormonger.json
  packs/data/agents-of-edgewatch-bestiary.db/ilsetsya-wyrmtouched.json
  packs/data/agents-of-edgewatch-bestiary.db/scathka.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/mage-of-many-styles.json
  packs/data/pathfinder-bestiary-2.db/gylou.json
  packs/data/pathfinder-bestiary-2.db/worm-that-walks-cultist.json
  packs/data/pathfinder-bestiary.db/adult-black-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-black-dragon-spellcaster.json
Labels: pr: data update

#6128 Update true strike spell description for NPCs
  packs/data/abomination-vaults-bestiary.db/belcorra-haruvex.json
  packs/data/age-of-ashes-bestiary.db/king-harral.json
  packs/data/age-of-ashes-bestiary.db/mialari-docur.json
  packs/data/agents-of-edgewatch-bestiary.db/dreadsong-dancer.json
  packs/data/agents-of-edgewatch-bestiary.db/hendrid-pratchett.json
  packs/data/agents-of-edgewatch-bestiary.db/svartalfar-killer.json
  packs/data/extinction-curse-bestiary.db/ruanna-nyamma.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/koto-zekora.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/lantondo.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/mage-of-many-styles.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/syu-tak-nwa-level-14.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/syu-tak-nwa-level-16.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/yabin-the-just-level-13.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/yabin-the-just-level-9.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/yarrika-mulandez.json
  packs/data/night-of-the-gray-death-bestiary.db/conqueror-worm.json
  packs/data/npc-gallery.db/mage-for-hire.json
  packs/data/one-shot-bestiary.db/auldegrund-grimcarver.json
  packs/data/outlaws-of-alkenstar-bestiary.db/spellscar-sky-marauder.json
  packs/data/pathfinder-bestiary-2.db/suli-dune-dancer.json
  packs/data/pathfinder-bestiary.db/adult-black-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/adult-bronze-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/adult-green-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/adult-red-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/adult-silver-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/adult-white-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-black-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-bronze-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-green-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-red-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-silver-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-white-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/axiomite.json
  packs/data/pathfinder-bestiary.db/brain-collector.json
  packs/data/pathfinder-bestiary.db/horned-archon.json
  packs/data/pathfinder-bestiary.db/legion-archon.json
  packs/data/pathfinder-bestiary.db/lich.json
  packs/data/pathfinder-bestiary.db/shield-archon.json
  packs/data/pathfinder-bestiary.db/young-black-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/young-bronze-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/young-green-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/young-red-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/young-silver-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/young-white-dragon-spellcaster.json
  packs/data/pfs-season-1-bestiary.db/blue-streak-mage-5-6.json
  packs/data/pfs-season-2-bestiary.db/onyx-alliance-agent-5-6.json
  packs/data/pfs-season-2-bestiary.db/onyx-alliance-agent-7-8.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/ardissa-prendergant.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/ivarsa.json
  packs/data/strength-of-thousands-bestiary.db/dwandek.json
  packs/data/strength-of-thousands-bestiary.db/iobane-magus.json
  packs/data/strength-of-thousands-bestiary.db/mpondo.json
  packs/data/strength-of-thousands-bestiary.db/onyiji.json
  packs/data/strength-of-thousands-bestiary.db/salathiss.json
  packs/data/strength-of-thousands-bestiary.db/unshadowed-haibram.json
  packs/data/strength-of-thousands-bestiary.db/unshadowed-mariama.json
Labels: pr: data update

#6129 Update ventriloquism spell description for NPCs
  packs/data/abomination-vaults-bestiary.db/ryta.json
  packs/data/age-of-ashes-bestiary.db/ishti.json
  packs/data/agents-of-edgewatch-bestiary.db/avarek.json
  packs/data/blog-bestiary.db/edolpho-phinelli.json
  packs/data/kingmaker-bestiary.db/rigg-gargadilly.json
  packs/data/night-of-the-gray-death-bestiary.db/conqueror-worm.json
  packs/data/npc-gallery.db/changeling-hellknight.json
  packs/data/npc-gallery.db/charlatan.json
  packs/data/npc-gallery.db/troubadour.json
  packs/data/pathfinder-bestiary-2.db/bone-prophet.json
  packs/data/pathfinder-bestiary-2.db/brownie.json
  packs/data/pathfinder-bestiary-2.db/coil-spy.json
  packs/data/pathfinder-bestiary-2.db/leprechaun.json
  packs/data/pathfinder-bestiary-2.db/quickling.json
  packs/data/pathfinder-bestiary-2.db/zyss-serpentfolk.json
  packs/data/pathfinder-bestiary.db/adult-blue-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/adult-blue-dragon.json
  packs/data/pathfinder-bestiary.db/adult-brass-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/adult-green-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-blue-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-blue-dragon.json
  packs/data/pathfinder-bestiary.db/ancient-brass-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-green-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/changeling-exile.json
  packs/data/pathfinder-bestiary.db/dandasuka.json
  packs/data/pathfinder-bestiary.db/deep-gnome-rockwarden.json
  packs/data/pathfinder-bestiary.db/lamia-matriarch.json
  packs/data/pathfinder-bestiary.db/lamia.json
  packs/data/pathfinder-bestiary.db/young-brass-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/young-green-dragon-spellcaster.json
  packs/data/pfs-season-2-bestiary.db/quickling-pfs-2-00.json
  packs/data/pfs-season-3-bestiary.db/thomil-bolyrius-3-4.json
  packs/data/pfs-season-3-bestiary.db/thomil-bolyrius-5-6.json
  packs/data/pfs-season-4-bestiary.db/charlatan-pfs-4-05.json
  packs/data/strength-of-thousands-bestiary.db/salathiss.json
  packs/data/strength-of-thousands-bestiary.db/serpentfolk-venom-caller.json
Labels: pr: data update

#6131 Fix black dragon draconic frenzy
  packs/data/pathfinder-bestiary.db/adult-black-dragon.json
  packs/data/pathfinder-bestiary.db/ancient-black-dragon.json
Labels: pr: data update

#6135 Fix details of some ranged strikes
  packs/data/blog-bestiary.db/wendlyn.json
  packs/data/strength-of-thousands-bestiary.db/terwa-prodigy.json
Labels: pr: data update

#6136 Call debounced render of token HUD only if already rendered
  src/module/canvas/status-effects.ts
Labels: pr: bugfix

#6133 Improve accuracy of generated `DataModel` fields
  src/module/rules/rule-element/adjust-modifier.ts
  src/module/rules/rule-element/adjust-strike.ts
  src/module/rules/rule-element/ae-like.ts
  src/module/rules/rule-element/crit-spec.ts
  src/module/rules/rule-element/data.ts
  src/module/rules/rule-element/flat-modifier.ts
  src/module/rules/rule-element/iwr/base.ts
  src/module/rules/rule-element/iwr/immunity.ts
  src/module/rules/rule-element/iwr/resistance.ts
  src/module/rules/rule-element/iwr/weakness.ts
  src/module/rules/rule-element/roll-note.ts
  src/module/system/schema-data-fields.ts
  types/foundry/common/abstract/data.d.mts
  types/foundry/common/data/fields.d.mts
Labels: pr: types update

#6137 Clean up description of Graylok artillerist Throw Bomb
  packs/data/quest-for-the-frozen-flame-bestiary.db/graylok-artillerist.json
Labels: pr: data update

#6140 Fix double operator for negative total check modifier
  src/module/system/check/check.ts
Labels: pr: bugfix

#6138 Add persistent damage to some NPC attacks
  packs/data/abomination-vaults-bestiary.db/gibtas-bounder.json
  packs/data/outlaws-of-alkenstar-bestiary.db/clockwork-fabricator.json
  packs/data/outlaws-of-alkenstar-bestiary.db/glaz-nixbrix.json
  packs/data/pathfinder-bestiary-2.db/augur.json
  packs/data/pathfinder-bestiary-2.db/ember-fox.json
  packs/data/pathfinder-bestiary-2.db/marrmora.json
  packs/data/pathfinder-bestiary-2.db/striding-fire.json
  packs/data/pathfinder-bestiary-3.db/fire-wisp.json
  packs/data/pathfinder-bestiary-3.db/sulfur-zombie.json
  packs/data/pfs-season-2-bestiary.db/ember-fox-pfs-2-14.json
  packs/data/pfs-season-3-bestiary.db/vengeful-ember-fox.json
  packs/data/troubles-in-otari-bestiary.db/scalliwing.json
Labels: pr: data update

#6134 Add automation to the Vital Shot action
  packs/data/actions.db/vital-shot.json
Labels: pr: data update

#6121 Add more tweaks to PC header alignment
  src/styles/actor/_header.scss
Labels: ui/ux

#6126 Update lay on hands vs. undead description for NPCs
  packs/data/age-of-ashes-bestiary.db/jahsi.json
  packs/data/pathfinder-bestiary.db/aasimar-redeemer.json
Labels: pr: data update

#6130 Fix bronze dragon breath weapons
  packs/data/pathfinder-bestiary.db/adult-bronze-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/adult-bronze-dragon.json
  packs/data/pathfinder-bestiary.db/ancient-bronze-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-bronze-dragon.json
  packs/data/pathfinder-bestiary.db/young-bronze-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/young-bronze-dragon.json
Labels: pr: data update

#6144 Move "unaffected types" to @actor/types and @actor/values
  src/module/actor/base.ts
  src/module/actor/types.ts
  src/module/actor/values.ts
Labels: pr: housekeeping

#6143 Add persistent damage to some NPC attacks
  packs/data/age-of-ashes-bestiary.db/crucidaemon.json
  packs/data/age-of-ashes-bestiary.db/dragonshard-guardian.json
  packs/data/age-of-ashes-bestiary.db/precentor.json
  packs/data/book-of-the-dead-bestiary.db/combusted.json
  packs/data/book-of-the-dead-bestiary.db/pale-sovereign.json
  packs/data/book-of-the-dead-bestiary.db/sykever.json
  packs/data/crown-of-the-kobold-king-bestiary.db/tallow-guardian.json
  packs/data/extinction-curse-bestiary.db/kalkek.json
  packs/data/fall-of-plaguestone.db/blood-ooze.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/caustic-monitor.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/dromornis.json
  packs/data/impossible-lands-bestiary.db/fleshforged-conformer.json
  packs/data/menace-under-otari-bestiary.db/envenomed-lock-bb.json
  packs/data/mwangi-expanse-bestiary.db/eloko.json
  packs/data/one-shot-bestiary.db/scented-candle-homunculus.json
  packs/data/outlaws-of-alkenstar-bestiary.db/ioton-f6.json
  packs/data/pathfinder-bestiary-3.db/ioton.json
  packs/data/pathfinder-bestiary.db/gibbering-mouther.json
  packs/data/pathfinder-dark-archive.db/mother-mitera.json
  packs/data/pfs-season-3-bestiary.db/eloko-pfs-3-03.json
Labels: pr: data update

#6146 Remove strict signature typings of `isOfType` implementations
  src/module/actor/base.ts
  src/module/item/base.ts
Labels: pr: housekeeping

#6145 Fix heigtnening effect of Rejuvenating flames
  packs/data/spells.db/rejuvenating-flames.json
Labels: pr: data update

#6150 Have `ActorPF2e`/`ItemPF2e` interfaces extend parents
  src/module/actor/character/document.ts
  src/module/actor/creature/document.ts
  src/module/actor/familiar/document.ts
  src/module/actor/hazard/document.ts
  src/module/actor/npc/document.ts
  src/module/actor/vehicle/document.ts
  src/module/item/abc/document.ts
  src/module/item/action/document.ts
  src/module/item/affliction/document.ts
  src/module/item/ancestry/document.ts
  src/module/item/armor/document.ts
  src/module/item/background/document.ts
  src/module/item/base.ts
  src/module/item/class/document.ts
  src/module/item/condition/document.ts
  src/module/item/consumable/document.ts
  src/module/item/container/document.ts
  src/module/item/effect/document.ts
  src/module/item/equipment/document.ts
  src/module/item/feat/document.ts
  src/module/item/kit/document.ts
  src/module/item/melee/document.ts
  src/module/item/physical/document.ts
  src/module/item/spell/document.ts
  src/module/item/spellcasting-entry/document.ts
  src/module/item/treasure/document.ts
  src/module/item/weapon/document.ts
Labels: pr: types update

#6149 Add persistent damage to some NPC attacks
  packs/data/agents-of-edgewatch-bestiary.db/needling-stairs.json
  packs/data/agents-of-edgewatch-bestiary.db/olansa-terimor.json
  packs/data/blood-lords-bestiary.db/umbraex.json
  packs/data/book-of-the-dead-bestiary.db/bhuta.json
  packs/data/book-of-the-dead-bestiary.db/ghul.json
  packs/data/kingmaker-bestiary.db/lesser-jabberwock.json
  packs/data/malevolence-bestiary.db/architect-and-hunter.json
  packs/data/malevolence-bestiary.db/wrathful-hatchet.json
  packs/data/monsters-of-myth-bestiary.db/mosquito-witch-the-hemoprophet.json
  packs/data/monsters-of-myth-bestiary.db/mosquito-witch-the-legion-leech.json
  packs/data/monsters-of-myth-bestiary.db/mosquito-witch-the-swarm-seer.json
  packs/data/monsters-of-myth-bestiary.db/mosquito-witch.json
  packs/data/night-of-the-gray-death-bestiary.db/gray-gardener-enforcer.json
  packs/data/night-of-the-gray-death-bestiary.db/miss-whisper.json
  packs/data/pathfinder-bestiary-2.db/jabberwock.json
  packs/data/pathfinder-bestiary.db/deinonychus.json
  packs/data/pathfinder-bestiary.db/quetzalcoatlus.json
  packs/data/pathfinder-bestiary.db/shining-child.json
  packs/data/shadows-at-sundown-bestiary.db/ileosas-shell.json
  packs/data/shadows-at-sundown-bestiary.db/scarlet-walker.json
Labels: pr: data update

#6153 Add persistent damage to some NPC attacks
  packs/data/abomination-vaults-bestiary.db/cratonys.json
  packs/data/abomination-vaults-bestiary.db/jafaki.json
  packs/data/abomination-vaults-bestiary.db/nhimbaloths-cutter.json
  packs/data/abomination-vaults-bestiary.db/urdefhan-death-scout.json
  packs/data/abomination-vaults-bestiary.db/ysondkhelir.json
  packs/data/extinction-curse-bestiary.db/corrosive-lizard.json
  packs/data/outlaws-of-alkenstar-bestiary.db/chemical-zombie.json
  packs/data/outlaws-of-alkenstar-bestiary.db/shoma-lyzerius.json
Labels: pr: data update

#6157 Add immunities to deafened/blinded condtions, handle IWR processing
  packs/data/conditions.db/blinded.json
  packs/data/conditions.db/deafened.json
  src/module/actor/data/iwr.ts
Labels: pr: data update, pr: enhancement

#6142 Add inline damage rolls to Divine Smite and automate Paladin's smite
  packs/data/classfeatures.db/antipaladin.json
  packs/data/classfeatures.db/desecrator.json
  packs/data/classfeatures.db/liberator.json
  packs/data/classfeatures.db/paladin.json
  packs/data/classfeatures.db/redeemer.json
  packs/data/classfeatures.db/tyrant.json
  static/lang/re-en.json
Labels: pr: data update

#6151 Call Rest for the Night on PC sheet from public macro
  src/module/actor/character/sheet.ts
Labels: pr: enhancement

#6156 Clean up remaining data.data and actor.data.type references
  packs/data/macros.db/take-a-breather.json
  packs/data/macros.db/xp.json
  src/module/rules/rule-element/martial-proficiency.ts
  static/lang/re-en.json
  static/macros/takeabreather.js
Labels: pr: bugfix

#6158 Fall back to self if no effect origin is found
  src/module/item/abstract-effect/document.ts
Labels: pr: enhancement

#6155 Update age of ashes NPC spells
  packs/data/age-of-ashes-bestiary.db/barushak-il-varashma.json
  packs/data/age-of-ashes-bestiary.db/belmazog.json
  packs/data/age-of-ashes-bestiary.db/bida.json
  packs/data/age-of-ashes-bestiary.db/candlarons-echo.json
  packs/data/age-of-ashes-bestiary.db/charau-ka-dragon-priest.json
  packs/data/age-of-ashes-bestiary.db/crucidaemon.json
  packs/data/age-of-ashes-bestiary.db/dalos.json
  packs/data/age-of-ashes-bestiary.db/deculi.json
  packs/data/age-of-ashes-bestiary.db/doorwarden.json
  packs/data/age-of-ashes-bestiary.db/dragonshard-guardian.json
  packs/data/age-of-ashes-bestiary.db/dragonstorm-fire-giant.json
  packs/data/age-of-ashes-bestiary.db/duergar-slave-lord.json
  packs/data/age-of-ashes-bestiary.db/ekujae-guardian.json
  packs/data/age-of-ashes-bestiary.db/emaliza-zandivar.json
  packs/data/age-of-ashes-bestiary.db/grippli-greenspeaker.json
  packs/data/age-of-ashes-bestiary.db/heuberk-thropp.json
  packs/data/age-of-ashes-bestiary.db/ilgreth.json
  packs/data/age-of-ashes-bestiary.db/ilssrah-embermead.json
  packs/data/age-of-ashes-bestiary.db/immortal-ichor.json
  packs/data/age-of-ashes-bestiary.db/ishti.json
  packs/data/age-of-ashes-bestiary.db/jaggaki.json
  packs/data/age-of-ashes-bestiary.db/jahsi.json
  packs/data/age-of-ashes-bestiary.db/kalavakus.json
  packs/data/age-of-ashes-bestiary.db/king-harral.json
  packs/data/age-of-ashes-bestiary.db/kralgurn.json
  packs/data/age-of-ashes-bestiary.db/lesser-manifestation-of-dahak.json
  packs/data/age-of-ashes-bestiary.db/malarunk.json
  packs/data/age-of-ashes-bestiary.db/manifestation-of-dahak.json
  packs/data/age-of-ashes-bestiary.db/mengkare.json
  packs/data/age-of-ashes-bestiary.db/mialari-docur.json
  packs/data/age-of-ashes-bestiary.db/nketiah.json
  packs/data/age-of-ashes-bestiary.db/precentor.json
  packs/data/age-of-ashes-bestiary.db/renali.json
  packs/data/age-of-ashes-bestiary.db/rinnarv-bontimar.json
  packs/data/age-of-ashes-bestiary.db/rusty-mae.json
  packs/data/age-of-ashes-bestiary.db/saggorak-poltergeist.json
  packs/data/age-of-ashes-bestiary.db/scarlet-triad-agent.json
  packs/data/age-of-ashes-bestiary.db/scarlet-triad-mage.json
  packs/data/age-of-ashes-bestiary.db/spiritbound-aluum.json
  packs/data/age-of-ashes-bestiary.db/talamira.json
  packs/data/age-of-ashes-bestiary.db/teyam-ishtori.json
  packs/data/age-of-ashes-bestiary.db/vaklish.json
  packs/data/age-of-ashes-bestiary.db/vazgorlu.json
  packs/data/age-of-ashes-bestiary.db/veshumirix.json
  packs/data/age-of-ashes-bestiary.db/voz-lirayne.json
  packs/data/age-of-ashes-bestiary.db/weathered-wail.json
  packs/data/age-of-ashes-bestiary.db/xevalorg.json
Labels: pr: data update

#6159 Add persistent damage to some NPC attacks
  packs/data/age-of-ashes-bestiary.db/xotani-the-firebleeder.json
  packs/data/age-of-ashes-bestiary.db/xotanispawn.json
Labels: pr: data update

#6160 Include image popout listener for locked compendium actor sheets
  src/module/actor/sheet/base.ts
Labels: pr: bugfix

#6161 Add persistent damage to some NPC attacks
  packs/data/agents-of-edgewatch-bestiary.db/avarek.json
  packs/data/agents-of-edgewatch-bestiary.db/burning-chandelier-trap.json
  packs/data/agents-of-edgewatch-bestiary.db/daemonic-skinner.json
  packs/data/agents-of-edgewatch-bestiary.db/sad-liza.json
  packs/data/agents-of-edgewatch-bestiary.db/shatterling.json
  packs/data/agents-of-edgewatch-bestiary.db/the-stabbing-beast.json
  packs/data/agents-of-edgewatch-bestiary.db/twisted-jack.json
  packs/data/book-of-the-dead-bestiary.db/tormented-burning.json
  packs/data/book-of-the-dead-bestiary.db/tormented-crushing.json
  packs/data/book-of-the-dead-bestiary.db/tormented-dislocation.json
  packs/data/book-of-the-dead-bestiary.db/tormented-drowning.json
  packs/data/book-of-the-dead-bestiary.db/tormented-impalement.json
  packs/data/book-of-the-dead-bestiary.db/tormented-starvation.json
  packs/data/pathfinder-bestiary.db/grothlut.json
Labels: pr: data update

#6148 Include MAP increases in attack/damage roll contexts and roll options
  packs/data/feats.db/advantageous-assault.json
  src/module/actor/character/document.ts
  src/module/actor/data/base.ts
  src/module/actor/helpers.ts
  src/module/chat-message/data.ts
  src/module/chat-message/listeners/cards.ts
  src/module/item/spell/document.ts
  src/module/rules/rule-element/adjust-modifier.ts
  src/module/system/check/check.ts
  src/module/system/check/types.ts
  src/module/system/damage/damage.ts
  src/module/system/damage/types.ts
  src/module/system/damage/weapon.ts
  src/module/system/rolls.ts
  src/module/system/statistic/index.ts
Labels: pr: data update, pr: enhancement

#6162 Run `extractPacks all`
  packs/data/actions.db/decipher-writing.json
  packs/data/actions.db/perform.json
  packs/data/actions.db/pursue-a-lead.json
  packs/data/feats.db/keep-pace-bounty-hunter.json
  packs/data/feats.db/opportunistic-grapple.json
  packs/data/feats.db/posse.json
  packs/data/feats.db/tools-of-the-trade.json
  packs/data/malevolence-bestiary.db/architect-and-hunter.json
  packs/data/other-effects.db/effect-adverse-subsist-situation.json
  packs/data/outlaws-of-alkenstar-bestiary.db/shoma-lyzerius.json
Labels: pr: data update

#6166 add deathNote to Verdant Burst in OoA
  packs/data/outlaws-of-alkenstar-bestiary.db/clearwater-cleaner.json
  packs/data/outlaws-of-alkenstar-bestiary.db/dewey-daystar.json
  packs/data/outlaws-of-alkenstar-bestiary.db/follower-of-shumfallow.json
Labels: pr: data update

#6164 Update Abomination Vaults NPC spells
  packs/data/abomination-vaults-bestiary.db/azvalvigander.json
  packs/data/abomination-vaults-bestiary.db/barcumbuk.json
  packs/data/abomination-vaults-bestiary.db/belcorra-haruvex.json
  packs/data/abomination-vaults-bestiary.db/beluthus.json
  packs/data/abomination-vaults-bestiary.db/boss-skrawng.json
  packs/data/abomination-vaults-bestiary.db/caligni-defender.json
  packs/data/abomination-vaults-bestiary.db/canker-cultist.json
  packs/data/abomination-vaults-bestiary.db/chafkhem.json
  packs/data/abomination-vaults-bestiary.db/deep-end-sarglagon.json
  packs/data/abomination-vaults-bestiary.db/dhuthorex-sage.json
  packs/data/abomination-vaults-bestiary.db/dread-dhuthorex.json
  packs/data/abomination-vaults-bestiary.db/drill-field-barbazu.json
  packs/data/abomination-vaults-bestiary.db/drow-cavern-seer.json
  packs/data/abomination-vaults-bestiary.db/drow-hunter.json
  packs/data/abomination-vaults-bestiary.db/drow-shootist.json
  packs/data/abomination-vaults-bestiary.db/drow-warden.json
  packs/data/abomination-vaults-bestiary.db/dulac.json
  packs/data/abomination-vaults-bestiary.db/elder-child-of-belcorra.json
  packs/data/abomination-vaults-bestiary.db/galudu.json
  packs/data/abomination-vaults-bestiary.db/hellforge-barbazu.json
  packs/data/abomination-vaults-bestiary.db/jafaki.json
  packs/data/abomination-vaults-bestiary.db/jaul-mezmin.json
  packs/data/abomination-vaults-bestiary.db/khurfel.json
  packs/data/abomination-vaults-bestiary.db/kragala.json
  packs/data/abomination-vaults-bestiary.db/ladys-whisper.json
  packs/data/abomination-vaults-bestiary.db/mister-beak.json
  packs/data/abomination-vaults-bestiary.db/morlock-cultist.json
  packs/data/abomination-vaults-bestiary.db/nhakazarin.json
  packs/data/abomination-vaults-bestiary.db/nox.json
  packs/data/abomination-vaults-bestiary.db/observation-deck-seugathi-researcher.json
  packs/data/abomination-vaults-bestiary.db/padli.json
  packs/data/abomination-vaults-bestiary.db/quara-orshendiel.json
  packs/data/abomination-vaults-bestiary.db/ryta.json
  packs/data/abomination-vaults-bestiary.db/sacuishu.json
  packs/data/abomination-vaults-bestiary.db/salaisa-malthulas.json
  packs/data/abomination-vaults-bestiary.db/seugathi-guard.json
  packs/data/abomination-vaults-bestiary.db/seugathi-reality-warper.json
  packs/data/abomination-vaults-bestiary.db/seugathi-researcher.json
  packs/data/abomination-vaults-bestiary.db/seugathi-servant.json
  packs/data/abomination-vaults-bestiary.db/siora-fallowglade.json
  packs/data/abomination-vaults-bestiary.db/summoning-chamber-erinys.json
  packs/data/abomination-vaults-bestiary.db/torture-chamber-barbazu.json
  packs/data/abomination-vaults-bestiary.db/urdefhan-blood-mage.json
  packs/data/abomination-vaults-bestiary.db/urdefhan-death-scout.json
  packs/data/abomination-vaults-bestiary.db/urdefhan-lasher.json
  packs/data/abomination-vaults-bestiary.db/urevian.json
  packs/data/abomination-vaults-bestiary.db/vischari.json
  packs/data/abomination-vaults-bestiary.db/voidglutton.json
  packs/data/abomination-vaults-bestiary.db/volluk-azrinae.json
  packs/data/abomination-vaults-bestiary.db/witchfire-warden.json
  packs/data/abomination-vaults-bestiary.db/wrin-sivinxi.json
  packs/data/abomination-vaults-bestiary.db/ysondkhelir.json
Labels: pr: data update

#6167 Localize and fix traits for the save of Stunning Fist
  packs/data/feats.db/stunning-fist.json
  static/lang/re-en.json
Labels: pr: data update

#6168 Improve automation of Trap Finder
  packs/data/feats.db/trap-finder.json
  static/lang/re-en.json
Labels: pr: data update

#6024 Add effects tab to vehicles
  src/module/actor/sheet/base.ts
  src/module/actor/vehicle/sheet.ts
  src/scripts/register-templates.ts
  src/styles/actor/vehicle/_effects.scss
  src/styles/actor/vehicle/_header.scss
  src/styles/actor/vehicle/_index.scss
  static/templates/actors/vehicle/sheet.hbs
  static/templates/actors/vehicle/tabs/vehicle-effects.hbs
Labels: pr: enhancement

#6169 Add persistent damage to some NPC attacks
  packs/data/blood-lords-bestiary.db/grace-the-rhino-owano.json
  packs/data/blood-lords-bestiary.db/granite-vulture.json
  packs/data/blood-lords-bestiary.db/pokmit-bloody-pike.json
  packs/data/blood-lords-bestiary.db/shadow-leydroth.json
  packs/data/blood-lords-bestiary.db/solar-glass-golem.json
  packs/data/blood-lords-bestiary.db/the-fight.json
  packs/data/pathfinder-bestiary-2.db/glass-golem.json
Labels: pr: data update

#6163 Release Notes 4.7.0
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Labels: pr: housekeeping

#6171 Clean up adding of listeners on vehicle sheet
  src/module/actor/character/sheet.ts
  src/module/actor/npc/sheet.ts
  src/module/actor/sheet/base.ts
  src/module/actor/vehicle/sheet.ts
Labels: pr: refactor

#6175 Fix usage and bulk of Rowan Rifle
  packs/data/equipment.db/rowan-rifle.json
  packs/data/equipment.db/tigers-claw.json
Labels: pr: data update

#6178 Don't set defaults to `ActorPF2e` and `ItemPF2e` properties
  src/module/actor/base.ts
  src/module/item/base.ts
  src/module/rules/rule-element/battle-form/rule-element.ts
Labels: pr: bugfix

#6179 Release Notes 4.7.1
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Labels: pr: housekeeping

#6180 Allow NPC melee categorized partial without matching base
  src/module/item/melee/sheet.ts
  src/module/system/damage/formula.ts
  static/lang/en.json
Labels: pr: enhancement

#6181 Fix shameful extraneous coercion
  src/module/system/damage/formula.ts
Labels: pr: housekeeping, shameless request

#6183 Wrap long summings of damage instances in chat
  src/styles/ui/sidebar/chat/_damage.scss
Labels: pr: bugfix

#6201 Handle `Actor`s/`Item`s being passed to `createDocuments`
  src/module/actor/base.ts
  src/module/item/base.ts
  types/foundry/common/abstract/document.d.ts
  types/foundry/common/documents/chat-message.d.ts
Labels: pr: bugfix

#6205 Add missing feats from Impossible Lands
  packs/data/feats.db/asura-magic.json
  packs/data/feats.db/dominion-aura.json
  packs/data/feats.db/idol-threat.json
  packs/data/feats.db/jalmeri-rakshasa-magic.json
  packs/data/feats.db/reveal-hidden-self.json
Labels: pr: data entry, source: lost omens

#6199 Update icon for Phantom Steed spell
  static/icons/spells/phantom-steed.webp
Labels: pr: data update

#6176 Replace explicit NPC crit spec text with PF2E.Item.Weapon.CriticalSpecialization.*
  packs/data/agents-of-edgewatch-bestiary.db/graveknight-of-kharnas.json
  packs/data/feats.db/garudas-squall.json
  packs/data/kingmaker-bestiary.db/ntavi.json
  packs/data/npc-gallery.db/pathfinder-venture-captain.json
  packs/data/npc-gallery.db/veteran-reclaimer.json
  packs/data/strength-of-thousands-bestiary.db/bharlen-sajor.json
  packs/data/strength-of-thousands-bestiary.db/graveknight-captain.json
  packs/data/strength-of-thousands-bestiary.db/graveknight-champion.json
Labels: pr: data update

#6209 Add persistent damage to some NPC attacks
  packs/data/strength-of-thousands-bestiary.db/ancient-rivener.json
  packs/data/strength-of-thousands-bestiary.db/formian-mageslayer.json
  packs/data/strength-of-thousands-bestiary.db/kilia-mwibo.json
  packs/data/strength-of-thousands-bestiary.db/mutated-sewer-ooze.json
  packs/data/strength-of-thousands-bestiary.db/wereant-poisoner.json
Labels: pr: data update

#6187 Fix some irregular damageRolls
  packs/data/pfs-season-2-bestiary.db/dragon-forest-rot.json
  packs/data/pfs-season-2-bestiary.db/skeletal-reveler.json
  packs/data/pfs-season-2-bestiary.db/vermlek-centaur-3-4.json
Labels: pr: data update

#6191 Fix check for critical-only modifiers in the damage roll dialog
  src/module/system/damage/modifier-dialog.ts
Labels: pr: bugfix

#6206 Add icons for class archetype features
  packs/data/classfeatures.db/elemental-magic.json
  packs/data/classfeatures.db/flexible-spell-preparation.json
  packs/data/classfeatures.db/runelord-specialization.json
  packs/data/classfeatures.db/wellspring-magic.json
  packs/scripts/packman/compendium-pack.ts
  static/icons/features/classes/elemental-magic.webp
  static/icons/features/classes/wellspring-magic.webp
Labels: pr: data update

#6208 Fix Captivating Intensity journal entry
  packs/data/journals.db/archetypes.json
Labels: pr: data update

#6185 Add persistent damage to some NPC attacks
  packs/data/pathfinder-bestiary-3.db/adhukait.json
  packs/data/pathfinder-bestiary-3.db/arboreal-reaper.json
  packs/data/pathfinder-bestiary-3.db/bauble-beast.json
  packs/data/pathfinder-bestiary-3.db/blood-painter.json
  packs/data/pathfinder-bestiary-3.db/lifeleecher-brawler.json
  packs/data/pathfinder-bestiary-3.db/lovelorn.json
  packs/data/pathfinder-bestiary-3.db/ostovite.json
  packs/data/pathfinder-bestiary-3.db/owb-prophet.json
  packs/data/pathfinder-bestiary-3.db/owb.json
  packs/data/pathfinder-bestiary-3.db/pakalchi.json
  packs/data/pathfinder-bestiary-3.db/rokurokubi.json
  packs/data/pathfinder-bestiary-3.db/sabosan.json
  packs/data/pathfinder-bestiary-3.db/tolokand.json
Labels: pr: data update

#6184 Add persistent damage to some NPC attacks
  packs/data/agents-of-edgewatch-bestiary.db/agradaemon.json
  packs/data/agents-of-edgewatch-bestiary.db/the-rabbit-prince.json
  packs/data/book-of-the-dead-bestiary.db/corpseroot.json
  packs/data/kingmaker-bestiary.db/akuzhail.json
  packs/data/kingmaker-bestiary.db/ankou-assassin.json
  packs/data/kingmaker-bestiary.db/barbtongued-wyvern.json
  packs/data/kingmaker-bestiary.db/endless-struggle.json
  packs/data/kingmaker-bestiary.db/ghostly-guard.json
  packs/data/kingmaker-bestiary.db/ilthuliak.json
  packs/data/kingmaker-bestiary.db/leng-envoy.json
  packs/data/kingmaker-bestiary.db/the-dancing-lady.json
  packs/data/kingmaker-bestiary.db/werendegar.json
  packs/data/kingmaker-bestiary.db/winged-owlbear.json
  packs/data/npc-gallery.db/apothecary.json
  packs/data/pathfinder-bestiary-2.db/ankou.json
  packs/data/pathfinder-bestiary-2.db/icewyrm.json
  packs/data/pathfinder-bestiary-3.db/skull-peeler.json
  packs/data/pathfinder-bestiary.db/ancient-black-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-black-dragon.json
  packs/data/pathfinder-bestiary.db/ancient-brass-dragon-spellcaster.json
  packs/data/pathfinder-bestiary.db/ancient-brass-dragon.json
  packs/data/pathfinder-bestiary.db/dandasuka.json
  packs/data/pathfinder-bestiary.db/elemental-inferno.json
  packs/data/pathfinder-bestiary.db/firewyrm.json
  packs/data/pathfinder-bestiary.db/living-wildfire.json
  packs/data/pathfinder-bestiary.db/phoenix.json
Labels: pr: data update

#6202 Fix energy mutagen effect descriptions
  packs/data/equipment-effects.db/effect-energy-mutagen-lesser.json
  packs/data/equipment-effects.db/effect-energy-mutagen-major.json
Labels: pr: data update

#6190 Fix terminate bloodline
  packs/data/spells.db/terminate-bloodline.json
Labels: pr: data update

#6186 Fix inline roll warning message
  src/scripts/ui/inline-roll-links.ts
Labels: pr: bugfix

#6210 Release Notes 4.7.2
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Labels: pr: housekeeping

#6204 Don't render enemy visual/auditory auras to players
  src/module/canvas/token/aura/renderer.ts
  src/module/scene/document.ts
  src/module/scene/helpers.ts
  src/module/scene/token-document/aura/index.ts
Labels: pr: enhancement

#6216 Fix application of "deadAtZero" setting
  src/module/actor/base.ts
Labels: pr: bugfix

#6221 Add persistent damage to some NPC attacks
  packs/data/agents-of-edgewatch-bestiary.db/diobel-sweeper-chemist.json
  packs/data/agents-of-edgewatch-bestiary.db/diobel-sweeper-tough.json
  packs/data/agents-of-edgewatch-bestiary.db/grunka.json
  packs/data/agents-of-edgewatch-bestiary.db/pelmo.json
  packs/data/blog-bestiary.db/wendlyn.json
  packs/data/one-shot-bestiary.db/doatara-the-poisoner.json
Labels: pr: data update

#6217 Fix strike rule element in Deer Instinct
  packs/data/classfeatures.db/deer-animal-instinct.json
Labels: pr: data update

#6222 Change Fire Mephit Breath Weapon to unique id
  packs/data/pathfinder-bestiary.db/fire-mephit.json
Labels: localization, pr: data update

#6218 Add persistent damage to some NPC attacks
  packs/data/pathfinder-bestiary-2.db/baobhan-sith.json
  packs/data/pathfinder-bestiary-2.db/blizzardborn.json
  packs/data/pathfinder-bestiary-2.db/denizen-of-leng.json
  packs/data/pathfinder-bestiary-2.db/dig-widget.json
  packs/data/pathfinder-bestiary-2.db/eremite.json
  packs/data/pathfinder-bestiary-2.db/evangelist.json
  packs/data/pathfinder-bestiary-2.db/filth-fire.json
  packs/data/pathfinder-bestiary-2.db/fire-yai.json
  packs/data/pathfinder-bestiary-2.db/frost-worm.json
  packs/data/pathfinder-bestiary-2.db/ghonhatine.json
  packs/data/pathfinder-bestiary-2.db/icicle-snake.json
  packs/data/pathfinder-bestiary-2.db/ifrit-pyrochemist.json
  packs/data/pathfinder-bestiary-2.db/interlocutor.json
  packs/data/pathfinder-bestiary-2.db/lerritan.json
  packs/data/pathfinder-bestiary-2.db/leydroth.json
  packs/data/pathfinder-bestiary-2.db/magma-scorpion.json
  packs/data/pathfinder-bestiary-2.db/ostiarius.json
  packs/data/pathfinder-bestiary-2.db/purrodaemon.json
  packs/data/pathfinder-bestiary-2.db/quoppopak.json
  packs/data/pathfinder-bestiary-2.db/sacristan.json
  packs/data/pathfinder-bestiary-2.db/sard.json
Labels: pr: data update

#6213 Add persistent damage to some NPC attacks
  packs/data/pfs-season-1-bestiary.db/manifestation-of-qxal-3-4.json
  packs/data/pfs-season-1-bestiary.db/manifestation-of-qxal-5-6.json
  packs/data/pfs-season-1-bestiary.db/nevashi-5-6.json
  packs/data/pfs-season-1-bestiary.db/nevashi-7-8.json
  packs/data/pfs-season-1-bestiary.db/vicious-vulpine.json
  packs/data/pfs-season-2-bestiary.db/corrupted-wildfire-3-4.json
  packs/data/pfs-season-2-bestiary.db/corrupted-wildfire-5-6.json
  packs/data/pfs-season-2-bestiary.db/flaming-moss-monster.json
  packs/data/pfs-season-2-bestiary.db/qxal-the-thorned-monarch.json
  packs/data/pfs-season-2-bestiary.db/saddleback-bunyip.json
  packs/data/pfs-season-2-bestiary.db/smoldering-moss-monster.json
  packs/data/pfs-season-2-bestiary.db/strak-5-6.json
  packs/data/pfs-season-2-bestiary.db/strak-7-8.json
  packs/data/pfs-season-3-bestiary.db/filth-fire-pfs-3-01.json
  packs/data/pfs-season-3-bestiary.db/glurorchaes-7-8.json
  packs/data/pfs-season-4-bestiary.db/dig-widget-pfs-4-07.json
  packs/data/pfs-season-4-bestiary.db/dream-of-doom.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/burning-mammoth-reaver.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/kadlaka.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/pakano-level-12.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/pakano.json
Labels: pr: data update

#6219 Fix Strike rule element damageTypes
  packs/data/feats.db/lavasoul.json
  packs/data/feats.db/seedpod.json
  packs/data/feats.db/smashing-tail.json
Labels: pr: data update

#6229 Update age of ashes spell exceptions
  packs/data/age-of-ashes-bestiary.db/barushak-il-varashma.json
  packs/data/age-of-ashes-bestiary.db/immortal-ichor.json
  packs/data/age-of-ashes-bestiary.db/spiritbound-aluum.json
  packs/data/age-of-ashes-bestiary.db/teyam-ishtori.json
Labels: pr: data update

#6228 Allow ranged BattleForm RE strikes and make Green Man's Thorns ranged
  packs/data/spell-effects.db/spell-effect-nature-incarnate-green-man.json
  src/module/rules/rule-element/battle-form/rule-element.ts
  src/module/rules/rule-element/battle-form/types.ts
Labels: pr: data update

#6233 Update Mysterious Breadth and its journal page
  packs/data/feats.db/mysterious-breadth.json
  packs/data/journals.db/archetypes.json
Labels: pr: data update

#6215 Add range increment display to strike action item
  static/templates/actors/character/tabs/actions.hbs
Labels: pr: enhancement

#6220 Add missing attack slugs for AV + one on EC
  packs/data/abomination-vaults-bestiary.db/afflicted-irnakurse.json
  packs/data/abomination-vaults-bestiary.db/azvalvigander.json
  packs/data/abomination-vaults-bestiary.db/barcumbuk.json
  packs/data/abomination-vaults-bestiary.db/beluthus.json
  packs/data/abomination-vaults-bestiary.db/boss-skrawng.json
  packs/data/abomination-vaults-bestiary.db/caligni-defender.json
  packs/data/abomination-vaults-bestiary.db/chafkhem.json
  packs/data/abomination-vaults-bestiary.db/child-of-belcorra.json
  packs/data/abomination-vaults-bestiary.db/cratonys.json
  packs/data/abomination-vaults-bestiary.db/deep-end-sarglagon.json
  packs/data/abomination-vaults-bestiary.db/dread-wisp.json
  packs/data/abomination-vaults-bestiary.db/drill-field-barbazu.json
  packs/data/abomination-vaults-bestiary.db/drow-warden.json
  packs/data/abomination-vaults-bestiary.db/dune-candle.json
  packs/data/abomination-vaults-bestiary.db/elder-child-of-belcorra.json
  packs/data/abomination-vaults-bestiary.db/hellforge-barbazu.json
  packs/data/abomination-vaults-bestiary.db/jafaki.json
  packs/data/abomination-vaults-bestiary.db/khurfel.json
  packs/data/abomination-vaults-bestiary.db/ladys-whisper.json
  packs/data/abomination-vaults-bestiary.db/murmur.json
  packs/data/abomination-vaults-bestiary.db/observation-deck-seugathi-researcher.json
  packs/data/abomination-vaults-bestiary.db/poisoning-room-specter.json
  packs/data/abomination-vaults-bestiary.db/reaper-skull-puffball.json
  packs/data/abomination-vaults-bestiary.db/scalathrax.json
  packs/data/abomination-vaults-bestiary.db/seugathi-guard.json
  packs/data/abomination-vaults-bestiary.db/seugathi-reality-warper.json
  packs/data/abomination-vaults-bestiary.db/seugathi-researcher.json
  packs/data/abomination-vaults-bestiary.db/seugathi-servant.json
  packs/data/abomination-vaults-bestiary.db/shanrigol-behemoth.json
  packs/data/abomination-vaults-bestiary.db/shuffling-scythe-blades.json
  packs/data/abomination-vaults-bestiary.db/summoning-chamber-erinys.json
  packs/data/abomination-vaults-bestiary.db/torture-chamber-barbazu.json
  packs/data/abomination-vaults-bestiary.db/urdefhan-blood-mage.json
  packs/data/abomination-vaults-bestiary.db/urdefhan-death-scout.json
  packs/data/abomination-vaults-bestiary.db/urdefhan-lasher.json
  packs/data/abomination-vaults-bestiary.db/urevian.json
  packs/data/abomination-vaults-bestiary.db/vengeful-furnace.json
  packs/data/abomination-vaults-bestiary.db/viscous-black-pudding.json
  packs/data/abomination-vaults-bestiary.db/voidglutton.json
  packs/data/abomination-vaults-bestiary.db/witchfire-warden.json
  packs/data/abomination-vaults-bestiary.db/ysondkhelir.json
  packs/data/extinction-curse-bestiary.db/doblagub.json
Labels: localization, pr: data update

#6226 De-Pluralize the name of the Giant Joro Spider
  packs/data/agents-of-edgewatch-bestiary.db/giant-joro-spider.json
Labels: source: adventure path, pr: data update

#6240 Update holy water splash note
  packs/data/equipment.db/holy-water.json
  packs/data/equipment.db/unholy-water.json
Labels: pr: data update

#6241 Add persistent damage to some NPC attacks
  packs/data/extinction-curse-bestiary.db/qormintur.json
  packs/data/extinction-curse-bestiary.db/viskithrel.json
  packs/data/extinction-curse-bestiary.db/xulgath-bomber.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/spinel-leviathan-syndara.json
  packs/data/pathfinder-bestiary-2.db/vampiric-mist.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/turkek.json
  packs/data/strength-of-thousands-bestiary.db/baaupa-mdoudu.json
  packs/data/strength-of-thousands-bestiary.db/fire-pot-ubanu.json
Labels: pr: data update

#6238 Remove errant grant from Mithbreath Azarketi heritage
  packs/data/heritages.db/mistbreath-azarketi.json
Labels: pr: data update

#6235 Update abomination vaults Galudu
  packs/data/abomination-vaults-bestiary.db/drow-cavern-seer.json
  packs/data/abomination-vaults-bestiary.db/galudu.json
  packs/data/abomination-vaults-bestiary.db/ladys-whisper.json
Labels: pr: data update

#6242 Fix damage of Fungal Infestation and Enervation
  packs/data/blood-lords-bestiary.db/virulak-necromancer.json
  packs/data/book-of-the-dead-bestiary.db/provincial-jiang-shi.json
  packs/data/outlaws-of-alkenstar-bestiary.db/parsus.json
  packs/data/pfs-season-2-bestiary.db/clouded-quartz-7-8.json
  packs/data/pfs-season-2-bestiary.db/disciple-of-urxehl-7-8.json
  packs/data/pfs-season-2-bestiary.db/disciple-of-urxehl-9-10.json
  packs/data/pfs-season-2-bestiary.db/iverri-3-4.json
  packs/data/pfs-season-2-bestiary.db/iverri-5-6.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/ashen-swale.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/azi.json
  packs/data/spells.db/fungal-infestation.json
Labels: pr: data update

#6227 Fix name of Thorns battle form translation and update Hidden/Murderous Thorn(s) feats
  packs/data/feats.db/hidden-thorn.json
  packs/data/feats.db/murderous-thorns.json
  static/lang/re-en.json
Labels: pr: data update

#6231 Make `maxItemLevel` resolvable in crafting entry RE
  packs/data/classfeatures.db/advanced-alchemy.json
  packs/data/iconics.db/fumbus-level-1.json
  packs/data/iconics.db/fumbus-level-3.json
  packs/data/iconics.db/fumbus-level-5.json
  src/module/rules/rule-element/crafting/entry.ts
Labels: pr: bugfix, pr: data update, pr: enhancement

#6212 Add conceal an object action macro
  packs/data/action-macros.db/conceal-an-object-stealth.json
  packs/data/actions.db/conceal-an-object.json
  src/module/system/action-macros/index.ts
  src/module/system/action-macros/stealth/conceal-an-object.ts
  static/lang/en.json
Labels: pr: enhancement

#6243 Add steal action macro
  packs/data/action-macros.db/steal-thievery.json
  packs/data/actions.db/steal.json
  src/module/system/action-macros/index.ts
  src/module/system/action-macros/thievery/steal.ts
  static/lang/en.json
Labels: pr: enhancement

#6244 Fix damage of Vampiric Maiden
  packs/data/blood-lords-bestiary.db/sahni-bride-of-the-sea.json
  packs/data/blood-lords-bestiary.db/virulak-necromancer.json
  packs/data/outlaws-of-alkenstar-bestiary.db/parsus.json
  packs/data/spells.db/vampiric-maiden.json
  packs/data/strength-of-thousands-bestiary.db/dwandek.json
Labels: pr: data update

#6249 Make traits optional for loot
  src/module/actor/base.ts
  src/module/actor/data/base.ts
  src/module/actor/loot/data.ts
  src/module/item/weapon/document.ts
  src/module/migration/migrations/612-normalize-rarities.ts
  src/module/migration/migrations/782-unnest-actor-traits.ts
  src/module/rules/rule-element/actor-traits.ts
  static/template.json
Labels: pr: refactor, pr: types update

#6246 Refine action macro degree of success roll notes
  src/module/system/action-macros/acrobatics/maneuver-in-flight.ts
  src/module/system/action-macros/acrobatics/tumble-through.ts
  src/module/system/action-macros/athletics/long-jump.ts
  src/module/system/action-macros/deception/create-a-diversion.ts
  src/module/system/action-macros/deception/impersonate.ts
  src/module/system/action-macros/deception/lie.ts
  src/module/system/action-macros/diplomacy/gather-information.ts
  src/module/system/action-macros/helpers.ts
  src/module/system/action-macros/nature/command-an-animal.ts
  src/module/system/action-macros/stealth/conceal-an-object.ts
  src/module/system/action-macros/stealth/hide.ts
  src/module/system/action-macros/stealth/sneak.ts
  src/module/system/action-macros/thievery/palm-an-object.ts
  src/module/system/action-macros/thievery/steal.ts
  static/lang/en.json
Labels: pr: bugfix

#6250 Update `WorldCollection` types for V10
  types/foundry/client/collections/world-collection/actors.d.ts
  types/foundry/client/collections/world-collection/base.d.ts
  types/foundry/client/collections/world-collection/items.d.ts
  types/foundry/util.d.ts
Labels: pr: foundry v10

#6255 Fix Virtuous Defender shield hardness
  packs/data/gatewalkers-bestiary.db/apothecarys-cabinet.json
  packs/data/gatewalkers-bestiary.db/aspect-of-ruun.json
  packs/data/gatewalkers-bestiary.db/freezing-floor.json
  packs/data/gatewalkers-bestiary.db/ghodrak-the-quick.json
  packs/data/gatewalkers-bestiary.db/green-monkey.json
  packs/data/gatewalkers-bestiary.db/kithangian.json
  packs/data/gatewalkers-bestiary.db/kvernknurr.json
  packs/data/gatewalkers-bestiary.db/myroga.json
  packs/data/gatewalkers-bestiary.db/pholebis.json
  packs/data/gatewalkers-bestiary.db/skin-beetle-swarm.json
  packs/data/gatewalkers-bestiary.db/skin-beetle.json
  packs/data/gatewalkers-bestiary.db/stone-breasted-owl.json
  packs/data/gatewalkers-bestiary.db/test-of-the-god-caller.json
  packs/data/gatewalkers-bestiary.db/toppling-shelves.json
  packs/data/gatewalkers-bestiary.db/valmar.json
  packs/data/npc-gallery.db/virtuous-defender.json
Labels: pr: data update

#6254 Fix some sources
  packs/data/spells.db/advanced-scurvy.json
  packs/data/spells.db/briny-bolt.json
  packs/data/spells.db/lashing-rope.json
  packs/data/spells.db/phantom-ship.json
Labels: pr: data update

#6257 Restore traits to heritage template.json defaults
  static/template.json
Labels: pr: bugfix

#6258 Restore inclusion of homebrew base weapon types to weapon sheet
  src/module/item/sheet/base.ts
  src/module/item/weapon/sheet.ts
  src/util/misc.ts
  static/templates/items/weapon-details.hbs
Labels: pr: bugfix, pr: refactor

#6260 Adding slug to Web Tether for Goliath Spider
  packs/data/pathfinder-bestiary.db/goliath-spider.json
Labels: pr: data update

#6261 Remove unlocalized labels
  packs/data/equipment.db/astrolabe-of-the-falling-stars.json
  packs/data/equipment.db/mariners-astrolabe.json
  packs/data/equipment.db/standard-astrolabe.json
Labels: pr: data update

#6259 Use `object-fit: contain` for item icons on sheets and sidebar
  src/styles/item/_header.scss
  src/styles/ui/sidebar/_item-directory.scss
Labels: ui/ux

#6234 Ensure RollOption RE's `option` is always resolved, refactor toggle API
  src/module/actor/base.ts
  src/module/actor/creature/document.ts
  src/module/actor/sheet/base.ts
  src/module/rules/rule-element/roll-option.ts
Labels: pr: bugfix, pr: refactor

#6239 Rewrite order of weapon rune preparation
  src/module/actor/character/automatic-bonus-progression.ts
  src/module/actor/character/document.ts
  src/module/item/physical/runes.ts
  src/module/item/weapon/data.ts
  src/module/item/weapon/document.ts
  src/module/system/damage/weapon.ts
  src/module/system/tag-selector/index.ts
Labels: pr: bugfix, pr: refactor

#6265 Avoid persisting synthetic npc traits
  src/module/actor/npc/sheet.ts
  src/module/actor/npc/types.ts
  src/module/item/sheet/base.ts
  src/module/item/sheet/data-types.ts
  src/module/sheet/helpers.ts
  static/templates/actors/npc/partials/header.hbs
  static/templates/items/item-sheet.hbs
Labels: pr: bugfix

#6263 Include target traits in spell damage rolls and allow spell REs to use "{item|_id}-damage" selector
  src/module/item/spell/document.ts
Labels: pr: enhancement

#6262 Sort strikes on PC sheet alphabetically
  src/module/actor/character/data/types.ts
  src/module/actor/character/document.ts
  src/module/actor/data/base.ts
Labels: ui/ux

#6270 Fix some persistent damage that didn't migrate due to data errors
  packs/data/equipment.db/shrapnel-snare.json
  packs/data/equipment.db/static-snare.json
  packs/data/outlaws-of-alkenstar-bestiary.db/lyzerium-bottles.json
  packs/data/strength-of-thousands-bestiary.db/gold-defender-garrison.json
  packs/data/strength-of-thousands-bestiary.db/gold-defender.json
  static/lang/re-en.json
Labels: pr: data update

#6267 Automate Searing Light good damage
  packs/data/spells.db/searing-light.json
Labels: pr: data update

#6273 Add roll notes to the scoundrel for successful feints
  packs/data/classfeatures.db/scoundrel.json
Labels: pr: data update

#6271 Release Notes 4.7.3
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Labels: pr: housekeeping

#6275 Fix inclusion of item bonus from potency runes on attack rolls
  src/module/actor/character/document.ts
Labels: pr: bugfix
