Repository foundryvtt/pf2e, pull requests merged in 2023-05, with the labels that each got.

#7601 Update One Inch Punch to use RollOption suboptions
  packs/data/feats.db/one-inch-punch.json
  static/lang/re-en.json
Labels: pr: data update

#7562 Add backwards compat for attributes.initiative.roll, and pass along rollInitiative() args
  src/module/actor/creature/document.ts
  src/module/actor/data/base.ts
  src/module/actor/data/index.ts
  src/module/actor/hazard/document.ts
  src/module/actor/initiative.ts
  src/module/encounter/document.ts
Labels: pr: enhancement

#7576 Render parties like folders in sidebar
  src/module/actor/base.ts
  src/module/actor/party/document.ts
  src/module/apps/sidebar/actor-directory.ts
  src/scripts/hooks/load.ts
  src/styles/ui/sidebar/_actor-directory.scss
  static/templates/sidebar/party-document-partial.hbs
  types/foundry/client/application/sidebar/sidebar-tab/sidebar-directory/base.d.ts
  types/foundry/client/ui/index.d.ts
  types/foundry/common/documents/actor.d.ts
Labels: pr: new feature, pr: delay merge

#7622 Utilize `ResolvableValueField` for more RE `value` properties
  src/module/rules/rule-element/adjust-modifier.ts
  src/module/rules/rule-element/adjust-strike.ts
  src/module/rules/rule-element/ae-like.ts
  src/module/rules/rule-element/data.ts
  src/module/rules/rule-element/flat-modifier.ts
  src/module/rules/rule-element/iwr/base.ts
  src/module/rules/rule-element/iwr/immunity.ts
  src/module/rules/rule-element/iwr/resistance.ts
  src/module/rules/rule-element/iwr/weakness.ts
  src/module/rules/rule-element/roll-option.ts
Labels: pr: refactor

#7635 Prevent early effect expiration when combatants have equal initiative
  src/module/item/effect/document.ts
Labels: pr: bugfix

#7637 Make `ModifierPF2e#item` not enumerable
  src/module/actor/modifiers.ts
Labels: pr: bugfix

#7638 Remove V9 shims in RE bracket resolution
  src/module/rules/rule-element/base.ts
Labels: pr: bugfix

#7636 Add REs to Bloodletting Kukri
  packs/data/equipment.db/bloodletting-kukri.json
  static/lang/re-en.json
Labels: pr: data update

#7649 Clean up description of Acid Splash and add leveled persistent damage link
  packs/data/spells.db/acid-splash.json
Labels: pr: data update

#7646 Removed some unneeded labels and fix some formatting
  packs/data/equipment.db/flame-tongue.json
  packs/data/feat-effects.db/stance-jellyfish-stance.json
  packs/data/feats.db/gorilla-pound.json
  packs/data/feats.db/poison-resistance.json
Labels: pr: data update

#7632 Add saving throw links to Prismatic Spray
  packs/data/spells.db/prismatic-spray.json
Labels: pr: data update

#7643 Fix labels associated with divine intercessions
  src/scripts/config/index.ts
  static/lang/en.json
Labels: pr: data update

#7642 Fix polytool damage type
  packs/data/equipment.db/polytool.json
Labels: pr: data update

#7631 Add Sneak Attack REs for Galudu and Yana No-trail
  packs/data/abomination-vaults-bestiary.db/galudu.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/yana-no-trail.json
Labels: pr: data update

#7625 Normalize language of Luminous Sprite toggle
  static/lang/re-en.json
Labels: pr: data update

#7624 Add resistance to Ironblood Stance and automate Ironblood Surge
  packs/data/feat-effects.db/stance-ironblood-stance.json
  packs/data/feats.db/ironblood-surge.json
Labels: pr: data update

#7656 Fix nedb query in Ancient Elf choice set
  packs/data/heritages.db/ancient-elf.json
Labels: pr: bugfix

#7647 Convert or remove AE-likes serving as roll options
  packs/data/feat-effects.db/effect-rage.json
  packs/data/feat-effects.db/stance-crane-stance.json
  packs/data/feats.db/bardic-lore.json
  packs/data/feats.db/crane-flutter.json
  packs/data/feats.db/instinct-ability.json
  packs/data/feats.db/investigator-dedication.json
  packs/data/feats.db/loremaster-dedication.json
  packs/data/feats.db/ongoing-strategy.json
  packs/data/feats.db/takedown-expert.json
  packs/data/iconics.db/sajan-level-5.json
Labels: pr: data update

#7657 Fix creation of custom spells from actor sheets
  src/module/actor/creature/spell-preparation-sheet.ts
  src/module/actor/sheet/base.ts
  src/module/actor/sheet/helpers.ts
  src/module/item/base.ts
  static/templates/actors/spellcasting-spell-list.hbs
Labels: pr: bugfix

#7653 Show source value for size on physical-item sheets
  src/module/item/physical/sheet.ts
Labels: pr: bugfix

#7652 Show source values for attack and damage in NPC attack sheets
  src/module/item/melee/sheet.ts
Labels: pr: bugfix

#7651 Move "frame-elegant" SVG to external file, utilize existing SASS mixin
  src/styles/actor/character/_character.scss
  src/styles/actor/character/_proficiencies.scss
  src/styles/mixins/_frames.scss
  static/assets/sheet/frame-elegant.svg
Labels: pr: refactor

#7648 Include roll options from REs' parent items using "parent" prefix
  src/module/item/base.ts
  src/module/rules/rule-element/base.ts
Labels: pr: enhancement

#7658 Fix fire weakness in Effect: Creeping Ashes
  packs/data/feat-effects.db/effect-creeping-ashes.json
Labels: pr: data update

#7644 Expose property rune slots on unowned armor when ABP is enabled
  src/module/item/armor/document.ts
  src/module/item/armor/sheet.ts
  src/module/item/physical/runes.ts
  src/module/item/weapon/document.ts
  src/module/item/weapon/sheet.ts
Labels: pr: bugfix

#7660 Fix name of Spell Effect: Mirror Image
  packs/data/spell-effects.db/spell-effect-mirror-image.json
  packs/data/spells.db/mirror-image.json
Labels: pr: data update

#7662 Add slug to Anadi fangs
  packs/data/ancestryfeatures.db/fangs.json
Labels: pr: data update

#7640 Condense Evolution surge effects
  packs/data/spell-effects.db/spell-effect-evolution-surge.json
  packs/data/spells.db/evolution-surge.json
  static/lang/re-en.json
Labels: pr: data update

#7661 Remove empty FastHealing details
  packs/data/campaign-effects.db/effect-reflection-of-life-fast-healing.json
  packs/data/feat-effects.db/effect-battle-curse.json
  packs/data/feats.db/immortal-bear.json
  packs/data/pfs-season-4-bestiary.db/bolger-trusk-5-6.json
  packs/data/pfs-season-4-bestiary.db/bolger-trusk-7-8.json
  packs/data/pfs-season-4-bestiary.db/cunning-vampire-spawn.json
  packs/data/pfs-season-4-bestiary.db/evasive-vampire-count.json
  packs/data/pfs-season-4-bestiary.db/weak-cunning-vampire-spawn.json
  packs/data/pfs-season-4-bestiary.db/weak-evasive-vampire-count.json
  packs/data/stolen-fate-bestiary.db/kannijo.json
Labels: pr: housekeeping

#7659 Add effect for Inscrutable Mask
  packs/data/spell-effects.db/spell-effect-inscrutable-mask.json
  packs/data/spells.db/inscrutable-mask.json
Labels: pr: data update

#6894 Add regeneration REs to some NPCs
  packs/data/abomination-vaults-bestiary.db/cratonys.json
  packs/data/blood-lords-bestiary.db/tombstone-troll.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/taiga-yai.json
  packs/data/kingmaker-bestiary.db/the-misbegotten-troll.json
  packs/data/kingmaker-bestiary.db/troll-guard.json
  packs/data/menace-under-otari-bestiary.db/troll-bb.json
  packs/data/outlaws-of-alkenstar-bestiary.db/captured-dezullon.json
  packs/data/pathfinder-bestiary-2.db/cavern-troll.json
  packs/data/pathfinder-bestiary-2.db/frost-troll.json
  packs/data/pathfinder-bestiary-2.db/isqulug.json
  packs/data/pathfinder-bestiary-2.db/jotund-troll.json
  packs/data/pathfinder-bestiary-2.db/trollhound.json
  packs/data/pathfinder-bestiary-2.db/two-headed-troll.json
  packs/data/pathfinder-bestiary-2.db/water-yai.json
  packs/data/pathfinder-bestiary.db/pleroma.json
  packs/data/pathfinder-bestiary.db/troll-king.json
  packs/data/pathfinder-bestiary.db/troll.json
  packs/data/pfs-season-2-bestiary.db/chained-drained-troll.json
  packs/data/pfs-season-2-bestiary.db/chained-troll.json
  packs/data/pfs-season-2-bestiary.db/frost-troll-hunter.json
  packs/data/pfs-season-2-bestiary.db/frostbitten-trollhound.json
  packs/data/pfs-season-2-bestiary.db/mutated-trollhound.json
  packs/data/pfs-season-2-bestiary.db/scorched-cavern-troll.json
  packs/data/pfs-season-2-bestiary.db/spark-troll-1-2.json
  packs/data/pfs-season-2-bestiary.db/spark-troll-3-4.json
Labels: pr: data update

#7668 Add regeneration REs to some NPCs
  packs/data/age-of-ashes-bestiary.db/dragonscarred-dead.json
  packs/data/age-of-ashes-bestiary.db/immortal-ichor.json
  packs/data/age-of-ashes-bestiary.db/precentor.json
  packs/data/age-of-ashes-bestiary.db/tarrasque-the-armageddon-engine.json
  packs/data/age-of-ashes-bestiary.db/weathered-wail.json
  packs/data/age-of-ashes-bestiary.db/xotani-the-firebleeder.json
  packs/data/agents-of-edgewatch-bestiary.db/avsheros-the-betrayer.json
  packs/data/agents-of-edgewatch-bestiary.db/baatamidar.json
  packs/data/agents-of-edgewatch-bestiary.db/ravenile-rager.json
  packs/data/bestiary-ability-glossary-srd.db/regeneration.json
  packs/data/blood-lords-bestiary.db/drusilla.json
  packs/data/blood-lords-bestiary.db/necrohulk-flailer.json
  packs/data/blood-lords-bestiary.db/necrohulk-smasher.json
  packs/data/blood-lords-bestiary.db/umbraex.json
  packs/data/book-of-the-dead-bestiary.db/tormented-burning.json
  packs/data/book-of-the-dead-bestiary.db/tormented-crushing.json
  packs/data/book-of-the-dead-bestiary.db/tormented-dislocation.json
  packs/data/book-of-the-dead-bestiary.db/tormented-drowning.json
  packs/data/book-of-the-dead-bestiary.db/tormented-impalement.json
  packs/data/book-of-the-dead-bestiary.db/tormented-starvation.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/koto-zekora.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/shadow-yai.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/spirit-turtle.json
  packs/data/impossible-lands-bestiary.db/fleshforged-conformer.json
  packs/data/impossible-lands-bestiary.db/fleshforged-dreadnought.json
  packs/data/monsters-of-myth-bestiary.db/deserts-howl.json
  packs/data/monsters-of-myth-bestiary.db/fafnheir.json
  packs/data/monsters-of-myth-bestiary.db/howling-spawn.json
  packs/data/monsters-of-myth-bestiary.db/kothogaz-dance-of-disharmony.json
  packs/data/monsters-of-myth-bestiary.db/somnalu-oculus.json
  packs/data/monsters-of-myth-bestiary.db/spawn-of-kothogaz.json
  packs/data/monsters-of-myth-bestiary.db/young-linnorm.json
  packs/data/pfs-season-2-bestiary.db/clouded-quartz-5-6.json
  packs/data/pfs-season-2-bestiary.db/clouded-quartz-7-8.json
  packs/data/pfs-season-2-bestiary.db/hand-of-urxehl-7-8.json
  packs/data/pfs-season-2-bestiary.db/hand-of-urxehl-9-10.json
  packs/data/pfs-season-3-bestiary.db/glurorchaes-7-8.json
  packs/data/pfs-season-3-bestiary.db/languid-isqulug.json
  packs/data/strength-of-thousands-bestiary.db/dimari-diji.json
  packs/data/strength-of-thousands-bestiary.db/tatterthread.json
  static/lang/re-en.json
Labels: pr: data update

#7669 Run `extractPacks all`
  packs/data/feats.db/tiger-slash.json
  packs/data/pfs-season-4-bestiary.db/witchs-eye.json
  packs/data/pfs-season-4-bestiary.db/witchs-gaze.json
  packs/data/pfs-season-4-bestiary.db/witchs-wing.json
Labels: pr: housekeeping

#7671 Fix malformed predicate in Tashlock Banyan
  packs/data/extinction-curse-bestiary.db/tashlock-banyan.json
Labels: pr: data update

#7645 Add interact (modular) weapon-auxiliary action
  src/module/actor/character/data/types.ts
  src/module/actor/character/document.ts
  src/module/actor/character/helpers.ts
  src/module/actor/character/sheet.ts
  src/module/actor/character/types.ts
  src/module/actor/modifiers.ts
  src/module/item/weapon/document.ts
  src/module/item/weapon/helpers.ts
  src/module/rules/rule-element/adjust-strike.ts
  src/module/rules/rule-element/ae-like.ts
  src/module/rules/rule-element/strike.ts
  src/scripts/handlebars.ts
  src/styles/actor/character/_actions.scss
  static/lang/action-en.json
  static/templates/actors/character/tabs/actions.hbs
Labels: pr: enhancement

#7674 Fix the traits of the harrow bloodline
  packs/data/classfeatures.db/bloodline-harrow.json
Labels: pr: data update

#7675 Rename Fated Not to Die action
  packs/data/actions.db/fated-not-to-die.json
  packs/data/backgrounds.db/shielded-fortune.json
Labels: pr: data update

#7680 Migrate feats dropped from non-system compendiums earlier than others
  src/module/actor/character/sheet.ts
Labels: pr: bugfix

#7663 Standardize lighting roll options
  packs/data/blood-lords-bestiary.db/shadow-worm.json
  packs/data/blood-lords-bestiary.db/shadowforged-guardian.json
  packs/data/blood-lords-bestiary.db/tenebric-giant.json
  packs/data/equipment.db/burnished-plating.json
  packs/data/extinction-curse-bestiary.db/smoldering-leopard.json
  packs/data/feats.db/shadowdancer-dedication.json
  packs/data/pathfinder-bestiary-2.db/shadow-giant.json
  packs/data/pathfinder-bestiary-2.db/soul-eater.json
  packs/data/spell-effects.db/spell-effect-inscrutable-mask.json
  packs/data/spell-effects.db/spell-effect-mirecloak.json
  static/lang/re-en.json
Labels: pr: data update

#7623 Add spell effects for several Psychic cantrips
  packs/data/spell-effects.db/spell-effect-contagious-idea-pleasant-thought.json
  packs/data/spell-effects.db/spell-effect-ghostly-shift.json
  packs/data/spell-effects.db/spell-effect-glimpse-weakness.json
  packs/data/spells.db/contagious-idea.json
  packs/data/spells.db/ghostly-shift.json
  packs/data/spells.db/glimpse-weakness.json
  packs/data/spells.db/telekinetic-rend.json
Labels: pr: data update

#7672 Add regeneration REs to some NPCs
  packs/data/kingmaker-bestiary.db/bloom-of-lamashtu.json
  packs/data/kingmaker-bestiary.db/fetch-behemoth.json
  packs/data/kingmaker-bestiary.db/fetch-stalker.json
  packs/data/kingmaker-bestiary.db/general-avinash-jurrg.json
  packs/data/kingmaker-bestiary.db/gurija.json
  packs/data/kingmaker-bestiary.db/hargulka.json
  packs/data/kingmaker-bestiary.db/irovettis-fetch.json
  packs/data/kingmaker-bestiary.db/nightmare-rook.json
  packs/data/kingmaker-bestiary.db/risen-fetch.json
  packs/data/pathfinder-bestiary-2.db/augur.json
  packs/data/pathfinder-bestiary-2.db/bythos.json
  packs/data/pathfinder-bestiary-2.db/cairn-linnorm.json
  packs/data/pathfinder-bestiary-2.db/doprillu.json
  packs/data/pathfinder-bestiary-2.db/eremite.json
  packs/data/pathfinder-bestiary-2.db/evangelist.json
  packs/data/pathfinder-bestiary-2.db/fire-yai.json
  packs/data/pathfinder-bestiary-2.db/fjord-linnorm.json
  packs/data/pathfinder-bestiary-2.db/ice-yai.json
  packs/data/pathfinder-bestiary-2.db/interlocutor.json
  packs/data/pathfinder-bestiary-2.db/marut.json
  packs/data/pathfinder-bestiary-2.db/norn.json
  packs/data/pathfinder-bestiary-2.db/onidoshi.json
  packs/data/pathfinder-bestiary-2.db/ostiarius.json
  packs/data/pathfinder-bestiary-2.db/planetar.json
  packs/data/pathfinder-bestiary-2.db/sacristan.json
  packs/data/pathfinder-bestiary-2.db/shoal-linnorm.json
  packs/data/pathfinder-bestiary-2.db/solar.json
  packs/data/pathfinder-bestiary-2.db/taiga-linnorm.json
  packs/data/pathfinder-bestiary-2.db/thrasfyr.json
  packs/data/pathfinder-bestiary-3.db/amalgamite.json
  packs/data/pathfinder-bestiary-3.db/draconal-black.json
  packs/data/pathfinder-bestiary-3.db/draconal-green.json
  packs/data/pathfinder-bestiary-3.db/draconal-red.json
  packs/data/pathfinder-bestiary-3.db/draconal-white.json
  packs/data/pathfinder-bestiary-3.db/draconal-yellow.json
  packs/data/pathfinder-bestiary-3.db/hatred-siktempora.json
  packs/data/pathfinder-bestiary-3.db/huldra.json
  packs/data/pathfinder-bestiary-3.db/love-siktempora.json
  packs/data/pathfinder-bestiary-3.db/mezlan.json
  packs/data/pathfinder-bestiary-3.db/misery-siktempora.json
  packs/data/pathfinder-bestiary-3.db/mobogo.json
  packs/data/pathfinder-bestiary-3.db/ouroboros.json
  packs/data/pathfinder-bestiary-3.db/tidehawk.json
  packs/data/pathfinder-bestiary-3.db/triumph-siktempora.json
  packs/data/pathfinder-bestiary.db/crag-linnorm.json
  packs/data/pathfinder-bestiary.db/dezullon.json
  packs/data/pathfinder-bestiary.db/ice-linnorm.json
  packs/data/pathfinder-bestiary.db/kolyarut.json
  packs/data/pathfinder-bestiary.db/morrigna.json
  packs/data/pathfinder-bestiary.db/mu-spore.json
  packs/data/pathfinder-bestiary.db/phoenix.json
  packs/data/pathfinder-bestiary.db/pit-fiend.json
  packs/data/pathfinder-bestiary.db/tarn-linnorm.json
  packs/data/pathfinder-bestiary.db/terotricus.json
  packs/data/pathfinder-bestiary.db/tor-linnorm.json
  packs/data/pathfinder-bestiary.db/treerazer.json
  packs/data/pathfinder-bestiary.db/wendigo.json
Labels: pr: data update

#7673 Automate Misery Siktempora's Slash the Suffering, Deinonychus' Predator's Advantage
  packs/data/pathfinder-bestiary-3.db/misery-siktempora.json
  packs/data/pathfinder-bestiary.db/deinonychus.json
Labels: pr: data update

#7679 Add regeneration RE to Effect: Bully the Departed
  packs/data/bestiary-effects.db/effect-bully-the-departed.json
  packs/data/pathfinder-bestiary-3.db/soul-skelm.json
  packs/data/pfs-season-4-bestiary.db/transformed-bremix-9-10.json
Labels: pr: data update

#7681 Add Effect: Bloom Regeneration
  packs/data/bestiary-effects.db/effect-bloom-regeneration.json
  packs/data/kingmaker-bestiary.db/darivan.json
Labels: pr: data update

#7682 Release Notes 4.11.2
  CHANGELOG.md
  package-lock.json
  package.json
  static/system.json
Labels: pr: housekeeping

#7684 Fix misspelling in Smog Wraith
  packs/data/outlaws-of-alkenstar-bestiary.db/smog-wraith.json
Labels: pr: data update

#7685 Fix choice set flag on Virtuosic Performer
  packs/data/feats.db/virtuosic-performer.json
Labels: pr: data update

#7689 Fix autofill options for regeneration deactivation
  src/module/item/sheet/rule-elements/fast-healing-form.ts
Labels: pr: bugfix

#7687 Ensure inline type parameter is sluggified
  src/module/system/text-editor.ts
Labels: pr: enhancement

#7692 Fix focus points added by Psychic Dedication
  packs/data/feats.db/psychic-dedication.json
Labels: pr: data update

#5881 Autoroll affliction damage on stage change
  src/module/item/affliction/data.ts
  src/module/item/affliction/document.ts
  src/module/item/affliction/sheet.ts
  src/module/system/damage/types.ts
  static/templates/items/affliction-details.hbs
Labels: pr: enhancement

#7698 Fix level and price of Armory bracelet (Major)
  packs/data/equipment.db/armory-bracelet-major.json
Labels: pr: data update

#7694 Add glass to weakness types. Add regeneration to Spellscar Fext.
  packs/data/impossible-lands-bestiary.db/spellscar-fext.json
  src/scripts/config/iwr.ts
  static/lang/en.json
Labels: pr: data update, pr: enhancement

#7693 Add regeneration to Jabberwock
  packs/data/kingmaker-bestiary.db/lesser-jabberwock.json
  packs/data/pathfinder-bestiary-2.db/jabberwock.json
Labels: pr: data update

#7701 Remove unnecessary persistent damage reference in greater flaming rune note
  static/lang/en.json
Labels: pr: data update

#7699 Fix refreshing interactive bounds of unlinked tokens when resized
  src/module/scene/token-document/document.ts
Labels: pr: bugfix

#7700 Update Hyldarf's Fang from Note to DamageDice. Localize remaining note.
  packs/data/equipment-effects.db/effect-hyldarfs-fang.json
  packs/data/equipment.db/hyldarfs-fang.json
Labels: pr: data update

#7703 Remove errata'd-away containers
  packs/data/equipment.db/anointed-waterskin.json
  packs/data/equipment.db/bandolier.json
  packs/data/equipment.db/belt-pouch.json
  packs/data/equipment.db/satchel.json
  packs/data/equipment.db/scroll-case.json
  packs/data/equipment.db/sheath.json
  packs/data/equipment.db/vial.json
Labels: pr: data update

#7706 Add NPCs from PFS Quest 14
  packs/data/pfs-season-4-bestiary.db/determined-dura-1-2.json
  packs/data/pfs-season-4-bestiary.db/determined-dura-3-4.json
  packs/data/pfs-season-4-bestiary.db/determined-halran-1-2.json
  packs/data/pfs-season-4-bestiary.db/determined-halran-3-4.json
  packs/data/pfs-season-4-bestiary.db/determined-rhenei-1-2.json
  packs/data/pfs-season-4-bestiary.db/determined-rhenei-3-4.json
  packs/data/pfs-season-4-bestiary.db/determined-thisnabel-1-2.json
  packs/data/pfs-season-4-bestiary.db/determined-thisnabel-3-4.json
  packs/data/pfs-season-4-bestiary.db/dura-1-2.json
  packs/data/pfs-season-4-bestiary.db/dura-3-4.json
  packs/data/pfs-season-4-bestiary.db/halran-1-2.json
  packs/data/pfs-season-4-bestiary.db/halran-3-4.json
  packs/data/pfs-season-4-bestiary.db/rhenei-1-2.json
  packs/data/pfs-season-4-bestiary.db/rhenei-3-4.json
  packs/data/pfs-season-4-bestiary.db/thisnabel-1-2.json
  packs/data/pfs-season-4-bestiary.db/thisnabel-3-4.json
  static/licenses/OpenGameLicense.md
Labels: pr: data entry, source: pathfinder society

#7708 Emit source when injected property validation fails
  src/module/rules/rule-element/base.ts
Labels: pr: enhancement

#7711 Fix Mechanical Torch label
  packs/data/equipment.db/mechanical-torch.json
Labels: pr: data update

#7696 Loosen string format requirement of choice set flags
  src/module/rules/rule-element/choice-set/rule-element.ts
Labels: pr: enhancement

#7704 Prune duplicate and lesser versions of property runes on each weapon
  src/module/item/weapon/document.ts
  src/module/item/weapon/helpers.ts
  src/module/rules/rule-element/adjust-strike.ts
Labels: pr: bugfix

#7710 Remove some empty lines from descriptions
  packs/data/equipment.db/the-big-sky.json
  packs/data/stolen-fate-bestiary.db/zashuvin.json
Labels: pr: data update

#7709 Fix typo in Thrill Seeker background
  packs/data/backgrounds.db/thrill-seeker.json
Labels: pr: data update

#7715 Fix mention of Fighter in Swashbuckler description
  packs/data/classes.db/swashbuckler.json
  packs/data/iconics.db/jirelle-level-1.json
  packs/data/iconics.db/jirelle-level-5.json
  packs/data/paizo-pregens.db/zathri.json
Labels: pr: data update

#7717 Add fast healing REs to Fleshforge Roots
  packs/data/pfs-season-1-bestiary.db/fleshforge-dreg-roots.json
  packs/data/pfs-season-1-bestiary.db/fleshforge-prototype-roots.json
Labels: pr: data update

#7716 Add fast healing to Effect: Ghonhatine Feed
  packs/data/bestiary-effects.db/effect-ghonhatine-feed.json
  packs/data/pathfinder-bestiary-2.db/ghonhatine.json
Labels: pr: data update

#7714 Add spell effect for Hymn of Healing
  packs/data/spell-effects.db/spell-effect-hymn-of-healing.json
  packs/data/spells.db/hymn-of-healing.json
Labels: pr: data update

#7718 Add aura effect for Aura of Growth
  packs/data/bestiary-effects.db/effect-aura-of-growth.json
  packs/data/strength-of-thousands-bestiary.db/dimari-diji.json
Labels: pr: data update

#7655 Add token light to Flame Tongue and Flame Tongue (Greater). Add aura effect to Flame Tongue (Greater).
  packs/data/equipment-effects.db/aura-flame-tongue-greater.json
  packs/data/equipment-effects.db/effect-flame-tongue-greater.json
  packs/data/equipment.db/flame-tongue-greater.json
  packs/data/equipment.db/flame-tongue.json
Labels: pr: data update

#7722 Remove Regeneration ability links from Hydra
  packs/data/gatewalkers-bestiary.db/alkoasha.json
  packs/data/kingmaker-bestiary.db/hooktongue-hydra.json
  packs/data/pathfinder-bestiary.db/hydra.json
Labels: pr: data update

#7720 Add damage overlay to Positive Attunement
  packs/data/spells.db/positive-attunement.json
Labels: pr: data update

#7713 Add and update REs for Blade Barrage
  packs/data/bestiary-effects.db/effect-blade-barrage.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/takatorra-daitengu-form.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/takatorra-level-13.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/takatorra-level-9.json
Labels: pr: data update

#7726 Fix Wellspring Mage Initiative localized string
  static/lang/re-en.json
Labels: pr: data update

#7727 Link Enfeebled condition in descriptions where missing
  packs/data/equipment.db/addlebrain.json
  packs/data/equipment.db/anarchic.json
  packs/data/equipment.db/axe-of-the-dwarven-lords.json
  packs/data/equipment.db/axiomatic.json
  packs/data/equipment.db/brimstone-fumes.json
  packs/data/equipment.db/celestial-hair.json
  packs/data/equipment.db/giant-scorpion-venom.json
  packs/data/equipment.db/hemlock.json
  packs/data/equipment.db/holy-avenger.json
  packs/data/equipment.db/holy.json
  packs/data/equipment.db/oblivion-essence.json
  packs/data/equipment.db/shadow-essence.json
  packs/data/equipment.db/unholy.json
Labels: pr: data update

#7731 Add setting to control visibility of `refreshFromCompendium` buttons
  src/global.d.ts
  src/module/item/sheet/base.ts
  src/module/system/settings/index.ts
Labels: pr: enhancement

#7725 Render actor when rule elements have start of turn updates
  src/module/encounter/combatant.ts
Labels: pr: bugfix

#7733 Include compendia from modules beginning with `pf2e` in early migrations
  src/module/actor/character/sheet.ts
Labels: pr: bugfix

#7732 Add/set icons for Bastion Plate and Fortress Plate
  packs/data/equipment.db/bastion-plate.json
  packs/data/equipment.db/fortress-plate.json
  static/icons/equipment/armor/bastion-plate.webp
Labels: pr: data update

#7730 Link conditions in descriptions where missing
  packs/data/equipment.db/addlebrain.json
  packs/data/equipment.db/alcohol.json
  packs/data/equipment.db/axe-of-the-dwarven-lords.json
  packs/data/equipment.db/black-lotus-extract.json
  packs/data/equipment.db/celestial-armor.json
  packs/data/equipment.db/celestial-hair.json
  packs/data/equipment.db/daylight-vapor.json
  packs/data/equipment.db/dazing-coil.json
  packs/data/equipment.db/deathcap-powder.json
  packs/data/equipment.db/demon-armor.json
  packs/data/equipment.db/dragon-bile.json
  packs/data/equipment.db/dread-ampoule-greater.json
  packs/data/equipment.db/dread-ampoule-lesser.json
  packs/data/equipment.db/dread-ampoule-major.json
  packs/data/equipment.db/dread-ampoule-moderate.json
  packs/data/equipment.db/false-death.json
  packs/data/equipment.db/fear-gem.json
  packs/data/equipment.db/fearweed.json
  packs/data/equipment.db/flawed-orb-of-gold-dragonkind.json
  packs/data/equipment.db/flayleaf.json
  packs/data/equipment.db/giant-wasp-venom.json
  packs/data/equipment.db/graveroot.json
  packs/data/equipment.db/greengut.json
  packs/data/equipment.db/grolna.json
  packs/data/equipment.db/hunting-spider-venom.json
  packs/data/equipment.db/hype.json
  packs/data/equipment.db/kings-sleep.json
  packs/data/equipment.db/mage-bane.json
  packs/data/equipment.db/malyass-root-paste.json
  packs/data/equipment.db/mindfog-mist.json
  packs/data/equipment.db/nauseating-snare.json
  packs/data/equipment.db/nightmare-salt.json
  packs/data/equipment.db/pact-bound-pistol.json
  packs/data/equipment.db/plasma-hype.json
  packs/data/equipment.db/putrescent-glob.json
  packs/data/equipment.db/refined-pesh.json
  packs/data/equipment.db/repulsion-resin.json
  packs/data/equipment.db/robe-of-the-archmagi-greater.json
  packs/data/equipment.db/robe-of-the-archmagi.json
  packs/data/equipment.db/shot-of-the-first-vault.json
  packs/data/equipment.db/spectral-nightshade.json
  packs/data/equipment.db/spell-eating-pitch.json
  packs/data/equipment.db/spider-root.json
  packs/data/equipment.db/spore-sap.json
  packs/data/equipment.db/stunning-snare.json
  packs/data/equipment.db/terrifying-ammunition.json
  packs/data/equipment.db/the-whispering-reeds.json
  packs/data/equipment.db/vermin-repellent-agent-greater.json
  packs/data/equipment.db/vermin-repellent-agent-lesser.json
  packs/data/equipment.db/vermin-repellent-agent-major.json
  packs/data/equipment.db/vermin-repellent-agent-moderate.json
  packs/data/equipment.db/wand-of-hopeless-night-2nd-level-spell.json
Labels: pr: data update

#7729 Fix text formatting for Insight Coffee Pumpkin Spice
  packs/data/equipment.db/insight-coffee-greater.json
  packs/data/equipment.db/insight-coffee-lesser.json
  packs/data/equipment.db/insight-coffee-moderate.json
Labels: pr: data update

#7728 Update REs for Boastful Hunter
  packs/data/equipment.db/boastful-hunter.json
  static/lang/re-en.json
Labels: pr: data update

#7723 Update REs for Planar Fast Healing. Add fast healing REs to Ofalth Zombie.
  packs/data/abomination-vaults-bestiary.db/ysondkhelir.json
  packs/data/agents-of-edgewatch-bestiary.db/ofalth-zombie.json
  packs/data/kingmaker-bestiary.db/leng-envoy.json
  packs/data/pathfinder-bestiary-2.db/denizen-of-leng.json
Labels: pr: data update

#7735 Add tab for orphaned party items
  src/module/actor/party/document.ts
  src/module/actor/party/sheet.ts
  src/module/actor/party/types.ts
  src/styles/actor/party/_index.scss
  static/lang/en.json
  static/templates/actors/party/sheet.hbs
Labels: pr: enhancement

#7737 Fix statistic extend data for initiative and spellcasting
  src/module/actor/character/document.ts
  src/module/system/statistic/index.ts
Labels: pr: bugfix

#7724 Fix stacking modifiers in spell damage
  src/module/item/spell/document.ts
  src/module/system/damage/formula.ts
  src/module/system/damage/modifier-dialog.ts
  src/module/system/damage/types.ts
  src/module/system/damage/weapon.ts
Labels: pr: bugfix, pr: refactor

#7747 Fix missing localized strings
  packs/data/monsters-of-myth-bestiary.db/ainamuuren.json
  packs/data/night-of-the-gray-death-bestiary.db/chakanaj.json
  packs/data/pfs-season-3-bestiary.db/fipp-the-prophet.json
  static/lang/re-en.json
Labels: pr: data update

#7746 Add frequencies for month and year.
  packs/data/agents-of-edgewatch-bestiary.db/lie-master.json
  packs/data/extinction-curse-bestiary.db/kimilekki.json
  packs/data/feats.db/become-thought.json
  packs/data/pathfinder-bestiary-3.db/hekatonkheires-titan.json
  packs/data/pathfinder-bestiary-3.db/tidehawk.json
  packs/data/pathfinder-bestiary.db/barghest.json
  packs/data/pathfinder-bestiary.db/glabrezu.json
  packs/data/pathfinder-bestiary.db/phoenix.json
  packs/data/pfs-season-2-bestiary.db/onyx-alliance-agent-5-6.json
  packs/data/pfs-season-2-bestiary.db/onyx-alliance-agent-7-8.json
  packs/data/strength-of-thousands-bestiary.db/dimari-diji.json
  src/scripts/config/index.ts
  static/lang/en.json
Labels: pr: data update, pr: enhancement

#7739 Add effects for Numbing Tonic
  packs/data/equipment-effects.db/effect-numbing-tonic-greater.json
  packs/data/equipment-effects.db/effect-numbing-tonic-lesser.json
  packs/data/equipment-effects.db/effect-numbing-tonic-major.json
  packs/data/equipment-effects.db/effect-numbing-tonic-minor.json
  packs/data/equipment-effects.db/effect-numbing-tonic-moderate.json
  packs/data/equipment-effects.db/effect-numbing-tonic-true.json
  packs/data/equipment.db/numbing-tonic-greater.json
  packs/data/equipment.db/numbing-tonic-lesser.json
  packs/data/equipment.db/numbing-tonic-major.json
  packs/data/equipment.db/numbing-tonic-minor.json
  packs/data/equipment.db/numbing-tonic-moderate.json
  packs/data/equipment.db/numbing-tonic-true.json
Labels: pr: data update

#7740 Add automation for Voice of Authority
  packs/data/feats.db/voice-of-authority.json
Labels: pr: data update

#7742 Remove some extraneous strong tags
  packs/data/agents-of-edgewatch-bestiary.db/fayati-alummur.json
  packs/data/agents-of-edgewatch-bestiary.db/shikwashim-mercenary.json
  packs/data/ancestries.db/anadi.json
  packs/data/equipment.db/spider-chair.json
  packs/data/pathfinder-society-boons.db/academic-conference.json
  packs/data/pathfinder-society-boons.db/adversary-lore.json
  packs/data/pathfinder-society-boons.db/beginnings-and-endings.json
  packs/data/pathfinder-society-boons.db/bequethal.json
  packs/data/pathfinder-society-boons.db/bring-them-back-alive.json
  packs/data/pathfinder-society-boons.db/charitable-adventure.json
  packs/data/pathfinder-society-boons.db/crafters-workshop.json
  packs/data/pathfinder-society-boons.db/heroic-inspiration.json
  packs/data/pathfinder-society-boons.db/hireling-expert.json
  packs/data/pathfinder-society-boons.db/hireling-professional.json
  packs/data/pathfinder-society-boons.db/hireling.json
  packs/data/pathfinder-society-boons.db/home-region.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/calcifda.json
Labels: pr: data update

#7756 Create a `SimpleStatistic` class for use with non-check statistics
  src/module/system/statistic/index.ts
Labels: pr: refactor

#7757 Fix breakdown tag for weapon persistent damage
  src/module/item/spell/document.ts
  src/module/system/damage/formula.ts
  src/module/system/damage/weapon.ts
Labels: pr: bugfix, pr: refactor

#7754 Remove some Fast Healing ability links
  packs/data/bestiary-effects.db/effect-bond-in-light.json
  packs/data/extinction-curse-bestiary.db/iffdahsil.json
  packs/data/extinction-curse-bestiary.db/obsidian-golem.json
  packs/data/pathfinder-bestiary-2.db/bastion-archon.json
  packs/data/pathfinder-bestiary.db/crimson-worm.json
  packs/data/pathfinder-bestiary.db/ofalth.json
  packs/data/pfs-season-1-bestiary.db/skeleton-corporal.json
  packs/data/strength-of-thousands-bestiary.db/gluttonworm.json
Labels: pr: data update

#7760 Update NPM dependencies
  package-lock.json
  package.json
Labels: pr: housekeeping

#7765 Ensure NPC self roll options are retrieved for damage rolls from sheets
  src/module/actor/helpers.ts
Labels: pr: bugfix

#7755 Add effects for Soul Crush and Soul Lock
  packs/data/bestiary-effects.db/effect-soul-crush-healing.json
  packs/data/bestiary-effects.db/effect-soul-lock-healing.json
  packs/data/pathfinder-bestiary-2.db/thanadaemon.json
  packs/data/pathfinder-bestiary.db/cacodaemon.json
Labels: pr: data update

#7758 Add functionality to diverse lore feat
  packs/data/feats.db/diverse-lore.json
Labels: pr: data update

#7750 Fix intro of the harrower archetype
  packs/data/journals.db/archetypes.json
Labels: pr: data update

#7751 Add Effect: Zinba Restoration
  packs/data/bestiary-effects.db/effect-zinba-restoration.json
  packs/data/mwangi-expanse-bestiary.db/zinba.json
Labels: pr: data update

#7752 Remove Fast Healing ability links from Jiang-Shi. Add toggle for Warped Fulu.
  packs/data/bestiary-family-ability-glossary.db/vampire-jiang-shi-basic-warped-fulu.json
  packs/data/book-of-the-dead-bestiary.db/minister-of-tumult.json
  packs/data/book-of-the-dead-bestiary.db/provincial-jiang-shi.json
  packs/data/stolen-fate-bestiary.db/kannijo.json
Labels: pr: data update

#7767 Fix some text formatting
  packs/data/abomination-vaults-bestiary.db/drow-warden.json
  packs/data/equipment.db/gallows-tooth.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/ji-yook-gumiho-form.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/ji-yook-level-13.json
  packs/data/fists-of-the-ruby-phoenix-bestiary.db/ji-yook-level-9.json
Labels: pr: data update

#7759 Add automation for Callow May
  packs/data/feats.db/callow-may.json
  packs/data/feats.db/impressive-landing.json
Labels: pr: data update

#7761 Add effect for Hunter's Brooch
  packs/data/equipment-effects.db/effect-hunters-brooch.json
  packs/data/equipment.db/hunters-brooch.json
Labels: pr: data update

#7762 Fix usage of Earthbinding rune
  packs/data/equipment.db/earthbinding.json
Labels: pr: data update

#7753 Move common red section sheet css to new file
  src/styles/actor/_red-action-boxes.scss
  src/styles/actor/familiar/_index.scss
  src/styles/actor/hazard/_actions.scss
  src/styles/actor/hazard/_index.scss
  src/styles/actor/npc/_index.scss
  static/templates/actors/hazard/sheet.hbs
Labels: pr: refactor, ui/ux

#7688 Fix typo in Eerie Flicker
  packs/data/feats.db/eerie-flicker.json
Labels: pr: data update

#7691 Change treasure keys to equipment
  packs/data/abomination-vaults-bestiary.db/caliddo-haruvex.json
  packs/data/abomination-vaults-bestiary.db/jafaki.json
  packs/data/abomination-vaults-bestiary.db/nyzuros.json
  packs/data/abomination-vaults-bestiary.db/padli.json
  packs/data/abomination-vaults-bestiary.db/quara-orshendiel.json
  packs/data/abomination-vaults-bestiary.db/salaisa-malthulas.json
  packs/data/crown-of-the-kobold-king-bestiary.db/ygrik.json
  packs/data/fall-of-plaguestone.db/hallod.json
  packs/data/fall-of-plaguestone.db/lord-nar.json
  packs/data/fall-of-plaguestone.db/vilree.json
  packs/data/pfs-season-2-bestiary.db/mother-forsythe-3-4.json
  packs/data/pfs-season-2-bestiary.db/mother-forsythe-5-6.json
Labels: pr: data update

#7597 Automate Lifeblood's Call
  packs/data/feats.db/lifebloods-call.json
Labels: pr: data update

#7686 Add hazards for PFS Scenario 4-12
  packs/data/pfs-season-4-bestiary.db/butterflys-breath-trap-1-2.json
  packs/data/pfs-season-4-bestiary.db/butterflys-breath-trap-3-4.json
Labels: pr: data entry, source: pathfinder society

#7690 Condense Divine Vessel effects
  packs/data/blood-lords-bestiary.db/sorvinaesen.json
  packs/data/night-of-the-gray-death-bestiary.db/worm-prophet.json
  packs/data/spell-effects.db/spell-effect-divine-vessel-9th-level-chaotic.json
  packs/data/spell-effects.db/spell-effect-divine-vessel-9th-level.json
  packs/data/spell-effects.db/spell-effect-divine-vessel-chaotic.json
  packs/data/spell-effects.db/spell-effect-divine-vessel.json
  packs/data/spells.db/divine-vessel.json
  static/lang/re-en.json
Labels: pr: data update

#7764 Add effect and leveled damage link for Incendiary Aura
  packs/data/spell-effects.db/spell-effect-incendiary-aura.json
  packs/data/spells.db/incendiary-aura.json
Labels: pr: data update

#7769 Add variants to Lay on Hands and Touch of Corruption
  packs/data/spells.db/lay-on-hands.json
  packs/data/spells.db/touch-of-corruption.json
Labels: pr: data update

#7670 Implement hindering and ponderous penalties
  src/module/actor/character/document.ts
  src/module/actor/character/helpers.ts
  src/module/actor/creature/document.ts
Labels: pr: enhancement

#7772 Drop support for "mundane-attack" selector
  build/run-migration.ts
  packs/data/bestiary-effects.db/effect-susceptible-to-mockery-critical-failure.json
  packs/data/blood-lords-bestiary.db/harmony-in-agony.json
  packs/data/equipment-effects.db/effect-cognitive-mutagen-greater.json
  packs/data/equipment-effects.db/effect-cognitive-mutagen-lesser.json
  packs/data/equipment-effects.db/effect-cognitive-mutagen-major.json
  packs/data/equipment-effects.db/effect-cognitive-mutagen-moderate.json
  packs/data/equipment.db/warriors-training-ring.json
  packs/data/feats.db/martial-experience.json
  packs/data/feats.db/triggerbrand-salvo.json
  src/module/actor/character/document.ts
  src/module/actor/helpers.ts
  src/module/migration/migrations/838-strike-attack-roll-selector.ts
  src/module/migration/migrations/index.ts
  src/module/migration/runner/base.ts
  src/module/system/action-macros/helpers.ts
Labels: pr: data migration, pr: data update

#7768 Fix localization of group labels on armor sheet
  src/scripts/config/index.ts
  static/templates/items/armor-details.hbs
Labels: pr: bugfix

#7743 Show result formula for damage roll dialog
  src/module/system/damage/modifier-dialog.ts
  static/templates/chat/damage/damage-modifier-dialog.hbs
Labels: pr: enhancement

#7775 Remove unused `TokenImage` type
  src/module/canvas/token/object.ts
Labels: pr: types update

#7773 Make some NPC cooldown rolls blind
  packs/data/age-of-ashes-bestiary.db/belmazog.json
  packs/data/age-of-ashes-bestiary.db/candlarons-echo.json
  packs/data/agents-of-edgewatch-bestiary.db/frefferth.json
  packs/data/agents-of-edgewatch-bestiary.db/hundun-chaos-mage.json
  packs/data/bestiary-family-ability-glossary.db/vampire-jiang-shi-basic-jiang-shi-vulnerabilities.json
  packs/data/bestiary-family-ability-glossary.db/vampire-vetalarana-basic-vetalarana-vulnerabilities.json
  packs/data/blood-lords-bestiary.db/granite-vulture.json
  packs/data/blood-lords-bestiary.db/kemnebi.json
  packs/data/blood-lords-bestiary.db/urbulinex.json
  packs/data/blood-lords-bestiary.db/vampire-taviah.json
  packs/data/book-of-the-dead-bestiary.db/fluxwraith.json
  packs/data/book-of-the-dead-bestiary.db/ghost-pirate-captain.json
  packs/data/book-of-the-dead-bestiary.db/hungry-ghost.json
  packs/data/book-of-the-dead-bestiary.db/hunter-wight.json
  packs/data/book-of-the-dead-bestiary.db/ice-mummy.json
  packs/data/book-of-the-dead-bestiary.db/last-guard.json
  packs/data/book-of-the-dead-bestiary.db/llorona.json
  packs/data/book-of-the-dead-bestiary.db/minister-of-tumult.json
  packs/data/book-of-the-dead-bestiary.db/provincial-jiang-shi.json
  packs/data/book-of-the-dead-bestiary.db/prowler-wight.json
  packs/data/book-of-the-dead-bestiary.db/relictner-eroder.json
  packs/data/book-of-the-dead-bestiary.db/shadern-immolator.json
  packs/data/book-of-the-dead-bestiary.db/siabrae.json
  packs/data/book-of-the-dead-bestiary.db/vetalarana-emergent.json
  packs/data/book-of-the-dead-bestiary.db/vetalarana-manipulator.json
  packs/data/book-of-the-dead-bestiary.db/wight-commander.json
  packs/data/gatewalkers-bestiary.db/elder-thing-researcher.json
  packs/data/gatewalkers-bestiary.db/elder-thing.json
  packs/data/kingmaker-bestiary.db/fionn.json
  packs/data/kingmaker-bestiary.db/hateful-hermit.json
  packs/data/kingmaker-bestiary.db/xae.json
  packs/data/malevolence-bestiary.db/ioseff-xarwin.json
  packs/data/monsters-of-myth-bestiary.db/crystal-pin.json
  packs/data/monsters-of-myth-bestiary.db/kuworsys.json
  packs/data/monsters-of-myth-bestiary.db/quaking-slither.json
  packs/data/mwangi-expanse-bestiary.db/sié-goluo.json
  packs/data/night-of-the-gray-death-bestiary.db/guillotine-golem.json
  packs/data/outlaws-of-alkenstar-bestiary.db/gremlin-horde.json
  packs/data/pathfinder-bestiary-2.db/duneshaker-solifugid.json
  packs/data/pathfinder-bestiary-2.db/frost-worm.json
  packs/data/pfs-season-2-bestiary.db/firestorm-brimorak.json
  packs/data/pfs-season-4-bestiary.db/transformed-narcela-7-8.json
  packs/data/pfs-season-4-bestiary.db/transformed-narcela-9-10.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/arboreal-tar-tree.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/hegremon.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/pakano-level-12.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/summer-hora-queen.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/summer-hora.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/tar-zombie-mammoth.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/tar-zombie-predator.json
  packs/data/quest-for-the-frozen-flame-bestiary.db/tar-zombie-snatcher.json
  packs/data/stolen-fate-bestiary.db/kannijo.json
  packs/data/strength-of-thousands-bestiary.db/alate-ant.json
  packs/data/strength-of-thousands-bestiary.db/baaupa-mdoudu.json
  packs/data/strength-of-thousands-bestiary.db/gluttonworm.json
Labels: pr: data update

#7778 Add fast healing RE to Imentesh
  packs/data/pathfinder-bestiary-2.db/imentesh.json
Labels: pr: data update

#7781 Slightly narrow class-feat compendium browser prefilters for PC sheet
  src/module/actor/character/document.ts
  src/module/actor/character/feats.ts
Labels: pr: enhancement

#7785 Fix value of `Migration838StrikeAttackRollSelector.version`
  src/module/migration/migrations/838-strike-attack-roll-selector.ts
Labels: pr: bugfix

#7786 Make frivolous aesthetic tweaks of code slice for blog screenshot
  src/module/item/weapon/document.ts
Labels: pr: refactor

#7771 Refactor skills to use Statistic
  src/module/actor/base.ts
  src/module/actor/character/document.ts
  src/module/actor/creature/data.ts
  src/module/actor/creature/document.ts
  src/module/actor/familiar/data.ts
  src/module/actor/familiar/document.ts
  src/module/actor/npc/data.ts
  src/module/actor/npc/document.ts
  src/module/actor/npc/sheet.ts
  src/module/rules/rule-element/battle-form/rule-element.ts
  src/module/system/statistic/data.ts
  src/module/system/statistic/index.ts
Labels: pr: refactor

#7787 Convert perception to statistic
  src/module/actor/character/document.ts
  src/module/actor/creature/data.ts
  src/module/actor/creature/document.ts
  src/module/actor/data/base.ts
  src/module/actor/familiar/data.ts
  src/module/actor/familiar/document.ts
  src/module/actor/familiar/sheet.ts
  src/module/actor/npc/document.ts
  src/module/actor/npc/sheet.ts
  src/module/system/statistic/index.ts
  static/lang/en.json
  static/templates/actors/familiar-sheet.hbs
Labels: pr: bugfix, pr: refactor

#7788 Fix recent regression with perception labels
  src/module/actor/character/document.ts
  src/module/actor/familiar/document.ts
  src/module/actor/npc/document.ts
  src/module/system/statistic/index.ts
Labels: pr: bugfix

#7770 Add effect for Sanguine Rain. Remove some Fast Healing ability links. Add Fast Healing to Calathgar.
  packs/data/bestiary-effects.db/effect-sanguine-rain.json
  packs/data/extinction-curse-bestiary.db/vitalia.json
  packs/data/pathfinder-bestiary-2.db/calathgar.json
  packs/data/pathfinder-bestiary-2.db/petitioner-abaddon.json
  packs/data/pathfinder-bestiary-2.db/petitioner-positive-energy-plane.json
Labels: pr: data update

#7779 Automate Skinstitch Flay damage. Add Pest Haven effect.
  packs/data/agents-of-edgewatch-bestiary.db/skitterstitch.json
  packs/data/bestiary-effects.db/effect-pest-haven.json
  packs/data/pathfinder-bestiary-3.db/skinstitch.json
Labels: pr: data update

#7782 Add Sneak Attack REs for Barrel Launcher, Clockwork Chopper, Clockwork Injector
  packs/data/agents-of-edgewatch-bestiary.db/barrel-launcher.json
  packs/data/agents-of-edgewatch-bestiary.db/clockwork-chopper.json
  packs/data/agents-of-edgewatch-bestiary.db/clockwork-injector.json
Labels: pr: data update

#7783 Update REs for Unbalancing Blow
  packs/data/age-of-ashes-bestiary.db/mialari-docur.json
  packs/data/agents-of-edgewatch-bestiary.db/clockwork-assassin.json
  packs/data/agents-of-edgewatch-bestiary.db/grick.json
  packs/data/agents-of-edgewatch-bestiary.db/norgorberite-poisoner.json
  packs/data/feats.db/unbalancing-blow.json
  packs/data/kingmaker-bestiary.db/chief-sootscale.json
  packs/data/paizo-pregens.db/kaako-ashfeather.json
  packs/data/troubles-in-otari-bestiary.db/omblin-leadbuster.json
Labels: pr: data update

#7789 Assemble feat grants in document
  src/module/actor/character/data/types.ts
  src/module/actor/character/feats.ts
  src/module/item/feat/document.ts
  static/templates/actors/character/partials/granted-feat.hbs
  static/templates/actors/character/tabs/feats.hbs
Labels: pr: refactor

#7792 Remove extraneous treasure key
  packs/data/abomination-vaults-bestiary.db/padli.json
Labels: pr: data update

#7795 Remove `selected` handlebars helper
  src/scripts/handlebars.ts
  static/templates/actors/character/tabs/actions.hbs
Labels: pr: bugfix

#7796 Add effect for Champion's Resistance. Remove duplicate Retributive Strike from Seelah (Level 5).
  packs/data/actions.db/glimpse-of-redemption.json
  packs/data/actions.db/liberating-step.json
  packs/data/actions.db/retributive-strike.json
  packs/data/feat-effects.db/effect-champions-resistance.json
  packs/data/iconics.db/seelah-level-1.json
  packs/data/iconics.db/seelah-level-5.json
Labels: pr: data update

#7797 Refactor character feat assignment to FeatGroup
  src/module/actor/character/feats.ts
Labels: pr: refactor

#7801 Clean up feat-browser pre-filtering code
  src/global.d.ts
  src/module/actor/character/data/sheet.ts
  src/module/actor/character/feats.ts
  src/module/actor/character/sheet.ts
  static/templates/actors/character/tabs/feats.hbs
Labels: pr: bugfix, pr: refactor

#6476 Allow GM to select allowed sources for the compendium browser
  src/global.d.ts
  src/module/apps/compendium-browser/data.ts
  src/module/apps/compendium-browser/index.ts
  src/module/apps/compendium-browser/tabs/action.ts
  src/module/apps/compendium-browser/tabs/bestiary.ts
  src/module/apps/compendium-browser/tabs/equipment.ts
  src/module/apps/compendium-browser/tabs/feat.ts
  src/module/apps/compendium-browser/tabs/hazard.ts
  src/module/apps/compendium-browser/tabs/spell.ts
  src/module/system/settings/index.ts
  src/styles/packs/_settings.scss
  static/lang/en.json
  static/templates/compendium-browser/browser-settings.hbs
Labels: pr: enhancement

#7803 Fix level of Weapon Mastery in Swashbuckler description
  packs/data/classes.db/swashbuckler.json
  packs/data/iconics.db/jirelle-level-1.json
  packs/data/iconics.db/jirelle-level-5.json
  packs/data/paizo-pregens.db/zathri.json
Labels: pr: data update

#7804 Update damage for Bone Spray and Charged Javelin. Fix typo in Grievous.
  packs/data/equipment.db/grievous.json
  packs/data/spells.db/bone-spray.json
  packs/data/spells.db/charged-javelin.json
Labels: pr: data update

#7802 Reorganize feat partials and bonus feats creation
  src/module/actor/character/data/sheet.ts
  src/module/actor/character/feats.ts
  src/module/actor/character/sheet.ts
  src/scripts/register-templates.ts
  static/templates/actors/character/partials/feat-slot.hbs
  static/templates/actors/character/partials/granted-feat.hbs
  static/templates/actors/character/tabs/feats.hbs
Labels: pr: refactor

#7810 Update description of Chromatic Wall to include links
  packs/data/spells.db/chromatic-wall.json
Labels: pr: data update

#7808 Skip vehicles when converting item sizes relative to owning actors
  src/module/item/physical/document.ts
Labels: pr: bugfix

#7811 Consolidate label reductions in rule elements to single method
  src/module/rules/rule-element/adjust-modifier.ts
  src/module/rules/rule-element/base.ts
  src/module/rules/rule-element/battle-form/rule-element.ts
  src/module/rules/rule-element/damage-dice.ts
  src/module/rules/rule-element/ephemeral-effect.ts
  src/module/rules/rule-element/fast-healing.ts
  src/module/rules/rule-element/flat-modifier.ts
  src/module/rules/rule-element/roll-option.ts
  src/module/rules/rule-element/striking.ts
  src/module/rules/rule-element/weapon-potency.ts
Labels: pr: refactor

#7807 Preserve mystified names of macros generated from physical items
  src/module/apps/hotbar.ts
  src/scripts/macros/hotbar.ts
Labels: pr: bugfix

#7809 Add Fast Healing effect to Field of Undeath auras
  packs/data/bestiary-effects.db/effect-field-of-undeath.json
  packs/data/book-of-the-dead-bestiary.db/deathless-acolyte-of-urgathoa.json
  packs/data/book-of-the-dead-bestiary.db/deathless-hierophant-of-urgathoa.json
  packs/data/pfs-season-4-bestiary.db/seldrick-dralston-1-2.json
  packs/data/pfs-season-4-bestiary.db/seldrick-dralston-3-4.json
Labels: pr: data update

#7816 Move trait descriptions to @scripts/config/traits.ts
  src/scripts/config/index.ts
  src/scripts/config/traits.ts
  static/lang/en.json
Labels: pr: data update, pr: refactor

#7818 Fix spelling of Reverberation
  packs/data/pfs-season-3-bestiary.db/arabuk-yearling.json
  packs/data/pfs-season-3-bestiary.db/arabuk.json
  packs/data/pfs-season-3-bestiary.db/mature-arabuk.json
Labels: pr: data update

#7821 Fix alignement of The Rakshasa harrow card
  packs/data/equipment.db/the-rakshasa.json
Labels: pr: data update

#7820 Prevent partial statements from including NaN in the values
  src/module/system/predication.ts
Labels: pr: bugfix
