Repository foundryvtt/pf2e, pull requests merged in 2023-04, with the labels that each got.

#7225 Adjust "Formulated Sunlight" quantity and charges to match rations
  packs/data/equipment.db/formulated-sunlight.json
Labels: pr: data update

#7221 Fix toggling of "dead" overlay from status effects HUD
  src/module/actor/conditions.ts
  src/module/canvas/status-effects.ts
Labels: pr: bugfix

#7224 Fix type and usage of `EncounterPF2e#combatants`
  src/module/apps/sidebar/encounter-tracker.ts
  src/module/encounter/document.ts
Labels: pr: bugfix

#7232 Update Tiger's Claw Note RE to DamageDice
  packs/data/equipment.db/tigers-claw.json
Labels: pr: data update

#7236 Add damage type to Sparkblade lightning
  packs/data/equipment.db/sparkblade.json
Labels: pr: data update

#7238 Fix setting homebrew base weapon types
  src/module/item/physical/document.ts
  src/module/item/weapon/document.ts
Labels: pr: bugfix

#7239 Add NPCs and other items from PFS 4-11
  packs/data/adventure-specific-actions.db/explore-the-electric-castle.json
  packs/data/campaign-effects.db/effect-heart-break.json
  packs/data/equipment.db/boastful-hunter.json
  packs/data/equipment.db/hallajin-key.json
  packs/data/pfs-season-4-bestiary.db/coven-grave-hag.json
  packs/data/pfs-season-4-bestiary.db/coven-winter-hag.json
  packs/data/pfs-season-4-bestiary.db/deimostride-7-8.json
  packs/data/pfs-season-4-bestiary.db/deimostride-9-10.json
  packs/data/pfs-season-4-bestiary.db/elite-animate-dream-pfs-4-11.json
  packs/data/pfs-season-4-bestiary.db/elite-palace-skelm-pfs-4-11.json
  packs/data/pfs-season-4-bestiary.db/faded-animate-dream.json
  packs/data/pfs-season-4-bestiary.db/in-the-witchs-clutches.json
  packs/data/pfs-season-4-bestiary.db/in-the-witchs-grasp.json
  packs/data/pfs-season-4-bestiary.db/transformed-bremix-7-8.json
  packs/data/pfs-season-4-bestiary.db/transformed-bremix-9-10.json
  packs/data/pfs-season-4-bestiary.db/transformed-narcela-7-8.json
  packs/data/pfs-season-4-bestiary.db/transformed-narcela-9-10.json
  packs/data/pfs-season-4-bestiary.db/urdefhan-blood-mage-pfs-4-11.json
  packs/data/pfs-season-4-bestiary.db/urdefhan-high-tormentor-pfs-4-11.json
Labels: pr: data entry, source: pathfinder society

#7245 Release Notes 4.10.2
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Labels: pr: housekeeping

#7247 Fix generation of magic weapon names
  src/module/item/weapon/document.ts
Labels: pr: bugfix

#7248 Release Notes 4.10.3
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Labels: pr: housekeeping

#7249 Fix Sense selectors for low-light vision
  packs/data/equipment-effects.db/effect-stalk-goggles-major.json
  packs/data/equipment.db/hallajin-key.json
  packs/data/equipment.db/umbral-wings.json
  packs/data/feats.db/canopy-sight.json
  packs/data/feats.db/stargazers-eyes.json
Labels: pr: data update

#7243 Use core icons for some persistent damage types
  src/module/system/damage/values.ts
Labels: ui/ux

#7229 Fix some quirks and tweak styling of effects panel info boxes
  src/module/apps/effects-panel.ts
  src/styles/system/_effects-panel.scss
  static/templates/system/effects-panel.hbs
Labels: pr: bugfix, ui/ux

#7244 Allow more actor sheet images to be shown to players
  src/styles/actor/_index.scss
  src/styles/actor/character/_character.scss
  src/styles/actor/familiar/_index.scss
  src/styles/actor/hazard/_header.scss
  src/styles/actor/loot/_index.scss
  src/styles/actor/npc/_index.scss
  src/styles/actor/vehicle/_index.scss
  static/templates/actors/character/tabs/general.hbs
  static/templates/actors/familiar-sheet.hbs
  static/templates/actors/hazard/partials/header.hbs
  static/templates/actors/loot/sidebar.hbs
  static/templates/actors/npc/partials/sidebar.hbs
  static/templates/actors/vehicle/tabs/vehicle-details.hbs
Labels: pr: enhancement

#7227 Move `CONDITION_SLUGS` and related types to @item/condition
  src/module/actor/base.ts
  src/module/actor/data/iwr.ts
  src/module/actor/values.ts
  src/module/canvas/status-effects.ts
  src/module/item/condition/data.ts
  src/module/item/condition/document.ts
  src/module/item/condition/index.ts
  src/module/item/condition/types.ts
  src/module/item/condition/values.ts
  src/module/system/conditions/manager.ts
  src/scripts/config/index.ts
Labels: pr: refactor

#7267 Add some firebrands spell icons
  packs/data/spells.db/blinding-foam.json
  packs/data/spells.db/bursting-bloom.json
  packs/data/spells.db/confetti-cloud.json
  packs/data/spells.db/cutting-insult.json
  packs/data/spells.db/fashionista.json
  packs/data/spells.db/firework-blast.json
  packs/data/spells.db/flashy-disappearance.json
  packs/data/spells.db/helpful-steps.json
  packs/data/spells.db/illusory-shroud.json
  packs/data/spells.db/instant-parade.json
  static/icons/spells/blinding-foam.webp
  static/icons/spells/bursting-bloom.webp
  static/icons/spells/confetti-cloud.webp
  static/icons/spells/cutting-insult.webp
  static/icons/spells/fasionista.webp
  static/icons/spells/firework-blast.webp
  static/icons/spells/flashy-disappearance.webp
  static/icons/spells/helpful-steps.webp
  static/icons/spells/illusory-shroud.webp
  static/icons/spells/instant-parade.webp
Labels: pr: data update

#7219 Extend automation of Volley trait to NPCs
  src/module/actor/character/document.ts
  src/module/actor/character/helpers.ts
  src/module/actor/creature/helpers.ts
  src/module/actor/helpers.ts
  src/module/actor/npc/strike-attack-traits.ts
Labels: pr: enhancement, pr: refactor

#7274 Fix perception label in modifiers dialog
  src/module/actor/creature/document.ts
  src/module/system/statistic/index.ts
Labels: pr: bugfix

#7278 Tone down marketing language in README.md
  README.md
Labels: pr: housekeeping

#7282 Fix expansion of item summaries on PC effects tab
  static/templates/actors/partials/conditions.hbs
Labels: pr: bugfix

#7283 Link party actor by default
  src/module/actor/base.ts
  src/module/scene/token-document/document.ts
Labels: pr: enhancement

#7284 Include orichalcum in material damage effects
  src/scripts/config/damage.ts
Labels: pr: bugfix

#7265 Fix name of Devrin's Dazzling Diversion
  packs/data/feats.db/devrins-dazzling-diversion.json
Labels: pr: data update

#7230 Revert "Fix Dread Marshal Stance extra damage to be on strike damage"
  packs/data/feat-effects.db/effect-dread-marshal-stance.json
Labels: pr: data update

#7277 Fix Sanguine Fang (Major) spell DC description
  packs/data/equipment.db/sanguine-fang-major.json
Labels: pr: data update

#7276 Update more NPCs from Notes to DamageDice
  packs/data/bestiary-family-ability-glossary.db/greater-barghest-mutation-poison-fangs.json
  packs/data/blood-lords-bestiary.db/zombie-horse.json
  packs/data/book-of-the-dead-bestiary.db/minister-of-tumult.json
  packs/data/book-of-the-dead-bestiary.db/shadern-immolator.json
  packs/data/extinction-curse-bestiary.db/hooklimb-xulgath.json
  packs/data/pathfinder-bestiary-3.db/kuchisake-onna.json
Labels: pr: data update

#7268 Add automation to Reliable Squire
  packs/data/actions.db/recall-the-teachings.json
  packs/data/feats.db/reliable-squire.json
Labels: pr: data update

#7264 Fix Ezren (Beginner Box) to have 8 gold pieces
  packs/data/paizo-pregens.db/ezren-beginner-box.json
Labels: pr: data update

#7218 Fix an erroneous at will spell on Quelaunt
  packs/data/pathfinder-bestiary.db/quelaunt.json
Labels: pr: data update

#7231 Update Fire Poi Note RE to DamageDice
  packs/data/equipment.db/fire-poi.json
  packs/data/spell-effects.db/spell-effect-stoneskin.json
  static/lang/re-en.json
Labels: pr: data update

#7256 Hide Rage AC penalty when disabled
  packs/data/classfeatures.db/rage.json
Labels: pr: data update

#7252 Update Gahlepod, Auldegrund Grimcarver, Bunyip Note RE to DamageDice
  packs/data/extinction-curse-bestiary.db/gahlepod.json
  packs/data/one-shot-bestiary.db/auldegrund-grimcarver.json
  packs/data/pathfinder-bestiary.db/bunyip.json
Labels: pr: data update

#7235 add Lyzerium to Lyzerius
  packs/data/outlaws-of-alkenstar-bestiary.db/shoma-lyzerius.json
Labels: pr: data update

#7222 Use "fist" shorthand for granting deity-favored fist strike
  packs/data/classfeatures.db/deific-weapon.json
  packs/data/classfeatures.db/deity.json
  src/module/rules/rule-element/strike.ts
Labels: pr: data update, pr: enhancement

#7251 Add RE automation to Crossbow Crack Shot feat
  packs/data/feats.db/crossbow-crack-shot.json
Labels: pr: data update

#7263 Brushup automation on Living Monolith
  packs/data/equipment.db/ka-stone.json
  packs/data/feats.db/attunement-to-stone.json
  packs/data/feats.db/fortified-flesh.json
  packs/data/feats.db/judgement-of-the-monolith.json
  packs/data/feats.db/ka-stone-ritual.json
  packs/data/feats.db/living-monolith-dedication.json
  packs/data/feats.db/stone-blood.json
  packs/data/feats.db/stone-communion.json
Labels: pr: data update

#7199 Add support for ephemeral effects on damage application
  src/module/chat-message/helpers.ts
  src/module/rules/helpers.ts
Labels: pr: enhancement

#7291 Automate Puff of Poison persistent damage
  packs/data/spells.db/puff-of-poison.json
Labels: pr: data update

#7290 Add character proficiency to perception statistic
  src/module/actor/character/document.ts
Labels: pr: enhancement

#7292 Fix REs and description of Wildwood Ink
  packs/data/equipment.db/wildwood-ink-greater.json
  packs/data/equipment.db/wildwood-ink-major.json
  packs/data/equipment.db/wildwood-ink.json
  static/lang/re-en.json
Labels: pr: data update

#7294 Remove unused .d.mts file in types subpackage
  types/foundry/common/types.d.mts
Labels: pr: types update

#7270 Add Take Cover action implementation
  src/module/actor/actions/simple.ts
  src/module/actor/actions/single-check.ts
  src/module/system/action-macros/basic/take-cover.ts
  src/module/system/action-macros/index.ts
  static/lang/action-en.json
Labels: pr: bugfix, pr: enhancement

#7300 Fix item id in strike damage domains
  src/module/actor/character/document.ts
  src/module/actor/helpers.ts
Labels: pr: bugfix

#7297 Have `resizeEquipment` option of CreatureSize RE treat small as medium
  src/module/rules/rule-element/creature-size.ts
Labels: pr: bugfix

#7302 Add save link to Fling Magic and remove unleveled damage link
  packs/data/actions.db/fling-magic.json
Labels: pr: data update

#7303 Automate Dinosaur Form bleed damage
  packs/data/spell-effects.db/spell-effect-dinosaur-form-deinonychus.json
  packs/data/spell-effects.db/spell-effect-dinosaur-form-triceratops.json
  packs/data/spells.db/dinosaur-form.json
Labels: pr: data update

#7305 Update some spell effects from Notes to DamageDice
  packs/data/spell-effects.db/spell-effect-devil-form-barbazu.json
  packs/data/spell-effects.db/spell-effect-element-embodied-fire.json
  packs/data/spell-effects.db/spell-effect-elemental-gift-fire.json
Labels: pr: data update

#7293 Add brawling trait and icon to Lavasoul Magma Spike, localize labels
  packs/data/feats.db/lavasoul.json
  static/lang/re-en.json
Labels: pr: data update

#7240 Enhance inventory sorting with `SortableJS`
  src/module/actor/sheet/base.ts
  src/module/item/physical/document.ts
  src/styles/actor/_inventory.scss
  static/templates/actors/loot/inventory.hbs
  static/templates/actors/partials/item-line.hbs
Labels: pr: enhancement

#7307 Use `declare` instead of non-nullish assertions on class fields
  src/module/actor/base.ts
  src/module/actor/character/document.ts
  src/module/actor/modifiers.ts
  src/module/actor/npc/document.ts
  src/module/actor/sheet/trick-magic-item-popup.ts
  src/module/apps/compendium-browser/index.ts
  src/module/apps/compendium-browser/tabs/base.ts
  src/module/apps/sidebar/encounter-tracker.ts
  src/module/item/abstract-effect/document.ts
  src/module/item/base.ts
  src/module/item/condition/document.ts
  src/module/item/feat/document.ts
  src/module/item/melee/document.ts
  src/module/item/physical/document.ts
  src/module/item/spell/document.ts
  src/module/item/spellcasting-entry/document.ts
  src/module/scene/token-document/document.ts
Labels: pr: refactor

#7298 Remove Technic Zombie Voltaic Surge roll note
  packs/data/pfs-season-1-bestiary.db/hogweed-leshy-1-2.json
  packs/data/pfs-season-1-bestiary.db/hogweed-leshy-3-4.json
  packs/data/pfs-season-1-bestiary.db/technic-zombie-3-4.json
  packs/data/pfs-season-1-bestiary.db/technic-zombie-5-6.json
Labels: pr: data update

#7308 Fix issue with Seedpod traits. Add Seedpod effect. Automate Thorned Seedpod damage.
  packs/data/feat-effects.db/effect-seedpod.json
  packs/data/feats.db/seedpod.json
  packs/data/feats.db/thorned-seedpod.json
  static/lang/re-en.json
Labels: pr: data update

#7309 Automatically grant Flat-Footed for Armor Tampered effect
  packs/data/feat-effects.db/effect-armor-tampered-with-critical-success.json
  packs/data/feat-effects.db/effect-armor-tampered-with-success.json
Labels: pr: data update

#7312 copy rules for Skill Mastery (Rogue) into Skill Mastery (Investigator)
  packs/data/feats.db/skill-mastery-investigator.json
Labels: pr: data update

#7313 Fix name of Wand of Traitorous Thoughts
  packs/data/equipment.db/wand-of-traitorous-thoughts.json
Labels: pr: data update

#7314 Add arcane theses links to Wizard
  packs/data/classes.db/wizard.json
Labels: pr: data update

#7311 Add radiant wayfinder PFS boon
  packs/data/pathfinder-society-boons.db/wayfinder-radiant.json
Labels: pr: data entry, source: pathfinder society

#7241 Support posting the action description to chat
  src/module/actor/actions/base.ts
  src/module/actor/actions/simple.ts
  src/module/actor/actions/types.ts
  static/templates/actors/actions/base/chat-message-content.hbs
  static/templates/actors/actions/simple/chat-message-flavor.hbs
Labels: pr: enhancement

#7273 Add basic actions without checks
  src/module/system/action-macros/basic/crawl.ts
  src/module/system/action-macros/basic/delay.ts
  src/module/system/action-macros/basic/drop-prone.ts
  src/module/system/action-macros/basic/interact.ts
  src/module/system/action-macros/basic/leap.ts
  src/module/system/action-macros/basic/ready.ts
  src/module/system/action-macros/basic/release.ts
  src/module/system/action-macros/basic/stand.ts
  src/module/system/action-macros/basic/step.ts
  src/module/system/action-macros/basic/stride.ts
  src/module/system/action-macros/index.ts
  static/lang/action-en.json
Labels: pr: enhancement

#7280 Allow actor img on limited sheet to expand to fit
  src/styles/actor/_limited.scss
  static/templates/actors/character/limited.hbs
Labels: pr: enhancement

#7212 Convert Acrobatics skill action functions to action objects
  src/module/system/action-macros/acrobatics/balance.ts
  src/module/system/action-macros/acrobatics/maneuver-in-flight.ts
  src/module/system/action-macros/acrobatics/squeeze.ts
  src/module/system/action-macros/acrobatics/tumble-through.ts
  src/module/system/action-macros/index.ts
  static/lang/action-en.json
Labels: pr: enhancement

#7324 Fix action promise resolving
  src/module/actor/actions/simple.ts
  src/module/actor/actions/single-check.ts
  src/module/system/action-macros/acrobatics/balance.ts
  src/module/system/action-macros/acrobatics/maneuver-in-flight.ts
  src/module/system/action-macros/acrobatics/squeeze.ts
  src/module/system/action-macros/acrobatics/tumble-through.ts
  src/module/system/action-macros/ancestry/automaton/arcane-slam.ts
  src/module/system/action-macros/athletics/climb.ts
  src/module/system/action-macros/athletics/disarm.ts
  src/module/system/action-macros/athletics/force-open.ts
  src/module/system/action-macros/athletics/grapple.ts
  src/module/system/action-macros/athletics/high-jump.ts
  src/module/system/action-macros/athletics/long-jump.ts
  src/module/system/action-macros/athletics/shove.ts
  src/module/system/action-macros/athletics/swim.ts
  src/module/system/action-macros/athletics/trip.ts
  src/module/system/action-macros/athletics/whirling-throw.ts
  src/module/system/action-macros/basic/drop-prone.ts
  src/module/system/action-macros/basic/escape.ts
  src/module/system/action-macros/basic/seek.ts
  src/module/system/action-macros/basic/sense-motive.ts
  src/module/system/action-macros/basic/stand.ts
  src/module/system/action-macros/class/inventor/tamper.ts
  src/module/system/action-macros/crafting/craft.ts
  src/module/system/action-macros/crafting/repair.ts
  src/module/system/action-macros/deception/create-a-diversion.ts
  src/module/system/action-macros/deception/feint.ts
  src/module/system/action-macros/deception/impersonate.ts
  src/module/system/action-macros/deception/lie.ts
  src/module/system/action-macros/diplomacy/bon-mot.ts
  src/module/system/action-macros/diplomacy/gather-information.ts
  src/module/system/action-macros/diplomacy/make-an-impression.ts
  src/module/system/action-macros/diplomacy/request.ts
  src/module/system/action-macros/exploration/avoid-notice.ts
  src/module/system/action-macros/exploration/sense-direction.ts
  src/module/system/action-macros/exploration/track.ts
  src/module/system/action-macros/general/decipher-writing.ts
  src/module/system/action-macros/general/subsist.ts
  src/module/system/action-macros/helpers.ts
  src/module/system/action-macros/intimidation/coerce.ts
  src/module/system/action-macros/intimidation/demoralize.ts
  src/module/system/action-macros/medicine/administer-first-aid.ts
  src/module/system/action-macros/medicine/treat-disease.ts
  src/module/system/action-macros/medicine/treat-poison.ts
  src/module/system/action-macros/nature/command-an-animal.ts
  src/module/system/action-macros/performance/perform.ts
  src/module/system/action-macros/society/create-forgery.ts
  src/module/system/action-macros/stealth/conceal-an-object.ts
  src/module/system/action-macros/stealth/hide.ts
  src/module/system/action-macros/stealth/sneak.ts
  src/module/system/action-macros/thievery/disable-device.ts
  src/module/system/action-macros/thievery/palm-an-object.ts
  src/module/system/action-macros/thievery/pick-a-lock.ts
  src/module/system/action-macros/thievery/steal.ts
Labels: pr: bugfix

#7198 Continue broadening scope of `ActorPF2e#getCheckContext`
  src/module/actor/base.ts
  src/module/actor/character/document.ts
  src/module/actor/creature/document.ts
  src/module/actor/helpers.ts
  src/module/actor/sheet/spellcasting-dialog.ts
  src/module/actor/types.ts
  src/module/actor/values.ts
  src/module/system/check/check.ts
  src/module/system/check/types.ts
  src/module/system/damage/types.ts
  src/module/system/rolls.ts
  src/module/system/statistic/index.ts
  types/foundry/common/utils/primitives.d.ts
Labels: pr: enhancement

#7330 Correct test for when flanking is applied
  src/module/actor/base.ts
Labels: pr: bugfix

#7342 Add Sickened link to BB Xulgath's Stench
  packs/data/menace-under-otari-bestiary.db/xulgath-boss-bb.json
  packs/data/menace-under-otari-bestiary.db/xulgath-warrior-bb.json
Labels: pr: data update

#7333 Fix radius of Horagnamon's Death Throes
  packs/data/kingmaker-bestiary.db/horagnamon.json
Labels: pr: data update

#7332 Fix Trap Finder perception bonus
  packs/data/feats.db/trap-finder.json
Labels: pr: data update

#7331 Brush up daemon form spell effects
  packs/data/spell-effects.db/spell-effect-daemon-form-ceustodaemon.json
  packs/data/spell-effects.db/spell-effect-daemon-form-leukodaemon.json
  packs/data/spell-effects.db/spell-effect-daemon-form-meladaemon.json
  packs/data/spell-effects.db/spell-effect-daemon-form-piscodaemon.json
  static/lang/re-en.json
Labels: pr: data update

#7323 Remove incorrect sourceId from Popcorn
  packs/data/paizo-pregens.db/popcorn.json
Labels: pr: data update

#7345 Fix initiative rolls predicated on certain checks
  src/module/actor/creature/document.ts
  src/module/system/statistic/index.ts
Labels: pr: bugfix

#7349 Fix linking of static assets during build
  package.json
  src/styles/_globals.scss
  src/styles/actor/_coinage.scss
  src/styles/actor/_header.scss
  src/styles/actor/_index.scss
  src/styles/actor/_nav.scss
  src/styles/actor/character/_ability-builder.scss
  src/styles/actor/character/_character.scss
  src/styles/actor/character/_crafting.scss
  src/styles/actor/familiar/_index.scss
  src/styles/actor/hazard/_header.scss
  src/styles/actor/sidebar/_armor.scss
  src/styles/actor/sidebar/_index.scss
  src/styles/actor/vehicle/_index.scss
  src/styles/legacy/_pf2e.scss
  src/styles/mixins/_frames.scss
  src/styles/packs/_nav.scss
  src/styles/system/_upw-viewer.scss
  src/styles/system/journal/critical-fumble-deck.scss
  src/styles/ui/_windows.scss
  src/styles/ui/sidebar/_compendium-directory.scss
Labels: pr: bugfix

#7343 Brush up Monstrosity Form spell effects
  packs/data/spell-effects.db/spell-effect-monstrosity-form-phoenix.json
  packs/data/spell-effects.db/spell-effect-monstrosity-form-purple-worm.json
  packs/data/spell-effects.db/spell-effect-monstrosity-form-sea-serpent.json
  packs/data/spells.db/monstrosity-form.json
  static/lang/re-en.json
Labels: pr: data update

#7351 Brush up Demon Form spell effects
  packs/data/spell-effects.db/spell-effect-daemon-form-meladaemon.json
  packs/data/spell-effects.db/spell-effect-daemon-form-piscodaemon.json
  packs/data/spell-effects.db/spell-effect-demon-form-babau.json
  packs/data/spell-effects.db/spell-effect-demon-form-hezrou.json
  packs/data/spell-effects.db/spell-effect-demon-form-nabasu.json
  packs/data/spell-effects.db/spell-effect-demon-form-vrock.json
  static/lang/re-en.json
Labels: pr: data update

#7354 Support adding members to parties
  src/module/actor/creature/document.ts
  src/module/actor/party/data.ts
  src/module/actor/party/document.ts
Labels: pr: enhancement

#7360 Fix for extractPacks
  packs/scripts/lib/extractor.ts
Labels: pr: bugfix, pr: housekeeping

#7356 Correct spell list for Marrmora.
  packs/data/pathfinder-bestiary-2.db/marrmora.json
Labels: pr: data update, source: rulebooks

#7355 Correct heightening for Frightful Feast
  packs/data/spells.db/fearful-feast.json
Labels: source: adventure path, pr: data update

#7352 Drop support of foundryconfig.json in favor of symlinking
  CONTRIBUTING.md
  foundryconfig.example.json
  package-lock.json
  package.json
  packs/scripts/extract.ts
  packs/scripts/lib/extractor.ts
  scripts/link.ts
  src/styles/_forms.scss
  src/styles/_globals.scss
  src/styles/actor/_coinage.scss
  src/styles/actor/_header.scss
  src/styles/actor/_index.scss
  src/styles/actor/_nav.scss
  src/styles/actor/character/_ability-builder.scss
  src/styles/actor/character/_character.scss
  src/styles/actor/character/_crafting.scss
  src/styles/actor/familiar/_index.scss
  src/styles/actor/hazard/_header.scss
  src/styles/actor/sidebar/_armor.scss
  src/styles/actor/sidebar/_index.scss
  src/styles/actor/vehicle/_index.scss
  src/styles/legacy/_pf2e.scss
  src/styles/mixins/_frames.scss
  src/styles/packs/_nav.scss
  src/styles/system/_upw-viewer.scss
  src/styles/system/journal/critical-fumble-deck.scss
  src/styles/ui/_windows.scss
  src/styles/ui/sidebar/_compendium-directory.scss
  static/system.json
  vite.config.ts
Labels: pr: housekeeping

#7363 Update signature of `Token#toggleCombat` method
  src/module/canvas/token/object.ts
  types/foundry/client/pixi/placeable-object/token.d.ts
Labels: pr: types update

#7364 Add party members to initiative instead of self
  src/module/actor/party/document.ts
  src/module/encounter/combatant.ts
  src/module/scene/token-document/document.ts
Labels: pr: enhancement

#7367 Fix display on other-speed labels on creature sheets
  src/module/actor/modifiers.ts
Labels: pr: bugfix

#7368 Update types of BattleForm RE's IWR options
  src/module/rules/rule-element/battle-form/types.ts
  src/module/rules/rule-element/iwr/index.ts
Labels: pr: types update

#7373 Remove ts-node, tweak linking script
  package-lock.json
  package.json
  scripts/link.ts
  tsconfig.json
Labels: pr: housekeeping

#7374 Replace ts-jest with es-jest
  jest.config.json
  package-lock.json
  package.json
  src/module/apps/world-clock/animate-darkness.ts
  src/module/apps/world-clock/app.ts
  src/module/data.ts
  src/module/system/settings/world-clock.ts
Labels: pr: housekeeping

#7326 Convert Thievery skill actions
  src/module/actor/actions/single-check.ts
  src/module/system/action-macros/index.ts
  src/module/system/action-macros/thievery/disable-device.ts
  src/module/system/action-macros/thievery/palm-an-object.ts
  src/module/system/action-macros/thievery/pick-a-lock.ts
  src/module/system/action-macros/thievery/steal.ts
  static/lang/action-en.json
Labels: pr: enhancement

#7338 Convert remaining basic actions
  src/module/actor/actions/single-check.ts
  src/module/system/action-macros/basic/escape.ts
  src/module/system/action-macros/basic/seek.ts
  src/module/system/action-macros/basic/sense-motive.ts
  src/module/system/action-macros/index.ts
  static/lang/action-en.json
Labels: pr: enhancement

#7339 Convert remaining Stealth skill action
  src/module/system/action-macros/index.ts
  src/module/system/action-macros/stealth/conceal-an-object.ts
  static/lang/action-en.json
Labels: pr: enhancement

#7340 Convert Society skill action
  src/module/actor/actions/single-check.ts
  src/module/system/action-macros/index.ts
  src/module/system/action-macros/society/create-forgery.ts
  static/lang/action-en.json
Labels: pr: refactor

#7375 Add explicit return types to action methods
  src/module/actor/actions/base.ts
  src/module/actor/actions/simple.ts
  src/module/actor/actions/single-check.ts
Labels: pr: housekeeping

#7376 Fix version of tagify dependency
  package-lock.json
  package.json
Labels: pr: bugfix

#7382 Convert medicine skill actions
  src/module/actor/actions/base.ts
  src/module/actor/actions/single-check.ts
  src/module/actor/actions/types.ts
  src/module/system/action-macros/index.ts
  src/module/system/action-macros/medicine/administer-first-aid.ts
  src/module/system/action-macros/medicine/treat-disease.ts
  src/module/system/action-macros/medicine/treat-poison.ts
  static/lang/action-en.json
Labels: pr: enhancement, pr: refactor

#7121 Use CRB language for creature identification info on NPC sheet
  package-lock.json
  src/module/actor/npc/data.ts
  src/module/actor/npc/document.ts
  src/module/actor/npc/sheet.ts
  src/module/actor/npc/types.ts
  src/module/actor/sheet/base.ts
  src/module/actor/sheet/popups/recall-knowledge-popup.ts
  src/module/dc.ts
  src/module/recall-knowledge.ts
  src/scripts/config/index.ts
  src/util/misc.ts
  static/lang/en.json
  static/templates/actors/npc/tabs/main.hbs
  static/templates/actors/recall-knowledge.hbs
  tests/module/dc.test.ts
  tests/module/recall-knowledge.test.ts
Labels: pr: enhancement, ui/ux

#7391 Fix path of dummy CSS file served from HMR server
  .gitignore
  vite.config.ts
Labels: pr: housekeeping

#7390 Fix some stringified levels and missing aura slugs
  packs/data/equipment.db/witch-token.json
  packs/data/stolen-fate-bestiary.db/bhanyada-behemoth.json
  packs/data/stolen-fate-bestiary.db/bhanyada-scavenger.json
  packs/data/stolen-fate-bestiary.db/bhanyada-swarm.json
  packs/data/stolen-fate-bestiary.db/blade-magus.json
  packs/data/stolen-fate-bestiary.db/vharnev-the-butcher.json
Labels: pr: data update

#7392 Fix several issues with battle forms
  src/module/actor/character/data/types.ts
  src/module/actor/character/document.ts
  src/module/rules/rule-element/battle-form/rule-element.ts
Labels: pr: bugfix

#7359 Brush up Ooze Form spell effects
  packs/data/spell-effects.db/spell-effect-ooze-form-black-pudding.json
  packs/data/spell-effects.db/spell-effect-ooze-form-gelatinous-cube.json
  packs/data/spell-effects.db/spell-effect-ooze-form-gray-ooze.json
  packs/data/spell-effects.db/spell-effect-ooze-form-ochre-jelly.json
  packs/data/spells.db/ooze-form.json
  static/lang/re-en.json
Labels: pr: data update

#7384 Convert intimidation skill actions
  src/module/system/action-macros/index.ts
  src/module/system/action-macros/intimidation/coerce.ts
  src/module/system/action-macros/intimidation/demoralize.ts
  static/lang/action-en.json
Labels: pr: refactor

#7377 Brush up Aerial Form spell effects
  packs/data/spell-effects.db/spell-effect-aerial-form-bat.json
  packs/data/spell-effects.db/spell-effect-aerial-form-bird.json
  packs/data/spell-effects.db/spell-effect-aerial-form-pterosaur.json
  packs/data/spell-effects.db/spell-effect-aerial-form-wasp.json
  packs/data/spells.db/aerial-form.json
Labels: pr: data update

#7378 Fix name of Blessed Reformer and Wand of Pernicious Poison (Purple Worm Sting). Fix level and price of Vigilant Eye (Major).
  packs/data/equipment.db/blessed-reformer.json
  packs/data/equipment.db/vigilant-eye-major.json
  packs/data/equipment.db/wand-of-pernicious-poison-purple-worm-sting.json
Labels: pr: data update

#7379 Update source of Energy Mutagen and Stone Body Mutagen
  packs/data/equipment-effects.db/effect-energy-mutagen-greater.json
  packs/data/equipment-effects.db/effect-energy-mutagen-lesser.json
  packs/data/equipment-effects.db/effect-energy-mutagen-major.json
  packs/data/equipment-effects.db/effect-energy-mutagen-moderate.json
  packs/data/equipment-effects.db/effect-stone-body-mutagen-greater.json
  packs/data/equipment-effects.db/effect-stone-body-mutagen-lesser.json
  packs/data/equipment-effects.db/effect-stone-body-mutagen-moderate.json
  packs/data/equipment.db/energy-mutagen-greater.json
  packs/data/equipment.db/energy-mutagen-lesser.json
  packs/data/equipment.db/energy-mutagen-major.json
  packs/data/equipment.db/energy-mutagen-moderate.json
  packs/data/equipment.db/stone-body-mutagen-greater.json
  packs/data/equipment.db/stone-body-mutagen-lesser.json
  packs/data/equipment.db/stone-body-mutagen-moderate.json
Labels: pr: data update

#7380 Fix heightened level of Spell Effect: Monstrosity Form (Phoenix) beak fire damage
  packs/data/spell-effects.db/spell-effect-monstrosity-form-phoenix.json
Labels: pr: data update

#7381 Brush up Cosmic Form spell effects
  packs/data/spell-effects.db/spell-effect-cosmic-form-moon.json
  packs/data/spell-effects.db/spell-effect-cosmic-form-sun.json
  static/lang/re-en.json
Labels: pr: data update

#7389 Update Legion Archon from Note to DamageDice
  packs/data/pathfinder-bestiary.db/lantern-archon-gestalt.json
  packs/data/pathfinder-bestiary.db/legion-archon.json
Labels: pr: data update

#7269 Add ability to delete Ancestry/Heritage/Class/Background/Deity from PC sheet
  src/module/actor/character/sheet.ts
  src/module/actor/sheet/base.ts
  src/scripts/handlebars.ts
  src/scripts/register-templates.ts
  src/styles/actor/character/_character.scss
  static/templates/actors/character/partials/detail-item.hbs
  static/templates/actors/character/tabs/general.hbs
Labels: pr: enhancement, ui/ux

#7366 Brush up Elemental Form spell effects
  packs/data/spell-effects.db/spell-effect-elemental-form-air.json
  packs/data/spell-effects.db/spell-effect-elemental-form-earth.json
  packs/data/spell-effects.db/spell-effect-elemental-form-fire.json
  packs/data/spell-effects.db/spell-effect-elemental-form-water.json
  packs/data/spells.db/elemental-form.json
  static/lang/re-en.json
Labels: pr: data update

#7399 Organize all build scripts into build/ directory
  build/build-packs.ts
  build/core-icons.json
  build/extract-packs.ts
  build/lib/compendium-pack.ts
  build/lib/extractor.ts
  build/lib/helpers.ts
  build/lib/types.ts
  build/link-foundry.ts
  build/run-migration.ts
  package.json
Labels: pr: housekeeping

#7395 Fill out missing return types
  src/module/actor/sheet/base.ts
  src/module/chat-message/chat-roll-details.ts
  src/module/item/sheet/rule-elements/base.ts
  src/module/item/sheet/rule-elements/flat-modifier-form.ts
  src/module/item/sheet/rule-elements/grant-item-form.ts
  src/module/item/sheet/rule-elements/roll-note-form.ts
  src/module/item/weapon/sheet.ts
Labels: pr: housekeeping, pr: types update

#7400 Run extractPacks all and current migrations
  packs/data/equipment.db/hallajin-key.json
  packs/data/feats.db/eyes-of-the-city.json
  packs/data/feats.db/fleeing-diversion.json
  packs/data/feats.db/half-truths.json
  packs/data/feats.db/rolling-landing.json
  packs/data/feats.db/slippery-prey.json
  packs/data/feats.db/tumbling-theft.json
  packs/data/pfs-season-4-bestiary.db/in-the-witchs-clutches.json
  packs/data/pfs-season-4-bestiary.db/in-the-witchs-grasp.json
  packs/data/pfs-season-4-bestiary.db/transformed-bremix-9-10.json
Labels: pr: data update

#7407 Add slashing damage link to Envenom
  packs/data/actions.db/envenom.json
Labels: pr: data update

#7394 Preserve javascript identifiers in production builds
  package-lock.json
  package.json
  vite.config.ts
Labels: pr: housekeeping

#7406 Convert general skill actions
  src/module/system/action-macros/general/decipher-writing.ts
  src/module/system/action-macros/general/subsist.ts
  src/module/system/action-macros/index.ts
  static/lang/action-en.json
Labels: pr: refactor

#7412 Update out-of-date-module check to nag about sub-V10 modules
  src/scripts/hooks/ready.ts
  types/foundry/client/game.d.ts
Labels: pr: enhancement

#7383 Brush up Dinosaur Form spell effects
  packs/data/spell-effects.db/spell-effect-dinosaur-form-ankylosaurus.json
  packs/data/spell-effects.db/spell-effect-dinosaur-form-brontosaurus.json
  packs/data/spell-effects.db/spell-effect-dinosaur-form-deinonychus.json
  packs/data/spell-effects.db/spell-effect-dinosaur-form-stegosaurus.json
  packs/data/spell-effects.db/spell-effect-dinosaur-form-triceratops.json
  packs/data/spell-effects.db/spell-effect-dinosaur-form-tyrannosaurus.json
Labels: pr: data update

#7396 Add saving throw links to Spellstriker Staff
  packs/data/equipment.db/spellstriker-staff-greater.json
  packs/data/equipment.db/spellstriker-staff-major.json
  packs/data/equipment.db/spellstriker-staff.json
Labels: pr: data update

#7421 Fix nedb query in choice set of Multitalented feat
  packs/data/feats.db/multitalented.json
Labels: pr: data update

#7422 Show token icons for several limited-duration effects
  packs/data/bestiary-effects.db/effect-bark-orders.json
  packs/data/bestiary-effects.db/effect-consume-memories.json
  packs/data/bestiary-effects.db/effect-darivans-bloodline-magic.json
  packs/data/bestiary-effects.db/effect-defensive-slice.json
  packs/data/bestiary-effects.db/effect-susceptible-to-mockery-critical-failure.json
  packs/data/campaign-effects.db/effect-burned-tongue-no-singing-or-yelling.json
  packs/data/equipment-effects.db/effect-brewers-regret-greater.json
  packs/data/equipment-effects.db/effect-brewers-regret.json
  packs/data/equipment-effects.db/effect-crown-of-the-kobold-king.json
  packs/data/equipment-effects.db/effect-deadweight-snare-failure-critical-failure.json
  packs/data/equipment-effects.db/effect-deadweight-snare-success.json
  packs/data/equipment-effects.db/effect-dragonfly-potion.json
  packs/data/equipment-effects.db/effect-dragons-blood-pudding-greater.json
  packs/data/equipment-effects.db/effect-dragons-blood-pudding-major.json
  packs/data/equipment-effects.db/effect-dragons-blood-pudding-moderate.json
  packs/data/equipment-effects.db/effect-energy-robe-of-electricity.json
  packs/data/equipment-effects.db/effect-energy-robe-of-fire.json
  packs/data/equipment-effects.db/effect-enhanced-hearing-aids.json
  packs/data/equipment-effects.db/effect-glittering-snare-critical-failure.json
  packs/data/equipment-effects.db/effect-glittering-snare-failure.json
  packs/data/equipment-effects.db/effect-glittering-snare-success.json
  packs/data/equipment-effects.db/effect-grasp-of-droskar.json
  packs/data/equipment-effects.db/effect-heartripper-blade.json
  packs/data/equipment-effects.db/effect-krakens-guard.json
  packs/data/equipment-effects.db/effect-malleable-mixture-greater.json
  packs/data/equipment-effects.db/effect-malleable-mixture-lesser.json
  packs/data/equipment-effects.db/effect-mudrock-snare-failure.json
  packs/data/equipment-effects.db/effect-mudrock-snare-success.json
  packs/data/equipment-effects.db/effect-nosoi-charm-lifesense.json
  packs/data/equipment-effects.db/effect-rowan-rifle-cold.json
  packs/data/equipment-effects.db/effect-rowan-rifle-electricity.json
  packs/data/equipment-effects.db/effect-rowan-rifle-sonic.json
  packs/data/equipment-effects.db/effect-silkspinners-shield-animated-strike.json
  packs/data/equipment-effects.db/effect-silkspinners-shield-climb.json
  packs/data/equipment-effects.db/effect-tallowheart-mass.json
  packs/data/feat-effects.db/effect-aldori-parry.json
  packs/data/feat-effects.db/effect-arcane-propulsion.json
  packs/data/feat-effects.db/effect-augment-senses.json
  packs/data/feat-effects.db/effect-brightness-seeker.json
  packs/data/feat-effects.db/effect-channel-the-godmind.json
  packs/data/feat-effects.db/effect-core-cannon.json
  packs/data/feat-effects.db/effect-elemental-assault.json
  packs/data/feat-effects.db/effect-energize-wings.json
  packs/data/feat-effects.db/effect-fiendish-wings.json
  packs/data/feat-effects.db/effect-fortify-shield.json
  packs/data/feat-effects.db/effect-hungry-goblin.json
  packs/data/feat-effects.db/effect-life-giving-magic.json
  packs/data/feat-effects.db/effect-mutate-weapon.json
  packs/data/feat-effects.db/effect-nanite-surge.json
  packs/data/feat-effects.db/effect-reckless-abandon-goblin.json
  packs/data/feat-effects.db/effect-shadow-sight.json
  packs/data/feat-effects.db/effect-shed-tail.json
  packs/data/feat-effects.db/effect-victorious-vigor.json
  packs/data/feat-effects.db/effect-wings-of-air.json
  packs/data/spell-effects.db/spell-effect-blunt-the-final-blade-critical-success.json
  packs/data/spell-effects.db/spell-effect-resist-energy.json
Labels: pr: data update

#7415 "Hardness" of boulder seed (greater)
  packs/data/equipment.db/boulder-seed-greater.json
Labels: pr: data update

#7397 Brush up Aberrant Form spell effects
  packs/data/spell-effects.db/spell-effect-aberrant-form-chuul.json
  packs/data/spell-effects.db/spell-effect-aberrant-form-gogiteth.json
  packs/data/spell-effects.db/spell-effect-aberrant-form-gug.json
  packs/data/spell-effects.db/spell-effect-aberrant-form-otyugh.json
  static/lang/re-en.json
Labels: pr: data update

#7398 Brush up Elephant Form spell effect
  packs/data/spell-effects.db/spell-effect-elephant-form.json
Labels: pr: data update

#7402 Brush up Insect Form spell effects
  packs/data/spell-effects.db/spell-effect-insect-form-ant.json
  packs/data/spell-effects.db/spell-effect-insect-form-beetle.json
  packs/data/spell-effects.db/spell-effect-insect-form-centipede.json
  packs/data/spell-effects.db/spell-effect-insect-form-mantis.json
  packs/data/spell-effects.db/spell-effect-insect-form-scorpion.json
  packs/data/spell-effects.db/spell-effect-insect-form-spider.json
  packs/data/spells.db/insect-form.json
  static/lang/re-en.json
Labels: pr: data update

#7403 Set Corrosive Body DamageDice die size and localize notes
  packs/data/spell-effects.db/spell-effect-corrosive-body-heightened-9th.json
  packs/data/spell-effects.db/spell-effect-corrosive-body.json
  static/lang/re-en.json
Labels: pr: data update

#7404 Fix Enfeebled value for Spiritual Epidemic Critical Failure
  packs/data/spells.db/spiritual-epidemic.json
Labels: pr: data update

#7405 Brush up Plant Form spell effects
  packs/data/spell-effects.db/spell-effect-plant-form-arboreal.json
  packs/data/spell-effects.db/spell-effect-plant-form-flytrap.json
  packs/data/spell-effects.db/spell-effect-plant-form-shambler.json
  packs/data/spells.db/plant-form.json
Labels: pr: data update

#7410 Brush up Animal Form spell effects
  packs/data/spell-effects.db/spell-effect-animal-form-ape.json
  packs/data/spell-effects.db/spell-effect-animal-form-bear.json
  packs/data/spell-effects.db/spell-effect-animal-form-bull.json
  packs/data/spell-effects.db/spell-effect-animal-form-canine.json
  packs/data/spell-effects.db/spell-effect-animal-form-cat.json
  packs/data/spell-effects.db/spell-effect-animal-form-deer.json
  packs/data/spell-effects.db/spell-effect-animal-form-frog.json
  packs/data/spell-effects.db/spell-effect-animal-form-shark.json
  packs/data/spell-effects.db/spell-effect-animal-form-snake.json
  packs/data/spells.db/animal-form.json
Labels: pr: data update

#7411 Brush up Devil Form spell effects
  packs/data/spell-effects.db/spell-effect-devil-form-barbazu.json
  packs/data/spell-effects.db/spell-effect-devil-form-erinys.json
  packs/data/spell-effects.db/spell-effect-devil-form-osyluth.json
  packs/data/spell-effects.db/spell-effect-devil-form-sarglagon.json
Labels: pr: data update

#7413 Brush up Fey Form spell effects
  packs/data/spell-effects.db/spell-effect-fey-form-dryad.json
  packs/data/spell-effects.db/spell-effect-fey-form-elananx.json
  packs/data/spell-effects.db/spell-effect-fey-form-naiad.json
  packs/data/spell-effects.db/spell-effect-fey-form-redcap.json
  packs/data/spell-effects.db/spell-effect-fey-form-unicorn.json
  static/lang/re-en.json
Labels: pr: data update

#7417 Update descriptions of Beast Staff and remove extraneous frost rune
  packs/data/equipment.db/beast-staff-greater.json
  packs/data/equipment.db/beast-staff-major.json
Labels: pr: data update

#7414 Start phasing out `LocalizePF2e`
  src/scripts/config/index.ts
  src/scripts/hooks/render-dialog.ts
  src/scripts/macros/encouraging-words.ts
  src/scripts/macros/hotbar.ts
  src/scripts/macros/raise-a-shield.ts
  src/scripts/macros/rest-for-the-night.ts
  src/scripts/macros/steel-your-resolve.ts
  src/scripts/register-sheets.ts
  src/scripts/system/remigrate.ts
  src/util/misc.ts
Labels: pr: refactor

#7426 Infer `magical` trait for armor and weapons in the compendium browser
  src/module/apps/compendium-browser/tabs/equipment.ts
Labels: pr: bugfix

#7430 Restore tag selector listeners on NPC sheet
  static/templates/actors/npc/partials/sidebar.hbs
  static/templates/actors/npc/tabs/main.hbs
Labels: pr: bugfix

#7428 Fix rarity of Blightburn Bomb
  packs/data/equipment.db/blightburn-bomb-greater.json
  packs/data/equipment.db/blightburn-bomb.json
Labels: pr: data update

#7336 Delete adjustment trait of portable hole item
  packs/data/equipment.db/portable-hole.json
Labels: pr: data update

#7427 Fix Kundal's level
  packs/data/kingmaker-bestiary.db/kundal.json
Labels: pr: data update

#7429 Brush up Dragon Form spell effects
  packs/data/spell-effects.db/spell-effect-dragon-form-black.json
  packs/data/spell-effects.db/spell-effect-dragon-form-blue.json
  packs/data/spell-effects.db/spell-effect-dragon-form-brass.json
  packs/data/spell-effects.db/spell-effect-dragon-form-bronze.json
  packs/data/spell-effects.db/spell-effect-dragon-form-copper.json
  packs/data/spell-effects.db/spell-effect-dragon-form-gold.json
  packs/data/spell-effects.db/spell-effect-dragon-form-green.json
  packs/data/spell-effects.db/spell-effect-dragon-form-red.json
  packs/data/spell-effects.db/spell-effect-dragon-form-silver.json
  packs/data/spell-effects.db/spell-effect-dragon-form-white.json
  packs/data/spells.db/dragon-form.json
Labels: pr: data update

#7393 Add content from the Stolen Fate Player's Guide
  packs/data/actions.db/a-quick-glimpse-beyond.json
  packs/data/actions.db/avoid-dire-fate.json
  packs/data/actions.db/chaotic-destiny.json
  packs/data/actions.db/fated-note-to-die.json
  packs/data/actions.db/harrow-the-fiend.json
  packs/data/actions.db/lucky-break.json
  packs/data/actions.db/recall-under-pressure.json
  packs/data/backgrounds.db/bookish-providence.json
  packs/data/backgrounds.db/crown-of-chaos.json
  packs/data/backgrounds.db/hammered-by-fate.json
  packs/data/backgrounds.db/keys-to-destiny.json
  packs/data/backgrounds.db/shielded-fortune.json
  packs/data/backgrounds.db/writ-in-the-stars.json
  packs/data/classfeatures.db/bloodline-harrow.json
  packs/data/classfeatures.db/bloodline.json
  packs/data/feat-effects.db/effect-benevolent-spirit-deck.json
  packs/data/feat-effects.db/effect-harrow-omen.json
  packs/data/feat-effects.db/effect-harrow-the-fiend.json
  packs/data/feat-effects.db/effect-recall-under-pressure.json
  packs/data/feats.db/benevolent-spirit-deck.json
  packs/data/feats.db/experienced-harrower.json
  packs/data/feats.db/harrow-casting.json
  packs/data/feats.db/harrow-ritualist.json
  packs/data/feats.db/harrower-dedication.json
  packs/data/feats.db/reading-the-signs.json
  packs/data/feats.db/restore-omen.json
  packs/data/feats.db/vengeful-spirit-deck.json
  packs/data/journals.db/archetypes.json
  packs/data/spells.db/harrowing.json
  packs/data/spells.db/invoke-the-harrow.json
  packs/data/spells.db/rewrite-possibility.json
  packs/data/spells.db/unraveling-blast.json
  static/lang/re-en.json
  static/licenses/OpenGameLicense.md
Labels: source: adventure path, pr: data entry

#7316 Add unified Effect: Energizing Rune and migrate old links
  build/run-migration.ts
  packs/data/equipment-effects.db/effect-energizing-rune-acid.json
  packs/data/equipment-effects.db/effect-energizing-rune-cold.json
  packs/data/equipment-effects.db/effect-energizing-rune-electricity.json
  packs/data/equipment-effects.db/effect-energizing-rune-fire.json
  packs/data/equipment-effects.db/effect-energizing-rune-sonic.json
  packs/data/equipment-effects.db/effect-energizing-rune.json
  packs/data/equipment.db/energizing.json
  src/module/migration/migrations/836-energizing-consolidation.ts
  src/module/migration/migrations/index.ts
  src/module/migration/runner/base.ts
Labels: pr: data migration, pr: data update

#7431 Use node 18 in CI/CD actions
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
Labels: pr: housekeeping

#7433 Fix localization of item creation dialog labels
  src/scripts/hooks/render-dialog.ts
Labels: pr: bugfix

#7432 Strip unidentified and badge: null from extracted effects
  build/lib/extractor.ts
Labels: pr: housekeeping

#7160 Move rest of XP macro to system codebase
  packs/data/macros.db/xp.json
  src/global.d.ts
  src/scripts/macros/index.ts
  src/scripts/macros/xp/dialog.ts
  src/scripts/macros/xp/index.ts
  src/scripts/set-game-pf2e.ts
  tests/module/xp.test.ts
  types/foundry/client/ui/dialog.d.ts
Labels: pr: refactor

#7289 Add initial work on Party Sheet
  pf2e.css
  src/module/actor/creature/data.ts
  src/module/actor/creature/document.ts
  src/module/actor/party/document.ts
  src/module/actor/party/sheet.ts
  src/module/actor/party/types.ts
  src/module/item/physical/helpers.ts
  src/scripts/register-sheets.ts
  src/styles/actor/_index.scss
  src/styles/actor/_nav.scss
  src/styles/actor/character/_index.scss
  src/styles/actor/party/_index.scss
  src/styles/actor/party/_inventory.scss
  src/styles/actor/party/_overview.scss
  static/assets/sheet/accent-decoration.webp
  static/assets/sheet/sub-nav-decoration.png
  static/assets/sheet/sub-nav-decoration.webp
  static/lang/en.json
  static/templates/actors/character/tabs/actions.hbs
  static/templates/actors/party/regions/inventory-members.hbs
  static/templates/actors/party/regions/overview.hbs
  static/templates/actors/party/sheet.hbs
  types/foundry/client/application/base.d.ts
  types/foundry/client/core/hooks.d.ts
Labels: pr: new feature, ui/ux

#7434 Show toggle suboptions on NPC sheet
  src/styles/actor/npc/_index.scss
  static/templates/actors/npc/tabs/main.hbs
Labels: pr: enhancement

#7447 Fix price of Alchemist's Haversack
  packs/data/equipment.db/alchemists-haversack.json
Labels: pr: data update

#7443 Clean up Pest Form description and remove brawling from Shifting Form (Claws)
  packs/data/spell-effects.db/spell-effect-pest-form.json
  packs/data/spell-effects.db/spell-effect-shifting-form-claws.json
  packs/data/spells.db/pest-form.json
Labels: pr: data update

#7438 Add Entangle spell effect
  packs/data/spell-effects.db/spell-effect-entangle.json
  packs/data/spells.db/entangle.json
Labels: pr: data update

#7436 Brush up Nature Incarnate spell effects
  packs/data/spell-effects.db/spell-effect-nature-incarnate-green-man.json
  packs/data/spell-effects.db/spell-effect-nature-incarnate-kaiju.json
  packs/data/spells.db/nature-incarnate.json
Labels: pr: data update

#7437 Brush up Element Embodied spell effects
  packs/data/spell-effects.db/spell-effect-element-embodied-air.json
  packs/data/spell-effects.db/spell-effect-element-embodied-earth.json
  packs/data/spell-effects.db/spell-effect-element-embodied-fire.json
  packs/data/spell-effects.db/spell-effect-element-embodied-water.json
  static/lang/re-en.json
Labels: pr: data update

#7441 Add damage and spell links to Fiery Body
  packs/data/spell-effects.db/spell-effect-fiery-body-9th-level.json
  packs/data/spell-effects.db/spell-effect-fiery-body.json
  packs/data/spells.db/fiery-body.json
Labels: pr: data update

#7442 Brush up Rampaging Form effects
  packs/data/feat-effects.db/effect-rampaging-form-frozen-winds-kitsune.json
  packs/data/feat-effects.db/effect-rampaging-form.json
Labels: pr: data update

#7444 Automate Piercing Quills bleed damage
  packs/data/feats.db/piercing-quills.json
  packs/data/feats.db/spine-stabber.json
  static/lang/re-en.json
Labels: pr: data update
